<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/home/news/css/public.css"/>
		<link rel="stylesheet" href="__PUBLIC__/home/news/css/headfoot.css"/>
		<script type="text/javascript" src="__PUBLIC__/home/news/js/jquery-1.8.3.min.js"></script>
	</head>
	<body>
		<!--页头-->
			<div class="autheader">
				<div class="autmain">
					<div class="autmain_left">
						<ul>
							<li class="iconaut"><a href="{:U('Index/index')}" >卡车之家</a></li>
							<li class="autline"></li>
							<li><a href="{:U('Xproduct/index')}" >卡车报价</a></li>
							<li class="autline"></li>
							<li><a href="{:U('Xproduct/imgindex')}" >卡车图库</a></li>
							<li class="autline"></li>
							<li><a href="{:U('Xarticle/index')}" >卡车新闻</a></li>
							<li class="autline"></li>
							<li><a href="{:U('Sindex/index')}" >卡车商城</a></li>

							<li class="autline"></li>
							<li><a href="{:U('Lindex/index')}" >卡车论坛</a></li>
						</ul>

					</div>
					<div class="autmain_right">
						<if condition="$Think.session.user eq null">
						<div style="z-index: 5;" class="login_che"><a href="{:U('User/login')}" class="loginaq">登录</a></div>
						<div class="autline"></div>
						<div style="z-index: 5;" class="login_che"><a href="{:U('User/register')}" class="loginaq">注册</a></div>
						<!-- <div class="autline"></div> -->
						<!-- <div style="z-index: 1;" class="aut_login">
							<a class="aut_login_ma" href="javascript:void(0)">第三方登录<em></em></a>
							<div style="display: none;" class="nav_w aut_login_box">

								<ul style="margin-top: 0px;">
									<li class="aut_l_b_a"><a href=""><em class="qqicon"></em>QQ帐号</a></li>
									<li class="aut_l_b_a"><a href=""><em class="wbicon"></em>微博</a></li>
									<li class="aut_l_b_a"><a href=""><em class="wxicon"></em>微信</a></li>
								</ul>

							</div>
						</div> -->
						<!-- <div class="autline"></div> -->
						<else/>
						<div class="deng_hou" style="z-index: 1;">
							<a href="{:U('User/userindex')}" class="aut_user_ma"  id="ac">
								{$Think.session.user.username}
								<em></em>

							</a>
							<div class="nav_w aut_user_box" style="" id="al">
								<ul style="margin-top: 1px;">
									<li class="aut_user_a">
										<a href="{:U('User/userindex')}" >我的个人中心</a>
									</li>
									<li class="aut_user_a aut_l_line">
										<a href="{:U('User/logout')}">退出</a>
									</li>
								</ul>
							</div>
							<!--<script>
								$(function(){
									$('#ac').hover(function(){
										$('#al').css("display","block");
									})
								})
							</script>-->
						</div>
					</if>

						<!-- <div style="z-index: 1;" class="aut_map">
							<a class="aut_login_ma" href="javascript:void(0)">网站地图<em></em></a>

						</div> -->

					</div>
				</div>
			</div>
		<!--页尾-->
		<block name="main">


		</block>


		<!--页尾 start-->
			<div class="footer_bbs">
				<p>
					<a href="" target="_blank" class="gred9">关于我们</a>
					<a href="" target="_blank" class="gred9">联系我们</a>
					<a href="" target="_blank" class="gred9">工作机会</a>
					<a href="" target="_blank" class="gred9">网站地图</a>
					<a href="" target="_blank" class="gred9">广告合作</a><span class="fbbsline">|</span>
					<a href="" target="_blank" class="gred9"><em class="footios"></em>iPhone客户端 / <em class="footand"></em>Android客户端</a><span class="fbbsline">|</span>
					<a href="" target="_blank" class="gred9">意见反馈</a>
				</p>
				<p>经营许可证编号：京ICP证080575号 / 京ICP备09080840号 京公网安备110105007230</p>
				<p></p>
				<p>
					<span style="font-family:arial;">Copyright ©</span>2009 www.360che.com All Rights Reserved. <a target="_self" href="" class="gred9">卡车之家</a> 版权所有
				</p>
			</div>
		<!--页尾  end-->

	</body>
</html>