<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bbs/css/index.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bbs/css/public.css">
	<link rel="stylesheet" href="__PUBLIC__/bbs/css/fatie.css">
	<link rel="stylesheet" href="__PUBLIC__/bbs/css/loginbox.css">
    <link rel="stylesheet" href="__PUBLIC__/bbs/css/bodypatch.css">
    <link rel="stylesheet" href="__PUBLIC__/bbs/css/newpost.css">
    <link href="__PUBLIC__/bbs/css/style_1_common.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/bbs/css/jlb.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/bbs/css/style_1_float.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/bbs/css/topicmain.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/bbs/css/detail.css">
    <link rel="stylesheet" href="__PUBLIC__/bbs/css/play.css">
    <link rel="stylesheet" href="__PUBLIC__/bbs/css/share_style0_16.css">
    <link rel="stylesheet" href="__PUBLIC__/bbs/css/style_1_calendar.css">
    <link rel="stylesheet" href="__PUBLIC__/bbs/css/topicmain.css">

    <script src="__PUBLIC__/UEditor/ueditor.config.js"></script>
    <script src="__PUBLIC__/UEditor/ueditor.all.min.js"></script>
	<script src="__PUBLIC__/bbs/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/bbs/js/lunbo.js"></script>
</head>
	<body>

		<include file="Public/Lheader"/>

		<div>
			<block name="main">主要内容</block>
		</div>
		<div style="clear:both"></div>
        <include file="Public/Lfooter"/>

	</body>
</html>