<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="logo">
		<div class="nav">
			<div class="navleft">
				<a href="{:U('Index/index')}" target="">卡车之家首页</a> |
				<a href="{:U('Lindex/index')}" target="">卡车之家论坛首页</a> |
				<a style="color: rgb(255, 0, 0);" href="{:U('Sindex/index')}" target="">卡车之家商城</a>
			</div>
		</div>

		<div class="bbslogo">
    		<div class="bbslogoleft"><a href="{:U('Lindex/index')}"><img src="__PUBLIC__/bbs/images/bbslogo.gif" alt="卡车之家论坛" height="60" width="220"></a></div>
        	<div class="bbslogoright">
 				<a href="{:U('Lindex/index')}"><img src="__PUBLIC__/bbs/images/0f000cbW0MwDK97mf87TOs.jpg" alt="卡车之家论坛" height="60" width="630"></a>
			</div>
   		</div>
	</div>
</body>
</html>

