<!--导航-->
    <div class="es_dh">
        <div class="es_dh1">
            <ul>

                <li>
                    <a href="{:U('Sindex/index')}" >
                        商城首页
                        <span></span>
                    </a>
                </li>
                <li>
                <a target="_blank" href="{:U('Sproduct/index',array('cid'=>11))}">
                        柴油粗滤
                    </a>
                </li>
                <li>
                    <a target="_blank" href="{:U('Sproduct/index',array('cid'=>12))}" >
                        柴油精滤
                    </a>
                </li>
                <li>
                    <a target="_blank" href="{:U('Sproduct/index',array('cid'=>10))}" >
                        机油滤芯
                    </a>
                </li>
                <li>
                    <a target="_blank" href="{:U('Sproduct/index',array('cid'=>15))}" >
                        空气滤芯
                    </a>
                </li>
                <li>
                    <a target="_blank" href="{:U('Sproduct/index',array('cid'=>14))}" >
                        柴虑配件
                    </a>
                </li>
                <!-- <li>
                    <a href="" target="_blank">
                        机油滤芯
                        <span></span>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="" target="_blank">
                        文化主题
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        行车必备
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="http://mai.360che.com/category-40.html" target="_blank">
                        安全防护
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="http://mai.360che.com/category-37.html" target="_blank">
                        底盘部件
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="http://mai.360che.com/category.php?id=71">
                        空气滤芯
                        <span></span>
                    </a>
                </li> -->


            </ul>
        </div>
        <div class="es_dh2">

            <div class="newfloat">
                <a href="{:U('Scart/index')}" style="display:block" class="nf1" onmouseout="hiddenDiv('div_new0507')" onmouseover="showDiv('div_new0507')">我的购物车</a>
                <!-- <div class="bj0507">
                    <em class="bj_l "></em>
                    <span class="bj_m "></span>
                    <em class="bj_r "></em>
                </div> -->
            </div>

        </div>
    </div>
