<extend name="Public/userbase"/>

<block name="main">

<script src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
<script src="__PUBLIC__/Plupload/plupload.full.min.js"></script>
<script src="__PUBLIC__/Jcrop/js/jquery.Jcrop.js"></script>
<script type="text/javascript" src="__PUBLIC__/UEditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/UEditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
{:W('Menu/userleft')}
<div class="prefirght">
	<div class="post_list list_oneb">
		<div class="post_list_label">
			<ul>
					<li class="tab" id="upinfo1">
						<a href="" class="tab_a tab_on tabNormal" id="upinfo2" >编辑评论</a>
					</li>

				</ul>
		</div>
		<div id="userinfo">
		<form name="reg" method="post"  action="{:U('User/upComm')}">

			<div class="post_center" id="tabpanel1">
				<div class="personal_post_wdzt">
					<div class="HackBox" style="width: 100%;padding:0;" >
						<table cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td class="hack_boleft">用户名：</td>
									<td>{$dataAll['username']}<input type="hidden" name="id" value="{$dataAll['id']}"/></td>

								</tr>



								<tr>
									<td class="hack_boleft">内容：</td>
									<td>
										<script id="container" name="content" type="text/plain" style="width:600px;">

       										{:htmlspecialchars_decode($dataAll['content'])}
    									</script>
										<script type="text/javascript">
									        var ue = UE.getEditor('container');
									    </script>


									</td>
								</tr>

								<tr>
									<td>&nbsp;</td>
									<td>
										<input class="buycaript32" name="editsubmit" id="editsubmit" value="保存" type="submit"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>





		</form>
	</div>
		<!--修改个人信息结束-->


	</div>
</div>

</block>