<extend name="Public/userbase"/>

<block name="main">

	<script src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
	<script src="__PUBLIC__/Plupload/plupload.full.min.js"></script>
	<script src="__PUBLIC__/Jcrop/js/jquery.Jcrop.js"></script>
	{:W('Menu/userleft')}
	<div class="prefirght">
		<div class="post_list list_oneb">
			<div class="post_list_label">
				<ul>
					<li class="tab" id="upinfo1">
						<a href="" class="tab_a tab_on tabNormal" id="upinfo2" >收藏列表</a>
					</li>

				</ul>
			</div>

			<!--评论列表 开始-->
			<div class="post_center" id="tabpanel1">
				<div class="post_cen_label">
					<ul>
						<li class="post">
							<a href="space.php?uid=439765&amp;items=otherthreads" class="tab_a1 tab_on1 tabNormal1">全部收藏</a>
						</li>

						<li class="post_more">
							我收藏的帖子：共有
							<span style="color:#1e6cc1">{$count}</span>
							个
						</li>

					</ul>
				</div>
				<if condition="$col eq null">
					<div style="color:red;font-size:24px;text-align:center;margin:20px" >还没有任何收藏哦！！！</div>
				<else/>

				<div class="post_wdzt" id="postpanel1">

						<volist name='col' id='vo'>

						<div class="post_wdzt_list">
							<div class="p_wdzt_la">
								<div class="p_wdzt_la1">
									<a href="{:U('Lpost/detail',array('id'=>$vo['tid']))}" target="">
									{$vo['title']}
									</a>
								</div>
								<div  class="p_wdzt_la2">
									{$vo['username']}
								</div>
							</div>
							<div class="p_wdzt_lb">
								<div class="p_wdzt_lb1">{:date('Y-m-d H:i:s',$vo['mtime'])}<a href="{:U('Lcol/cancel',array('id'=>$vo['id']))}">取消收藏</a></div>
								<div class="p_chance_box"></div>
							</div>
						</div>

						</volist>


					<!--控制标签 开始-->

					<!--控制标签 结束-->

					<!--翻页控件 start-->
					<div class="page_turn">
						<div class="pages">
							{$show}
						</div>
					</div>
					<!--翻页控件 end-->
				</div>
				</if>
			</div>
		</div>
	</div>

</block>