<extend name="Public/base"/>

<block name="main">
<link rel="stylesheet" href="__PUBLIC__/home/news/css/login.css"/>

		<!--registertop start-->
			<div class="registertop">
				<div class="registertop_left"><a href="" target="_blank">
					<img src="__PUBLIC__/home/news/images/logo20141016.png"></a> <em></em>
					<span>用户登录</span>
				</div>
				<div class="registertop_right">
					<div id="PAGE_AD_1049783">
						<div id="BAIDU_AD_1049783">
							<div id="BAIDU_SSP__wrapper_1049783_0">
								<img src="__PUBLIC__/home/news/images/0f000nTu6mHKpywgpq-Cg0.gif" width="630px" height="60px"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!--registertop end-->
		<!--registerfill start-->
			<div class="registerfill">
				<div class="fullwidth" id="fullwidth">
					<div class="leftpart">
						<ul class="part2 js">
							<form method="post" name="login" action="{:U('User/loginaction')}" id="loginform" class="gateform">
								<input name="formhash" value="5a9acf61" type="hidden">
								<input name="referer" value="http://www.360che.com/" type="hidden">
								<li id="re1">
									<font id="returnmessage" style="margin-left: 70px;"></font>
								</li>
								<li style="padding-top:50px;">
									<label>用户名：</label>
									<span><input class="enter" name="name" id="name" type="text" placeholder="请填写您的用户名或手机号"></span>
									<div id="username_ts"><font class="" id="nameinfo"></font></div>
								</li>
								<li>
									<label>密码：</label>
									<span><input class="enter" name="password" id="password" type="password" placeholder="请填写您的密码"></span>
									<div id="password_ts"><font class="" id="pwdinfo"></font></div>
								</li>
								<li>
									<div class="login_express"><input name="cookietime" value="2592000" checked="checked" type="checkbox"><i>下次自动登录</i></div><a href="{:U('User/forgetpwd')}" target="_blank" class="forget">忘记密码?</a>
								</li>
								<li>
									<input class="makesure" value="立即登录" tabindex="1" type="submit" id="loginbtn">
								</li>

							</form>
						</ul>
					</div>

					<script>
						$(function(){
							var namebool=false,pwdbool=false;
							$("#name").blur(function(){

								var value=$.trim($(this).val());
								if(value==""){
									$("#nameinfo").addClass("wrong");
									$('#nameinfo').html("请填写您的用户名或手机号");
									namebool=false;
								}else{
									$("#nameinfo").removeClass("wrong");
									$('#nameinfo').html("");
									namebool=true;
								}
							});
							$("#password").blur(function(){
								var value=$.trim($(this).val());
								if(value==""){
									$('#pwdinfo').addClass("wrong");
									$('#pwdinfo').html("请填写您的密码");
									pwdbool=false;
								}else{
									$('#pwdinfo').removeClass("wrong");
									$('#pwdinfo').html("");
									pwdbool=true;
								}
							});
							$("#loginform").submit(function(){
								if(namebool==true && pwdbool==true){
									return true;
								}
								alert("你还没有填好信息");
								return false;
							})

						})
					</script>
					<div class="rightpart">
						<div class="registered">
							<h4>没有卡车之家帐号，点击立即注册</h4>
							<input class="direct_login" value="注册" onclick="window.location.href='{:U('User/register')}'" type="button">
						</div>
						<div class="others">
							<h4>还可使用第三方帐号直接登录</h4>
							<a href="" target="_blank" class="loginqq">QQ帐号</a>
							<a href="" target="_blank" class="loginweibo">新浪微博</a>
							<a href="" class="loginweixin">微信帐号</a>
						</div>
					</div>
				</div>
				<div class="gxcg_reg" id="showzhuan" style="text-align: center;font-size: 20px;line-height: 2;">
				</div>
				<div id="append_parent" style="display:none"></div>
				<div id="ajaxwaitid" style="display:none"></div>
			</div>
		<!--registerfill end-->

</block>


