<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>用户中心</title>
		<link rel="stylesheet" href="__PUBLIC__/home/news/css/public.css"/>
		<link rel="stylesheet" href="__PUBLIC__/home/news/css/usercenter.css"/>
	</head>
	<body>
	<!--个人中心 mini_top 开始-->
		<div class="mini_top">
			<div class="mini_main">
				<div class="tou1_left">
					<a target="_blank" href="" class="kcsy">卡车之家首页</a>
					<span>|</span>
					<a target="_blank" href="">卡车之家商城</a><span>|</span>
					<a href="" target="_blank" class="phone">手机客户端</a><span>|</span>
					<a href="" class="collect">加入收藏</a>
				</div>

                <div class="tou1_right">
					<span>欢迎回家，<a href="">lala12345678</a></span><a href="">安全退出</a>
				</div>

			</div>
		</div>

	<!--mini_top end-->
	<div class="clear"></div>
	<!--header start-->
		<div class="header">
			<div class="logo">
				<a href="{:U('Lindex/index')}"><img src="__PUBLIC__/home/news/images/kczj.jpg"></a>
			</div>
			<div class="navcon">
				<form accept-charset="UTF-8" method="get"  action="" target="_blank">
					<span>
						<input class="nav_ser_a" style="color: #999" name="q" value="请输入关键词" onfocus="if (this.value == '请输入关键词') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = '请输入关键词';this.style.color = '#999';}" type="text">

						<input value="" class="nav_ser_b" type="submit">

					</span>
				</form>
			</div>
		</div>
	<!--header end-->

	<div class="clear"></div>
	<!---content start-->
	<div class="content">
		<div class="contborder">
			<!-- 左侧开始  -->
				<div class="colom fl w190">
					<div class="userheard">
						<div class="user_name">lala12345678</div>
						<div class="user_imgbox">
							<a href="">
								<span>
									<img src="__PUBLIC__/home/news/images/noavatar_middle.gif" onerror="this.onerror=null;this.src='images/noavatar_middle.gif'" width="120px">
								</span>
							</a>
						</div>
					</div>
					<!--互动 开始-->
					<!--互动 结束-->



					<!--管理模块 开始-->

					<!--管理模块 结束-->


					<!--左侧导航 开始-->


					<div class="l_ban_module">
						<ul class="item">
							<li class="current">
								<a href="" class="it1 itbig">我的首页</a>
							</li>
							<li><a href="" class="it2 itbig" id="pm_ntc">我的消息</a></li>
							<li><a href="">我的短消息</a></li>
							<li><a href="">我的论坛通知</a></li>
							<li><a href="">写短消息</a></li>
						</ul>
						<div class="divde"></div>
							<ul class="item">
								<li><a href="" class="it3 itbig">我的帖子</a></li>
								<li><a href="">我发的主帖</a></li>
								<li style="display:none;"><a href="#">我收到的回复</a></li>
								<li><a href="">我发的回帖</a></li>
								<li><a href="">我收藏的帖子</a></li>
								<li><a href="">好友的帖子</a></li>
								<li><a href="">我被退回的帖子</a></li>
							</ul>

						<div class="divde"></div>
						<ul class="item">
							<li><a href="" class="it7 itbig">个人设置</a></li>
							<li><a href="">修改个人资料</a></li>
							<li><a href="">修改头像</a></li>
							<li><a href="">修改密码</a></li>
							<li><a href="">绑定手机<font class="red">&nbsp;&nbsp;(已绑定手机)</font></a></li>
							<li><a href="5">收货地址</a></li>
							<li><a href="">身份信息</a></li>
							<li><a href="">绑定帐号</a></li>
						</ul>
					</div>
					<!--左侧导航 结束-->
				</div>

			<!-- 左侧结束  -->
			<!--右侧内容开始-->
				<div class="prefirght">
					<!--我的首页 开始-->
					<div class="myhomebox">
						<div class="my_h_language">欢迎您回到卡车之家！</div>
						<div class="my_h_information">
							<div class="my_h_information_a">
								<ul class="information1">
									<li><label>帖子：</label><span>0</span> 篇</li>
									<li><label>精华：</label><span>0</span> 篇</li>
									<li><label>积分：</label><span>0</span></li>
								</ul>
								<ul class="information2">
									<input value="{8---1}" type="hidden">
									<li>
										<label>手机号码：</label>
										<span class="certification" style="color:#1e6cc1">
											<font>title="您的手机号 151*****834(仅自己可见) 已验证，可用于找回密码！" 已认证</font>
										</span>
										<div><img src="images/tilv.gif"></div>
									</li>

									<li>
										<label>级别：</label>
										<span><strong>初级用户</strong></span>
									</li>

									<li>
										<label>来自：</label>
										<span>北京 北京市 怀柔区</span>
									</li>
								</ul>
								<ul class="information3">
									<li>
                                        <label>帐号安全级别：</label>
                                        <div>
											<img src="images/security1.png">
										</div>
										<span class="security1">高</span>

									</li>


									<li>
										<label>注册时间：</label>
										<span>2016年01月06日 23:45</span>
									</li>
									<li>
										<label>上次发帖时间：</label>
										<span>暂无发帖</span>
									</li>
								</ul>

							</div>
						</div>

                    </div>
					<!--我的首页 结束-->

<script type="text/javascript">
var LanMu = jq(".lanmu-list");
var lanMuSun = LanMu.children('dd');
if((lanMuSun.size()) > 1){
LanMu.children("dd:gt(0)").hide();
jq(".listmore").show();
}
jq(".listmore").bind("click", function(){
   if(!jq(".listmore").hasClass('ListMoreOn')){
   jq(".listmore").addClass('ListMoreOn');
   LanMu.children("dd:gt(0)").slideDown();
jq(".listmore").html("<span class=shou_q>收起勋章</span>")
   }else{
jq(".listmore").removeClass('ListMoreOn');
LanMu.children("dd:gt(0)").slideUp();
jq(".listmore").html("<span class=zhan_ko>展开勋章</span>");

   }
})
</script>


				<!--他的信息 开始-->
				<!--他的信息 结束-->


				<!--帖子列表 开始-->
				<div class="post_list">
					<div class="post_list_label">
					<ul>
						<li class="tab">
							<a href="" class="tab_a tab_on tabNormal">我发的主帖</a>
						</li>
						<li class="tab_line"></li>
                        <li class="tab" style="display:none;">
							<a href="" class="tab_a tabNormal">我收到的回复</a>
						</li>
						<li class="tab_line" style="display:none;"></li>
                        <li class="tab">
							<a href="" class="tab_a tabNormal">我发的回帖</a>
						</li>
						<li class="tab_line"></li>
                        <li class="tab">
							<a href="" class="tab_a tabNormal">好友的帖子</a>
						</li>
						<li class="tab_line"></li>

					</ul>
				</div>
				<!--我发的主帖 开始-->
				<div class="post_center" id="tabpanel1">
					<div class="post_cen_label">
						<ul>
							<li class="post">
								<a href="#postpanel1" class="tab_a1 tab_on1 tabNormal1">全部帖子</a>
							</li>
							<li class="post"><a href="#postpanel2" class="tab_a1 tabNormal1">精华帖</a></li>
                            <li class="post_more">我的发帖：共有 <a href="">0</a> 个主帖</li>
                        </ul>
					</div>
					<div class="post_wdzt" id="postpanel1">
						<div class="no_cen_til">抱歉！您还没有发帖。</div>
                    </div>
					<div class="post_wdzt" id="postpanel2" style="display:none">
						<div class="no_cen_til">抱歉！您还没有精华帖。</div>
                    </div>
				</div>
				<!--我发的主帖 结束-->


				<!--我收到的回复 开始-->
				<div class="post_center" id="tabpanel2" style="display:none">
					<div class="my_recieved_numb">我收到的回复：共收到 <a href="">356</a> 个回复</div>
					<div class="my_re_cente">
					<div class="my_r_c">
						<div class="my_r_c1"></div>
						<div class="my_r_c2"><a href="#">开着卡车去旅行吧</a><br><span>2013-06-18 18:52</span></div>
					</div>
					<div class="my_r_d">
						<div class="my_r_d1">
							<label>在：</label>
								<a href="#">2013JMC轻卡低碳中国行集车贴获奖结果公布！..</a>
							</div>
						<div class="my_r_d2">
							<label>回复：</label>
								<p>本帖是《"我和欧曼重卡"的故事！福田戴姆勒首届有奖征文》活动帖，你也想参加吗？奖品十分给力，快点这里看看</p>
						</div>
					</div>
					<div class="my_r_d3"><a href="#">回复</a></div>

				</div>
			</div>
			<!--我收到的回复 结束-->

			</div>
		<!--帖子列表 结束-->
			</div>
			<!--右侧内容结束-->
		</div>

	</div>
	<!---content end-->
	<div class="clear"></div>
	<!--尾部开始-->
		<div class="footer_bbs">
			<p>
				<a href="" target="_blank">关于我们</a>
				<span class="fbbsline">|</span>
				<a href="" target="_blank">联系我们</a>
				<span class="fbbsline">|</span>
				<a href="" target="_blank">广告合作</a>
				<span class="fbbsline">|</span>
				<a href="" target="_blank">工作机会</a>
				<span class="fbbsline">|</span>
				<a href="" target="_blank">意见反馈</a>
				<span class="fbbsline">|</span>
				<a href="" target="_blank"><em class="footios"></em>iPhone / <em class="footand"></em>Android客户端</a>
				<span class="fbbsline">|</span>
				<a href="" target="_blank">卡车之家商城</a>
			</p>
			<p>
				<span style="font-family:arial;">Copyright ©</span>
				2009 www.360che.com All Rights Reserved.
				<a target="_self" href="">卡车之家</a> 版权所有
			</p>
		</div>
	<!--尾部结束-->
	</body>

</html>