<extend name="Public/userbase"/>

<block name="main">

	<script src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
	<script src="__PUBLIC__/Plupload/plupload.full.min.js"></script>
	<script src="__PUBLIC__/Jcrop/js/jquery.Jcrop.js"></script>
	{:W('Menu/userleft')}
	<div class="prefirght">
		<div class="post_list list_oneb">
			<div class="post_list_label">
				<ul>
					<li class="tab" id="upinfo1">
						<a href="" class="tab_a tab_on tabNormal" id="upinfo2" >回复列表</a>
					</li>

				</ul>
			</div>

			<!--评论列表 开始-->
			<div class="post_center" id="tabpanel1">
				<div class="post_cen_label">
					<ul>
						<li class="post">
							<a href="space.php?uid=439765&amp;items=otherthreads" class="tab_a1 tab_on1 tabNormal1">全部回复</a>
						</li>

						<li class="post_more">
							我回复的帖子：共有
							<span style="color:#1e6cc1">{$data2}</span>
							个
						</li>

					</ul>
				</div>

				<div class="post_wdzt" id="postpanel1">

						<volist name='data1' id='vo'>

						<div class="post_wdzt_list">
							<div class="p_wdzt_la">
								<div class="p_wdzt_la1">
									<a href="{:U('Lpost/detail',array('id'=>$vo['tid']))}" target="">
									{:htmlspecialchars_decode($vo['content'])}
									</a>

								</div>
							</div>
							<div class="p_wdzt_lb">
								<div class="p_wdzt_lb1">{:date('Y-m-d H:i:s',$vo['ctime'])}</div>
							</div>
						</div>

						</volist>


					<!--控制标签 开始-->

					<!--控制标签 结束-->

					<!--翻页控件 start-->
					<div class="page_turn">
						<div class="pages">
							{$show}
						</div>
					</div>
					<!--翻页控件 end-->
				</div>
			</div>
			<!--评论列表 结束-->
		</div>
	</div>

</block>