<extend name="Public/userbase"/>

<block name="main">
{:W('Menu/userleft')}
<div class="prefirght">
<!--我的首页 开始-->
					<div class="myhomebox">
						<div class="my_h_language">欢迎您回到卡车之家！</div>
						<div class="my_h_information">
							<div class="my_h_information_a">
								<ul class="information1">
									<li><label>帖子：</label><span>0</span> 篇</li>
									<li><label>精华：</label><span>0</span> 篇</li>
									<li><label>积分：</label><span>0</span></li>
								</ul>
								<ul class="information2">
									<input value="{8---1}" type="hidden">
									<li>
										<label>手机号码：</label>
										<span class="certification" style="color:#1e6cc1">
											<font>已认证</font>
										</span>
										<div><img src="__PUBLIC__/home/news/images/tilv.gif"></div>
									</li>

									<li>
										<label>级别：</label>
										<span><strong>初级用户</strong></span>
									</li>

									<li>
										<label>来自：</label>
										<span>北京 北京市 怀柔区</span>
									</li>
								</ul>
								<ul class="information3">
									


									<li>
										<label>注册时间：</label>
										<span>{:date("Y-m-d H:i:s",$data['addtime'])}</span>
									</li>
									<li>
										<label>上次发帖时间：</label>
										<span>暂无发帖</span>
									</li>
								</ul>

							</div>
						</div>

                    </div>
					<!--我的首页 结束-->


				<!--帖子列表 开始-->
				<div class="post_list">
					<div class="post_list_label">
					<ul>
						<li class="tab">
							<a href="" class="tab_a tab_on tabNormal">我发的主帖</a>
						</li>
						<li class="tab_line"></li>
                        <li class="tab" style="display:none;">
							<a href="" class="tab_a tabNormal">我收到的回复</a>
						</li>
						<li class="tab_line" style="display:none;"></li>
                        <li class="tab">
							<a href="" class="tab_a tabNormal">我发的回帖</a>
						</li>
					
						<li class="tab_line"></li>

					</ul>
				</div>
				<!--我发的主帖 开始-->
				<div class="post_center" id="tabpanel1">
					<div class="post_cen_label">
						<ul>
							<li class="post">
								<a href="#postpanel1" class="tab_a1 tab_on1 tabNormal1">全部帖子</a>
							</li>
							<li class="post"><a href="#postpanel2" class="tab_a1 tabNormal1">精华帖</a></li>
                            <li class="post_more">我的发帖：共有 <a href="">0</a> 个主帖</li>
                        </ul>
					</div>
					<div class="post_wdzt" id="postpanel1">
						<div class="no_cen_til">抱歉！您还没有发帖。</div>
                    </div>
					<div class="post_wdzt" id="postpanel2" style="display:none">
						<div class="no_cen_til">抱歉！您还没有精华帖。</div>
                    </div>
				</div>
				<!--我发的主帖 结束-->


				<!--我收到的回复 开始-->
				<div class="post_center" id="tabpanel2" style="display:none">
					<div class="my_recieved_numb">我收到的回复：共收到 <a href="">356</a> 个回复</div>
					<div class="my_re_cente">
					<div class="my_r_c">
						<div class="my_r_c1"></div>
						<div class="my_r_c2"><a href="#">开着卡车去旅行吧</a><br><span>2013-06-18 18:52</span></div>
					</div>
					<div class="my_r_d">
						<div class="my_r_d1">
							<label>在：</label>
								<a href="#">2013JMC轻卡低碳中国行集车贴获奖结果公布！..</a>
							</div>
						<div class="my_r_d2">
							<label>回复：</label>
								<p>本帖是《"我和欧曼重卡"的故事！福田戴姆勒首届有奖征文》活动帖，你也想参加吗？奖品十分给力，快点这里看看</p>
						</div>
					</div>
					<div class="my_r_d3"><a href="#">回复</a></div>

				</div>
			</div>
			<!--我收到的回复 结束-->

			</div>
		<!--帖子列表 结束-->
	</div>
</block>