<extend name="Public/userbase"/>

<block name="main">
{:W('Menu/userleft')}
<div class="prefirght">
<!--我的首页 开始-->
					<div class="myhomebox">
						<div class="my_h_language">欢迎您回到卡车之家！</div>
						<div class="my_h_information">
							<div class="my_h_information_a">
								<ul class="information1">
									<li><label>帖子：</label><span>{$postcount}</span> 篇</li>

									<li><label>积分：</label><span>{$data['count']}</span></li>
								</ul>
								<ul class="information2">
									<input value="{8---1}" type="hidden">
									<li>
										<label>手机号码：</label>
										<span class="certification" style="color:#1e6cc1">
											<font>已认证</font>
										</span>
										<div><img src="__PUBLIC__/home/news/images/tilv.gif"></div>
									</li>

									<li>
										<label>级别：</label>
										<span><strong>初级用户</strong></span>
									</li>
								</ul>
								<ul class="information3">



									<li>
										<label>注册时间：</label>
										<span>{:date("Y-m-d",$data['addtime'])}</span>
									</li>
									<li>
										<label>最后一次发帖时间：</label>
										<span>
											<if condition="$post1 eq 0">暂无发帖
											<else/>{:date('Y-m-d',$post1['mtime'])}
											</if>
										</span>
									</li>
								</ul>

							</div>
						</div>

                    </div>
					<!--我的首页 结束-->


				<!--帖子列表 开始-->
				<div class="post_list">
					<div class="post_list_label">
						<ul>
							<li class="tab" id="postli">
								<a href="" class="tab_a tab_on tabNormal" id="pali">我发的主帖</a>
							</li>

							<li class="tab_line" style="display:none;"></li>
	                        <li class="tab" id="replyli">
								<a href="" class="tab_a tabNormal" id="rali">我发的回帖</a>
							</li>

							<li class="tab_line"></li>

						</ul>
					</div>
					<!--我发的主帖 开始-->
					<div class="post_center" id="tabpanel1">
					<div class="post_cen_label">
						<ul>
							<li class="post">
								<a href="#postpanel1" class="tab_a1 tab_on1 tabNormal1">全部帖子</a>
							</li>

                            <li class="post_more">我的发帖：共有 <span>{$postcount}</span> 个主帖</li>
                        </ul>
					</div>
					<div class="post_wdzt" id="postpanel1">
						<volist name='fpost' id='vo'>

						<div class="post_wdzt_list">
							<div class="p_wdzt_la">
								<div class="p_wdzt_la1">
									<a href="{:U('Lpost/detail',array('id'=>$vo['id']))}" target="">
									{$vo['title']}
									</a>

								</div>
							</div>
							<div class="p_wdzt_lb">
								<div class="p_wdzt_lb1">{:date('Y-m-d H:i:s',$vo['mtime'])}</div>
								<div class="p_chance_box"></div>
								<div class="p_wdzt_lb3"><a href="{:U('User/delpost',array('id'=>$vo['id']))}">删除</a></div>
							</div>
						</div>

						</volist>
                    </div>

					</div>
				<!--我发的主帖 结束-->


					<!--我发出的回复 开始-->
					<div class="post_center" id="tabpanel2" style="display:none">
					<div class="my_recieved_numb">我发出的回复：共 <a href="">{$replycount}</a> 个</div>
					<volist name='freply' id='vo'>

						<div class="post_wdzt_list">
							<div class="p_wdzt_la">
								<div class="p_wdzt_la1">
									<a href="{:U('Lpost/detail',array('id'=>$vo['tid']))}" target="">
									{:htmlspecialchars_decode($vo['content'])}
									</a>

								</div>
							</div>
							<div class="p_wdzt_lb">
								<div class="p_wdzt_lb1">{:date('Y-m-d H:i:s',$vo['ctime'])}</div>
							</div>
						</div>

						</volist>
			</div>

			<script>
				$(function(){
					$('#postli').mouseover(function(){
						$('#tabpanel1').css("display","block");
						$('#tabpanel2').css("display",'none');
						$('#pali').addClass("tab_on");
						$('#rali').removeClass("tab_on");
					})
					$('#replyli').mouseover(function(){
						$('#tabpanel1').css("display","none");
						$('#tabpanel2').css("display",'block');
						$('#rali').addClass("tab_on");
						$('#pali').removeClass("tab_on");
					})
				})


			</script>
			<!--我收到的回复 结束-->

			</div>
		<!--帖子列表 结束-->
	</div>
</block>