<extend name="Public/base"/>
<block name="main">

	<link rel="stylesheet" href="__PUBLIC__/home/news/css/baojia.css"/>

		<!--frame_left start-->
		<div style="" id="frame_left" class="frame_left">
			<div id="frame_tree" class="frame_tree fl" style="">
				<div style="height: 96px;" id="blist" class="cpmch">
					 <div id="65" class="pro_big_b">
						<a href="">轻卡报价</a>
					</div>
					<div id="66" class="pro_big_b"><a href="">牵引车报价</a></div>
					<div id="64" class="pro_big_b"><a href="">载货车报价</a></div>
					<div id="63" class="pro_big_b"><a href="">自卸车报价</a></div>
					<div id="8" class="pro_big_b"><a href="">工程车报价</a></div>
					<div id="subdiv8" class="pplb1_new" style="display: none">
						<div class="pplb1newshow">
							<div class="group1">
								<div class="newtree"> <em></em><a href="">混凝土搅拌车</a></div>
							</div>
							<div class="group1">
								<div class="newtree"> <em></em><a href="">泵车</a></div>
							</div>
							<div class="group1">
								<div class="newtree"> <em></em><a href="">吊车</a></div>
							</div>
							<div class="group1">
								<div class="newtree"> <em></em><a href="">铰接式卡车</a></div>
							</div>
							<div class="group1">
								<div class="newtree"> <em></em><a href="">矿山车</a></div>
							</div>
							<div class="group1">
								<div class="newtree"> <em></em><a href="">非公路矿用自卸车</a></div>
							</div>
						</div>
					</div>
					<div id="6" class="pro_big_b"><a href="">微型车报价</a></div>
					<div id="subdiv6" class="pplb1_new" style="display: none">
						<div class="pplb1newshow">
							<div class="group1">
								<div class="newtree"> <em></em><a href="">微卡</a></div>
							</div>
							<div class="group1"><div class="newtree"> <em></em><a href="">微面</a></div></div>
						</div>
					</div>
					<div id="4" class="pro_big_b"><a href="">专用车报价</a></div>
					<div id="subdiv4" class="pplb1_new" style="display: none">
						<div class="pplb1newshow">
							<div class="group1">
								<div class="newtree"> <em></em><a href="">平板运输车</a></div>
							</div>
							<div class="group1">
								<div class="newtree"> <em></em><a href="">冷藏车</a></div>
							</div>
							<div class="group1">
								<div class="newtree"> <em></em><a href="">油罐车</a></div>
							</div>
							<div class="group1">
								<div class="newtree"> <em></em><a href="">随车吊</a></div>
							</div>


                <div style="height: 300px; width: 100%; clear: both"></div>
				</div>
			</div>
		        </div>
			</div>
			<div class="frame_right">
				<div class="adimg">

					<img src="__PUBLIC__/home/news/images/0f000nLv_u2gTOeKBFDwq6.gif" title="" alt="" border="0" height="60" width="795">
				</div>
				<div class="map_mal">
					当前位置：<a href="" class="gred6">卡车之家</a> &gt;
					<a href="javascript:;"><strong>卡车报价库</strong></a>
				</div>
				<div class="search_bo sometime">
					<div class="hot_search">
						<input onkeydown="kswicth();" id="keyword" class="hot_stext" name="keyword" value="请输入关键词">        <input class="hot_button" onclick="swicth();" value="搜索" type="button">
					</div>
					<div class="hot_pin gred9">
						热词：<a href="javascript:hswicth('轻卡');" class="blue">轻卡</a><a href="javascript:hswicth('J6牵引车');" class="blue">J6牵引车</a><a href="javascript:hswicth('中国重汽');" class="blue">中国重汽</a><a href="javascript:hswicth('国四LNG');" class="blue">国四LNG</a>
					</div>
				</div>

				<div class="imgname_box">
					<div class="screen_xuan" id="datuqiehu">
						<div class="screen_box">
								<a class="scrren_xoxb" id="hongse">
									<div class="screen_boxa">
										精准找车</div>
									<div class="screen_boxb">
										收起</div>
								</a><a class="scrren_xoxb1" id="lvse">
									<div class="screen_boxa1">
										精准找车</div>
									<div class="screen_boxb1">
										展开</div>
								</a>
							</div>
					<div class="s_pickup">
						<div class="s_pickupin"><label class="fieldname">系列：</label>
							<dl class="bg_act_1on">
								<dd>
									<volist name="data3" id="vo">
										<a href="">{$vo['name']}</a>
									</volist>

								</dd>
							</dl>
						</div>
						<div class="s_pickupin"><label class="fieldname">轴距：</label>
							<dl class="bg_act_1on">
							<dd>
									<volist name="data6" id="vo">
										<a href="">
											
											<label>
												<input type="radio" name="wheelbase" value="{$vo['wheelbase']}" style="display:none"/>
												{$vo['wheelbase']}mm
											</label>
										</a>
									</volist>
							</dd>
							</dl>
						</div>
						<div class="s_pickupin"><label class="fieldname">驱动形式：</label>
							<dl class="bg_act_1on">
								<dd>
									<volist name="data8" id="vo">
										<a href="">{$vo['drive']}</a>
									</volist>
								</dd>
							</dl>
						</div>

						<div class="s_pickupin"><label class="fieldname">排放标准：</label>
							<dl class="bg_act_1on">
							<dd>

								<volist name="data7" id="vo">
										<a href="">{$vo['effluent']}</a>
								</volist>
							</dd>
							</dl>
						</div>
						<div class="s_pickupin"><label class="fieldname">前进档位：</label>
							<dl class="bg_act_1on">
								<dd>
									<volist name="data5" id="vo">
										<a href="">{$vo['forwardgear']}</a>
									</volist>
								</dd>
							</dl>
						</div>
						<div class="s_pickupin"><label class="fieldname">最大马力：</label>
							<dl class="bg_act_1on">
								<dd>
									<volist name="data4" id="vo">
										<a href="">{$vo['horsepower']}</a>
									</volist>
								</dd>
							</dl>
						</div>
				</div>
			</div>
					<div class="main">
						<div class="v_boxki">
							<div class="v_boxkih1">
								<div id="pnew65" class="v_boxkih2"><a href="javascript:void(0)" onclick="divNew('65')">最新轻卡</a></div>
								<div id="phot65" class="v_boxkih_k"><a href="javascript:void(0)" onclick="divHot('65')">最热轻卡</a></div>
								<div class="xll_sy_right_gd"><a href="">更多&gt;&gt;</a></div>
							</div>
							<div id="new65" class="v_boxkih3" style="display:block">
								<div class="tpgx">
									<dl>
										<dt>
											<a target="_blank" href="" title="江淮骏铃H330 84马力 4.18米单排厢式轻卡">
											<img src="images/205889.jpg!240.jpg" alt="江淮骏铃H330 84马力 4.18米单排厢式轻卡" height="160" width="240">
											</a>
										</dt>
										<dd>
											<span><a target="_blank" href="" alt="江淮骏铃H330 84马力 4.18米单排厢式轻卡" title="江淮骏铃H330 84马力 4.18米单排厢式轻卡"> 江淮骏铃H330 84马力 4.18米单排厢式轻卡 </a></span>
										</dd>
										<dd>
											<font>报价：<a target="_blank" href="">7.5万 </a></font>
										</dd>
									</dl>
									<dl>
										<dt>
											<a target="_blank" href="" title="江铃新顺达 109马力 3.78米排半仓栅轻卡">
											<img src="images/353651.jpg!240.jpg" alt="江铃新顺达 109马力 3.78米排半仓栅轻卡" height="160" width="240">
											</a>
										</dt>
										<dd>
											<span><a target="_blank" href="" alt="江铃新顺达 109马力 3.78米排半仓栅轻卡" title="江铃新顺达 109马力 3.78米排半仓栅轻卡"> 江铃新顺达 109马力 3.78米排半仓栅轻卡 </a></span>
										</dd>
										<dd>
											<font>报价：<a target="_blank" href="">8.58万 </a></font>
										</dd>
									</dl>
									<dl class="xll_right_wu">
										<dt>
											<a target="_blank" href="" title="奥驰A2系列 109马力 3.85米排半栏板轻卡(五十铃)">
											<img src="images/325351.jpg!240.jpg" alt="奥驰A2系列 109马力 3.85米排半栏板轻卡(五十铃)" height="160" width="240">
											</a>
										</dt>
										<dd>
											<span><a target="_blank" href="" alt="奥驰A2系列 109马力 3.85米排半栏板轻卡(五十铃)" title="奥驰A2系列 109马力 3.85米排半栏板轻卡(五十铃)"> 奥驰A2系列 109马力 3.85米排半栏板轻卡(五十... </a></span>
										</dd>
										<dd>
											<font>报价：<a target="_blank" href="">8.3万 </a></font>
										</dd>
									</dl>
								</div>

							</div>

						</div>
						<div class="v_boxki">
							<div class="v_boxkih1">
								<div id="pnew66" class="v_boxkih2"><a href="javascript:void(0)" onclick="divNew('66')">最新牵引车</a></div>
								<div id="phot66" class="v_boxkih_k"><a href="javascript:void(0)" onclick="divHot('66')">最热牵引车</a></div>
								<div class="xll_sy_right_gd"><a href="">更多&gt;&gt;</a></div>
							</div>
							<div id="new66" class="v_boxkih3" style="display:block">
								<div class="tpgx">
									<dl>
										<dt>
											<a target="_blank" href="" title="东风神宇 御龙 375马力 6X4 CNG牵引车(EQ4250GLN2)">
											<img src="images/353066.jpg!240.jpg" alt="东风神宇 御龙 375马力 6X4 CNG牵引车(EQ4250GLN2)" height="160" width="240">
											</a>
										</dt>
										<dd>
											<span><a target="_blank" href="" alt="东风神宇 御龙 375马力 6X4 CNG牵引车(EQ4250GLN2)" title="东风神宇 御龙 375马力 6X4 CNG牵引车(EQ4250GLN2)"> 东风神宇 御龙 375马力 6X4 CNG牵引车(EQ4250G... </a></span>
										</dd>
										<dd>
											<font>报价：<a target="_blank" href="">暂无报价 </a></font>
										</dd>
									</dl>
									<dl>
										<dt>
											<a target="_blank" href="" title="大运 N9重卡 430马力 6X4 牵引车(CGC4255D4YCA)">
											<img src="images/349836.jpg!240.jpg" alt="大运 N9重卡 430马力 6X4 牵引车(CGC4255D4YCA)" height="160" width="240">
											</a>
										</dt>
										<dd>
											<span><a target="_blank" href="" alt="大运 N9重卡 430马力 6X4 牵引车(CGC4255D4YCA)" title="大运 N9重卡 430马力 6X4 牵引车(CGC4255D4YCA)"> 大运 N9重卡 430马力 6X4 牵引车(CGC4255D4YCA... </a></span>
										</dd>
										<dd>
											<font>报价：<a target="_blank" href="">暂无报价 </a></font>
										</dd>
									</dl>
									<dl class="xll_right_wu">
										<dt>
											<a target="_blank" href="" title="大运 N8H重卡 430马力 6X4 牵引车(CGC4250WD44)">
											<img src="images/349768.jpg!240.jpg" alt="大运 N8H重卡 430马力 6X4 牵引车(CGC4250WD44)" height="160" width="240">
											</a>
										</dt>
										<dd>
											<span><a target="_blank" href="" alt="大运 N8H重卡 430马力 6X4 牵引车(CGC4250WD44)" title="大运 N8H重卡 430马力 6X4 牵引车(CGC4250WD44)"> 大运 N8H重卡 430马力 6X4 牵引车(CGC4250WD44... </a></span>
										</dd>
										<dd>
											<font>报价：<a target="_blank" href="">暂无报价 </a></font>
										</dd>
									</dl>
								</div>

							</div>
							<div id="hot66" class="v_boxkih3" style="display:none">
									<div class="tpgx">
										<dl>
											<dt>
												<a target="_blank" href="" title="沃尔沃 新FH重卡 500马力 6X2 牵引车(FH500 62T B)">
												<img src="" alt="沃尔沃 新FH重卡 500马力 6X2 牵引车(FH500 62T B)" height="160" width="240">
												</a>
											</dt>
											<dd>
												<span><a target="_blank" href="" alt="沃尔沃 新FH重卡 500马力 6X2 牵引车(FH500 62T B)" title="沃尔沃 新FH重卡 500马力 6X2 牵引车(FH500 62T B)"> 沃尔沃 新FH重卡 500马力 6X2 牵引车(FH500 62... </a></span>
											</dd>
											<dd>
												<font>报价：<a target="_blank" href="">107万 </a></font>
											</dd>
								</dl>
								<dl>
									<dt>
										<a target="_blank" href="" title="福田 欧曼GTL超能版 6系重卡 430马力 6X4 牵引车(平地板驾驶室)(BJ4259SNFKB)">
										<img src="" alt="福田 欧曼GTL超能版 6系重卡 430马力 6X4 牵引车(平地板驾驶室)(BJ4259SNFKB)" height="160" width="240">
										</a>
									</dt>
									<dd>
										<span><a target="_blank" href="" alt="福田 欧曼GTL超能版 6系重卡 430马力 6X4 牵引车(平地板驾驶室)(BJ4259SNFKB)" title="福田 欧曼GTL超能版 6系重卡 430马力 6X4 牵引车(平地板驾驶室)(BJ4259SNFKB)"> 福田 欧曼GTL超能版 6系重卡 430马力 6X4 牵引... </a></span>
									</dd>
									<dd>
										<font>报价：<a target="_blank" href="">36.7万 </a></font>
									</dd>
								</dl>
								<dl class="xll_right_wu">
									<dt>
										<a target="_blank" href="" title="东风 天龙旗舰 480马力 6X4 牵引车(DFH4250C)">
										<img src="http://imgh.360che.com/imgc/0/270/270516.jpg!240" alt="东风 天龙旗舰 480马力 6X4 牵引车(DFH4250C)" height="160" width="240">
										</a>
									</dt>
									<dd>
										<span><a target="_blank" href="" alt="东风 天龙旗舰 480马力 6X4 牵引车(DFH4250C)" title="东风 天龙旗舰 480马力 6X4 牵引车(DFH4250C)"> 东风 天龙旗舰 480马力 6X4 牵引车(DFH4250C) </a></span>
									</dd>
									<dd>
										<font>报价：<a target="_blank" href="">59.98万 </a></font>
									</dd>
								</dl>
							</div>

						</div>
						</div>

					</div>
				</div>

			</div>

		</div>

		<div class="clear"></div>


		<!--frame_left  end-->

</block>