<extend name="Public/base" />

<block name="main">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">添加商品</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-defauslt">
				<div class="panel-heading">添加商品</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form role="form" class="form-horizontal" method="post" action="{:U('Sproduct/insert')}" enctype="multipart/form-data">
								<div class="form-group">
									<label class="col-sm-1">商品名</label>
									<div class="col-sm-6">
										<input class="form-control" name="proname" placeholder="请输入商品名">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1">分类</label>
									<div class="col-sm-6">
										<select name="cid" style="width:100px">
											<option value="">--请选择--</option>

											<volist name="list" id="vo">

												<option value="{$vo['id']}"  style="text-indent:{$vo['level']*30}px;"  {$vo['childs'] ? 'disabled':''}>
													|-- {$vo['catename']}
												</option>
											</volist>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1">图片</label>
									<div class="col-sm-6">
										<input class="form-control" type="file" name="image">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1">单价</label>
									<div class="col-sm-6">
										<input class="form-control" name="price" placeholder="请输入单价">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1">库存</label>
									<div class="col-sm-6">
										<input class="form-control" name="storage" placeholder="请输入库存量">
									</div>

								</div>
								<div class="form-group">
									<label class="col-sm-1">品牌</label>
									<div class="col-sm-6">
										<input class="form-control" name="brand" placeholder="请输入品牌">
									</div>

								</div>
								<div class="form-group">
									<label class="col-sm-1">状态</label>
									<label class="radio-inline">
									<input type="checkbox" name="new" id="sex" > 新品</label>


									<label class="radio-inline">
									<input type="checkbox" name="hot" id="sex" > 热卖</label>
									<label class="radio-inline">
									<input type="checkbox" name="promotion" id="sex" > 促销</label>
								</div>
								<div class="form-group">
									<label class="col-sm-1">折扣</label>
									<div class="col-sm-6">
										<input class="form-control" name="discount" placeholder="请输入折扣">
									</div>

								</div>
								<div class="form-group">
									<label class="col-sm-1">描述</label>
									<div class="col-sm-6">
										<script id="editor" name="description" type="text/plain" style="width:800px;height:500px;"></script>
									</div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-primary  btn-lg">提交</button>
								</div>
							</form>
						</div>
						<!-- /.col-lg-6 (nested) -->
					</div>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<script src="__PUBLIC__/UEditor/ueditor.config.js"></script>
	<script src="__PUBLIC__/UEditor/ueditor.all.min.js"></script>
	<script>
		// 初始化编辑器
		 var ue = UE.getEditor('editor',{
		 	toolbars: [
			    ['fullscreen', 'source', 'undo', 'redo', 'bold','deleterow','cleardoc','simpleupload','insertimage'],
			    ['bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc']
			]
		 });
		 var ue = UE.getEditor('editor1',{
		 	toolbars: [
			    [ 'undo','redo','cleardoc','simpleupload','insertimage'],

			]
		 });
	</script>
</block>