
<extend name="Public/base"/>
<block name="main">
	<!-- <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Tables</h1>
			</div>

	</div> -->
	<div class="row">
		 <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            文章管理
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">文章id</th>
                                            <th class="text-center">文章标题</th>
                                            <th class="text-center">文章类型</th>
                                            <th class="text-center">文章来源</th>
                                            <th class="text-center">文章分类</th>
                                            <th class="text-center">文章作者</th>
                                            <th class="text-center">文章编辑</th>
                                            <th class="text-center">置顶状态</th>

                                            <th class="text-center">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>

										<volist name="data" id="vo">
											<tr class="text-center">
	                                            <td style="vertical-align:middle;">{$vo['id']}</td>
	                                            <td style="vertical-align:middle;"><a href="{:U('Xarticle/edit',array('id'=>$vo['id']))}">{$vo.title|msubstr=0,10,'utf-8',true}</a></td>
                                                <td style="vertical-align:middle;">{$vo['atype']=="1"?"原创":"转载"}</td>
                                                <td style="vertical-align:middle;">{$vo['origin']}</td>
                                                <td style="vertical-align:middle;">{$vo['name']}</td>
                                                <td style="vertical-align:middle;">{$vo['author']}</td>
                                                <td style="vertical-align:middle;">{$vo['editor']}</td>
	                                            <td style="vertical-align:middle;">

                                                    <if condition="$vo['tage'] eq 1">
                                                        置顶
                                                    <else />
                                                        没有置顶
                                                    </if>
                                                </td>

	                                            <td style="vertical-align:middle;">
                                                     <a href="{:U('Xarticle/updatetage',array('id'=>$vo['id'],'tage'=>$vo['tage']))}" class="btn btn-success">
                                                        <if condition="$vo['tage'] eq 1">
                                                            取消置顶
                                                        <else />
                                                            置顶
                                                         </if>
                                                     </a>
	                                               <a href="{:U('Xarticle/edit',array('id'=>$vo['id']))}" class="btn btn-primary">编辑</a>
	                                               <a href="{:U('Xarticle/delete',array('id'=>$vo['id']))}" class="btn btn-danger">删除</a>

	                                            </td>
                                        </tr>

										</volist>

										<tr>
											<td colspan="9" class="text-center">{$show}</td>

										</tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
	</div>
</block>