<extend name="Public/base"/>
<block name="main">
<link rel="stylesheet" href="__PUBLIC__/home/news/css/zxindex.css"/>
<script type="text/javascript" src="__PUBLIC__/home/news/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/news/js/jquery_002.js"></script>



<!--品牌系列页头 start-->
		{:W('Menu/header')}
		<!--品牌系列页头  end-->
	     <!--ad start-->
		<div class="clear"></div>
		<div class="adimg">
			<img src="__PUBLIC__/home/news/images/0f000PLHkw0DvVB-7ncy8s.png" title="" alt="" border="0" height="60" width="1000">
			<img src="__PUBLIC__/home/news/images/0f0007y4C92PM9ofoxXbr6.jpg" title="" alt="" border="0" height="60" width="1000">
		</div>
		<div class="clear"></div>
		<!--ad end-->
		<!--map_bane start-->
		<div class="map_bane">
			<div class="mapdizhi">
				<a href="{:U('Xarticle/index')}" target="_blank">卡车新闻频道</a>
			</div>
			<div class="mapdz" style="padding-left: 20px;">
				您的当前位置：<a href="{:U('Index/index')}" class="gred6">首页</a> &gt;
				卡车新闻
			</div>
			<!--搜索-->
			<div class="serch">
				<form accept-charset="UTF-8" method="get"  action="" target="_blank">
					<span>
						<input  placeholder="请输入您要搜索的内容" class="inp1" type="text" name="title" value="{:I('get.title')}">

						<input class="btn1" value="搜索" type="submit">
					</span>
				</form>
			</div>
		</div>
		<!-- map_bane end-->
		<div class="clear"></div>
		<!--productbox start-->
		<div class="productbox">
			<div class="contan fn_clear contan_xll2">
				<div class="contan_b" id="DaoHangDiv">
					<ul>
						<li class="action"><a href="{:U('Xarticle/index')}" target="_self"><span>全部</span></a></li>
						<volist name="data1" id="vo">
							<li><a href="{:U('Xarticle/index',array('id'=>$vo['id']))}" target="_self"><span>{$vo['name']}</span></a></li>
						</volist>
					</ul>
				</div>
			</div>
			<div class="main_pro_box fl">
				<div class="ft m_p_boxa fl">
						<!--焦点图开始-->
						<div class="banner">
							<div class="bx-wrapper" style="max-width: 100%;">
								<div class="bx-viewport">
									<div style="max-width: 100%;" class="bx-wrapper">
										<div style="width: 100%;  position: relative;" class="bx-viewport">
											<ul style="width: 515%; position: relative; transition-duration: 0.5s; transform: translate3d(-1360px, 0px, 0px);" class="banner-img">
												<li class="bx-clone" style="float: left; list-style: outside none none; position: relative; width: 680px;">
													<h2><a href="" target="_blank">{$dlunbo['title1']}</a></h2>
													<p>{$dlunbo['content1']}</p>
													<a href="" target="_blank">
														<img src="{$dlunbo['img1']}"  alt="{$dlunbo['title1']}" style="width:680px ;height:400px" onerror="this.onerror=null;this.src='__PUBLIC__/home/news/images/1230090515.jpg!680.jpg'">
													</a>
												</li>
												<li style="float: left; list-style: outside none none; position: relative; width: 680px;">
													<h2><a href="" target="_blank">{$dlunbo['title2']}</a></h2>
													<p>{$dlunbo['content2']}</p>
													<a href="" target="_blank">
														<img src="{$dlunbo['img2']}"  onerror="this.onerror=null;this.src='__PUBLIC__/home/news/images/0103084300.jpg!680.jpg'" alt="进化版大力神 东风神宇6X4自卸底盘图解" style="width:680px ;height:400px">
													</a>
												</li>
												<li style="float: left; list-style: outside none none; position: relative; width: 680px;">
													<h2><a href="" target="_blank">{$dlunbo['title3']}</a></h2>
													<p>{$dlunbo['content3']}</p>
													<a href="" target="_blank">
													<img  src="{$dlunbo['img3']}" onerror="this.onerror=null;this.src='__PUBLIC__/home/news/images/1230223836.jpg!680.jpg'" alt="三步安装五大优势 图说擎天柱结缘康迈" style="width:680px ;height:400px">
													</a>
												</li>

											</ul>
										</div>
										<div class="bx-controls bx-has-pager">
											<div class="bx-pager bx-default-pager">
												<!--<a href="" data-slide-index="0" class="bx-pager-link"></a>
												<a href="" data-slide-index="1" class="bx-pager-link active"></a>
												<a href="" data-slide-index="2" class="bx-pager-link"></a>-->
											</div>
										</div>
									</div>
								</div>
								<!--<div class="bx-controls bx-has-pager">
									<div class="bx-pager bx-default-pager"></div>
								</div>-->
							</div>
							<div class="op_btns clearfix banner-btn"></div>
							<div class="op_btns clearfix banner-btn"><a href="javascript:void(0)" class="prevBtn"><i></i></a> <a href="javascript:void(0)" class="nextBtn"><i></i></a></div>
						</div>
						<script type="text/javascript">
							(function(){
								$(".banner-img").bxSlider({
									auto:true,
									prevSelector:$(".banner .prevBtn")[0],nextSelector:$(".banner .nextBtn")[0]
								});
							})();
                		</script>
						<!--焦点图结束-->
						<div class="lis_alisbox lis_alisbox_xll">
							<a name="content"></a>
								<div id="pageList">
									<volist name="data3" id="vo">
										<div class="probox_1">
											<div class="probox_2">
												<dl>
													<dt>
														<a href="" target="_blank" title="{$vo['title']}">
															<img src="{$vo['picname']}" onerror="this.onerror=null;this.src='__PUBLIC__/home/news/images/256363.jpg!150.jpg'" style="width:150px ;height:100px" alt="{$vo['title']}" border="0">
														</a>
													</dt>
												</dl>
											</div>
											<div class="news_dk">
												<div class="news_dk1">
													<a href="{:U('Xarticle/zxdetail',array('id'=>$vo['id']))}" target="_blank">{$vo['title']}</a>
												</div>
												<div class="news_dk2">
													{$vo['content']|msubstr=0,60,'utf-8',true}
												</div>
												<div class="news_dk3">
													<div class="news_dk3a ft">{:date('Y年m月d日',$vo['atime'])}<span>{$vo['editor']}</span></div>
													<div class="news_dk3b fr">
														<a href="" target="_blank"><em class="pinglun"></em>{$vo['count']}</a></div>
												</div>
											</div>
										</div>
									</volist>
									<div class="probox_1" id="loadDiv" style="text-align: center; font-size: 16px; display: none">
										加载中,请稍候...
									</div>
								</div>
                    <!--分页控件 v3.0-->
								<div class="pageboxtom">
									<div class="pages">
										{$show}
									</div>
									<!-- <div class="pages">

										<span>1</span><a href="" target="_self">2</a>
										<a href="" target="_self">3</a>
										<a href="" target="_self">4</a>
										<a href="" target="_self">5</a>
										<a href="t" target="_self">6</a>
										<a href="" target="_self">7</a>
										<a href="" class="pages-wd" target="_self">下一页</a>
									</div> -->
								</div>
						</div>
				</div>
			</div>
			<div class="fr m_p_boxb">
				<div class="m_p_rbox">
					<div class="cennerh3"><h3>卡车新闻一周热门文章</h3></div>
						<ul class="numbphc numbphcnew">
							<volist name="data2" id="vo" key="i">
								<li>
									<em class="orange{$i}"></em>
									<div class="hotttie">
										<a href="{:U('Xarticle/zxdetail',array('id'=>$vo['id']))}" target="_blank" class="gred3" title="{$vo['title']}">{$vo['title']|msubstr=0,20,'utf-8',false}</a>
									</div>
									<label>
										<a href="" target="_blank"><em class="pinglun"></em>{$vo['count']}</a>
									</label>
								</li>
							</volist>

						</ul>
				</div>
				<div class="cennero">
					<div class="cennerh3">
						<h3><a href="" target="_blank">热门专题</a></h3>
						<a href="{:U('Xarticle/index')}" target="_blank" class="gred9">更多&gt;&gt;</a>
					</div>
					<dl class="topic">
						<volist name="hotdata" id="vo">
							<dt>
								<div class="spe_topic_pic">
									<a href="{:U('Xarticle/zxdetail',array('id'=>$vo['id']))}" target="_blank" title="{$vo['title']}">
										<img src="{$vo['picname']}" alt="{$vo['title']}" onerror="this.onerror=null;this.src='__PUBLIC__/home/news/images/1225095639.jpg'" style="width:150px ;height:100px" height="100" width="150">
									</a>
								</div>
								<div class="spe_topic_txt">
									<a href="{:U('Xarticle/zxdetail',array('id'=>$vo['id']))}" target="_blank">{$vo['title']}</a>
								</div>
							</dt>
						</volist>
						<!-- <dd>
							<div class="spe_topic_pic">
								<a href="" target="_blank" title="2015卡车之家年度车型评选 入围榜单">
									<img src="__PUBLIC__/home/news/images/1225095639.jpg" alt="2015卡车之家年度车型评选 入围榜单" style="width:140px ;height:70px" height="70" width="140">
								</a>
							</div>
							<div class="spe_topic_txt">
								<a href="" target="_blank">2015卡车之家年度车型评选 入围榜单</a>
							</div>
						</dd> -->
					</dl>


				</div>

			</div>



		<div class="clear"></div>




		<!--productbox end-->
</block>



