<extend name="Public/base"/>
<block name="main">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">添加品牌分类</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form class="form-horizontal" action="{:U('Xbrand/insert')}" method="post">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">父类名称：</label>
									<div class="col-sm-10">
									{:I('get.name',"根目录")}
									<input type="hidden" id="pid"  name="pid"  value="{:I('get.id',0)}">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">类别名称：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="name" placeholder="类别名称" name="name">
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-default">添加</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>