<extend name="Public/Lbase"/>
<block name="main">

    <!--帖子最终页加导航end-->
    <div class="wholebg">

        <!--*页面主体begin*-->
        <div class="wbg2">
            <div class="topmain s_clear">
                <!--导航begin-->
                <div class="jlbtn">
                    <div class="jlbtn_gui">
                        <a class="" id="fjump" href="">卡车论坛</a> <em>&#187;</em>
                        <a href="">公告详情</a>
                    </div>
                    <div class="dengluhou">
                        <span style="color:red">{$_SESSION['user']['username']}</span> <em>|</em>

                        <a href="{:U('User/userindex')}">个人中心</a>
                        <em>|</em>
                        <a href="{:U('User/logout')}">退出</a>
                        <em>|</em>

                    </div>

                </div>
                <!--导航弹出begin-->
                <div id="append_parent">
                    <div></div>

                    <div style="clear:both;margin:0 auto 3px;overflow:hidden;">
                        <div id="PAGE_AD_851912">
                            <div id="_6swn7tmem9w">
                                <a href="" target="">
                                    <img src="__PUBLIC__/bbs/images/0f000ZoUL6CYTxbiredbwf.jpg" title="" alt="" border="0" height="60" width="960"></a>
                            </div>
                        </div>
                        <div style="clear:both;margin:0 auto 3px;overflow:hidden;">
                            <div id="PAGE_AD_851913">
                                <div id="_dcxqzivvq5m">
                                    <a href="" target="">
                                        <img src="__PUBLIC__/bbs/images/0f0000vvCzBFrR_kFprLK0.jpg" title="" alt="" border="0" height="60" width="960"></a>
                                </div>
                            </div>
                        </div>

                        <div style="clear:both;margin:0 auto 3px;overflow:hidden;">
                            <div id="PAGE_AD_2360377">
                                <div id="_h31sbtcqeco"></div>
                            </div>
                        </div>

                        <!--页头页码栏begin-->
                        <div class="ym2013">
                            <div class="ym2013_l">
                                <span class="pageback" id="visitedforums">
                                    <a href="{:U('Lnotic/index',array('id'=>$data1['tid']))}">返回列表</a>
                                </span>
                            </div>
                        </div>

                        <!--论坛帖内容begin-->
                        <div class="lz">
                            <div class="jlbtz_content">
                                <div class="jlbtz_contenttil">
                                    <div id="wrap" class="wrap s_clear">

                                        <!--文章标题begin-->
                                        <div class="jlbtz_contentiltle jlbtz_contentiltlead">
                                            <span class="b_part" style="float:left">标题：{$data1['title']}</span>
                                        </div>

                                        <div id="ad_text"></div>
                                        <!--标题帖子管理begin-->

                                        <div id="post_15502054">

                                            <!--论坛具体内容begin-->
                                            <div id="pid15502054" class="wbg3">

                                                <!--论坛左侧信息begin-->
                                                <div class="left">
                                                    <div class="conleft left">

                                                        <div class="client_n">
                                                            <a target="" href="" style="margin-left: 20px; font-weight: 800">{$data['username']}</a>
                                                        </div>

                                                        <div id="userinfo15502054_a">


                                                            <div class="client_l">
                                                                <p>
                                                                    <input value="{8---1}" type="hidden">
                                                                    <em style="float:left;">卡车之家管理员</em>
                                                                </p>
                                                            </div>

                                                        </div>
                                                       <!--  <div class="client_l">
                                                           <p>
                                                               <span class="optimize3"></span>
                                                           </p>
                                                       </div> -->

                                                        <div class="client_l s_clear"></div>
                                                        <div class="optimize1"></div>

                                                    </div>
                                                </div>

                                                <!--论坛右侧信息begin-->
                                                <div class="conright wbg4 s_clear right">
                                                    <!--论坛右侧楼层管理begin-->
                                                    <div class="manage1 s_clear">
                                                        <div class="lc_info">
                                                            <div class="lc_info_l left">
                                                                <!--辩论帖-->
                                                                <div class="pagecontrol" style="display:none;"></div>
                                                                <div class="authorinfo">
                                                                    <img class="authicon" id="authicon15502054" src="__PUBLIC__/bbs/images/online_member.gif" onclick="showauthor(this, 'userinfo15502054');" height="16" width="16">
                                                                    <span class="fbtime">
                                                                        <em id="authorposton15502054">发表于 {:date('Y-m-d H:i:s',$data1['addtime'])}</em> <font>|</font>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="m_content s_clear">
                                                        <!--论坛右侧文字标题begin-->
                                                        <div class="m_content1">

                                                            <div class="m_content1_bt">
                                                                <h1>{$data1['title']}</h1>
                                                                <div class="xian"></div>
                                                            </div>

                                                        </div>
                                                        <!--论坛右侧文字内容begin-->
                                                        <div class="">
                                                            <div class="t_msgfontfix">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="t_msgfont" id="postmessage_15502054">
                                                                                {:htmlspecialchars_decode($data1['content'])} <font color="#999999"></font>
                                                                                <br></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--返回顶部--> </div>
                    </div>
            </div>
        </div>
    </div>
</block>