<extend name="Public/Lbase"/>
<block name="main">


         <div class="jlbtn">
            <a href="">卡车论坛</a>
            &#187;
            发表回复
            <div class="dengluhou">
                <cite>
                    <a href="">{$_SESSION['user']['username']}</a>
                </cite>
                |
                <a href="">我的帖子</a>
                |
                <a class="" href="" id="pm_ntc" title="" target="">短消息</a>
                |
                <a href="">搜索</a>
                |
                <a href="">帮助</a>
                |
                <a href="">个人中心</a>
                |
                <a href="">退出</a>
            </div>
        </div>
        <div class="wrap" style="height:600px;border:1px solid #aaa">
            <div class="content1">
                <div id="floatwinnojs">
                <form action="{:U('Lreply/insert')}" method="post">
                    <div class="tit_titl" id="returnmessage">
                        <em></em>
                        发表回复
                    </div>
                    <div>
                        <div class="tit_are">
                            <div class="t_a_ir">
                                <input type="hidden" value="{$tid}" name="tid">
                                <input type="hidden" value="{$pid}" name="pid">
                                <if condition="$pid==0">
                                    <input maxlength="120" id="subject" value="{$res['title']}" name="title" disabled tabindex="1" class="mouover">
                                    <else/><input maxlength="120" id="subject" value="回复给{$res1['username']}" name="title" disabled tabindex="1" class="mouover">
                                </if>

                                <div class="t_a_box_a"></div>
                                <div class="t_a_box_b"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tit_edit" style="padding: 4px;overflow: hidden;" id="diveditor">

                            <script id="editor" name="content" type="text/plain" style="width:938px;height:370px;"></script>

                        <script>
                            // 初始化编辑器
                             var ue = UE.getEditor('editor',{
                                toolbars: [
                                    ['fullscreen', 'source', 'undo', 'redo', 'bold','deleterow','cleardoc','simpleupload','insertimage'],
                                    ['bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc']
                                ]
                             });
                        </script>
                    </div>

                    <div class="tit_bot_post">
                        <div class="t_b_p_left">
                            <a href="" target="">卡车之家论坛管理规定</a>
                        </div>

                        <div class="t_b_p_rigt">
                            <button type="submit" id="postsubmit" value="true" name="topicsubmit" tabindex="1">发表回复</button>
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>

    <div style="clear:both"></div>
</block>
