<extend name="Public/Lbase"/>
<block name="main">

    <!--帖子最终页加导航end-->
    <div class="wholebg">

        <!--*页面主体begin*-->
        <div class="wbg2">
            <div class="topmain s_clear">
                <!--导航begin-->
                <div class="jlbtn">
                    <div class="jlbtn_gui">
                        <a class="" id="fjump" href="{:U('Lindex/index')}">卡车之家论坛</a>

                    </div>
                    <div class="dengluhou">
                        <a href="" class="noborder">{$_SESSION['user']['username']}</a>
                        <em>|</em>
                        <a href="{:U('User/userindex')}">个人中心</a>
                        <if condition="$_SESSION['user'] neq null">
                        <em>|</em>
                        <a href="{:U('User/logout')}">退出</a></if>
                    </div>

                </div>
                <!--导航弹出begin-->
                <div id="append_parent">
                    <div style="clear:both;margin:0 auto 3px;overflow:hidden;">
                        <div id="PAGE_AD_851912">
                            <div id="_6swn7tmem9w">
                                <a href="" target="">
                                    <img src="__PUBLIC__/bbs/images/0f000ZoUL6CYTxbiredbwf.jpg" title="" alt="" border="0" height="60" width="960"></a>
                            </div>
                        </div>
                        <div style="clear:both;margin:0 auto 3px;overflow:hidden;">
                            <div id="PAGE_AD_851913">
                                <div id="_dcxqzivvq5m">
                                    <a href="" target="">
                                        <img src="__PUBLIC__/bbs/images/0f0000vvCzBFrR_kFprLK0.jpg" title="" alt="" border="0" height="60" width="960"></a>
                                </div>
                            </div>
                        </div>

                        <div style="clear:both;margin:0 auto 3px;overflow:hidden;">
                            <div id="PAGE_AD_2360377">
                                <div id="_h31sbtcqeco"></div>
                            </div>
                        </div>

                        <!--页头页码栏begin-->
                        <div class="ym2013">
                            <div class="ym2013_l">
                                <span class="pageback" id="visitedforums">
                                    <a href="{:U('Lpost/index',array('id'=>$data1['tid']))}">返回列表</a>
                                </span>
                            </div>
                            <div class="jlbtiezlier">
                                <span class="replybtn">
                                    <a href="{:U('Lreply/index',array('tid'=>$data1['id']))}" style="color:#000;display:block;background:blue;height:24px;line-height:24px">回复本帖</a>
                                </span>
                                <span class="postbtn" id="newspecial">
                                    <a href="{:U('Lpost/add')}"  style="color:#000;display:block;background:blue;height:24px;line-height:24px">发帖</a>
                                </span>
                            </div>
                        </div>

                        <!--论坛帖内容begin-->
                        <div class="lz">
                            <div class="jlbtz_content">
                                <div class="jlbtz_contenttil">
                                    <div id="wrap" class="wrap s_clear">
                                        <if condition="$data['id'] neq null">
                                        <!--文章标题begin-->
                                        <div class="jlbtz_contentiltle jlbtz_contentiltlead">
                                            <span class="b_part" style="float:left">标题：{$data['title']}</span>
                                            <span class="r_part">
                                                回复: <b>{$reply1}</b>
                                                | 查看： <b>{$read3['readCount']}</b>
                                                | <a href="{:U('Lcol/insert',array('id'=>$data['id']))}" id = "collect">收藏帖子</a>
                                            </span>
                                        </div>
                                        <script>
                                        $(function(){
                                            $(#collect).click()
                                        })
                                        </script>

                                        <div id="post_15502054">

                                            <!--论坛具体内容begin-->
                                            <div id="pid15502054" class="wbg3">

                                                <!--论坛左侧信息begin-->
                                                <div class="left">
                                                    <div class="conleft left">

                                                        <div class="client_n">
                                                            <a target="" href="" style="margin-left: 20px; font-weight: 800">{$data['username']}</a>
                                                        </div>

                                                        <div id="userinfo15502054_a">
                                                            <div class="avatar">
                                                                <a href="" target="">
                                                                    <img src="{$data['picname']}"  width="100px" />
                                                                </a>
                                                            </div>

                                                            <div class="client_l">
                                                                <p>
                                                                    <input value="{8---1}" type="hidden">
                                                                    <em style="float:left;">卡车学徒</em>
                                                                </p>
                                                            </div>

                                                        </div>
                                                        <div class="client_l">
                                                            <p>
                                                                <span class="optimize3"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="conright wbg4 s_clear right">

                                                    <div class="manage1 s_clear">
                                                        <div class="lc_info">
                                                            <div class="lc_info_l left">
                                                                <div class="authorinfo">
                                                                    <img class="authicon" id="authicon15502054" src="__PUBLIC__/bbs/images/online_member.gif" height="16" width="16">
                                                                    <span class="fbtime">
                                                                        <em id="authorposton15502054">发表于 {:date('Y-m-d H:i:s',$data['ctime'])}</em> <font>|</font>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="copy right">
                                                                <if condition="$data['uid'] eq $_SESSION['user']['id']">
                                                                    <span><a href="{:U('Lpost/edit',array('id'=>$data['id']))}">编辑</a></span>
                                                                    <span><a href="{:U('Lpost/delete',array('id'=>$data['id']))}">删除</a></span>
                                                                </if>

                                                                楼主
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="m_content s_clear">

                                                        <div class="m_content1">

                                                            <div class="m_content1_bt">
                                                                <h1>{$data['title']}</h1>
                                                            </div>

                                                        </div>

                                                        <div class="">
                                                            <div class="t_msgfontfix">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="t_msgfont" id="postmessage_15502054">
                                                                                {:htmlspecialchars_decode($data['content'])} <font color="#999999"></font>
                                                                                <br></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <volist name="reply" id='vo'>

                                                <div id="post_15502054">


                                                    <div id="pid15502054" class="wbg3"  style="border-top:2px solid #ccc;margin:6px 0" >


                                                        <div class="left">
                                                            <div class="conleft left">

                                                                <div class="client_n">
                                                                    <a target="" href="" style="margin-left: 20px; font-weight: 800">{$vo['username']}</a>
                                                                </div>

                                                                <div id="userinfo15502054_a">
                                                                    <div class="avatar">
                                                                        <a href="" target="">
                                                                            <img src="{$vo['picname']}"  width="100px" />
                                                                        </a>
                                                                    </div>

                                                                    <div class="client_l">
                                                                        <p>
                                                                            <input value="{8---1}" type="hidden">
                                                                            <em style="float:left;">卡车学徒</em>
                                                                        </p>
                                                                    </div>

                                                                </div>
                                                                <div class="client_l">
                                                                    <p>
                                                                        <span class="optimize3"></span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="conright wbg4 s_clear right">

                                                            <div class="manage1 s_clear">
                                                                <div class="lc_info">
                                                                    <div class="lc_info_l left">
                                                                        <div class="authorinfo">
                                                                            <img class="authicon" id="authicon15502054" src="__PUBLIC__/bbs/images/online_member.gif" height="16" width="16">
                                                                            <span class="fbtime">
                                                                                <em id="authorposton15502054">发表于 {:date('Y-m-d H:i:s',$vo['ctime'])}</em>
                                                                                <font>|</font>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="copy right">
                                                                    <if condition="$data['uid'] eq $_SESSION['user']['id']">
                                                                        <span><a href="{:U('Lreply/delete',array('id'=>$vo['id']))}">删除</a></span>
                                                                    </if>
                                                                    <a title="" id="postnum15502054" href="{:U('Lreply/index',array('pid'=>$vo['id'],'tid'=>$data1['id']))}">回复本帖</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="m_content s_clear">

                                                                <div class="m_content1">

                                                                    <div class="m_content1_bt">
                                                                        <h1>{$vo['title']}</h1>
                                                                    </div>

                                                                </div>

                                                                <div class="">
                                                                    <div class="t_msgfontfix">
                                                                        <table>
                                                                            <tr>
                                                                                <td class="t_msgfont" id="postmessage_15694020">
                                                                                    {:htmlspecialchars_decode($vo['content'])}
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <volist name="vo['subcat']" id='vo1'>

                                                    <div id="post_15502054">
                                                        <div id="pid15502054" class="wbg3"  style="border-top:2px solid #ccc;margin:6px 0" >
                                                            <div class="left">
                                                                <div class="conleft left">

                                                                    <div class="client_n">
                                                                        <a target="" href="" style="margin-left: 20px; font-weight: 800">{$vo1['username']}</a>
                                                                    </div>

                                                                    <div id="userinfo15502054_a">
                                                                        <div class="avatar">
                                                                            <a href="" target="">
                                                                                <img src="{$vo1['picname']}"  width="100px" />
                                                                            </a>
                                                                        </div>

                                                                        <div class="client_l">
                                                                            <p>
                                                                                <input value="{8---1}" type="hidden">
                                                                                <em style="float:left;">卡车学徒</em>
                                                                            </p>
                                                                        </div>

                                                                    </div>
                                                                    <div class="client_l">
                                                                        <p>
                                                                            <span class="optimize3"></span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="conright wbg4 s_clear right">
                                                                <div class="manage1 s_clear">
                                                                    <div class="lc_info">
                                                                        <div class="lc_info_l left">
                                                                            <div class="authorinfo">
                                                                                <img class="authicon" id="authicon15502054" src="__PUBLIC__/bbs/images/online_member.gif" height="16" width="16">
                                                                                <span class="fbtime">
                                                                                    <em id="authorposton15502054">发表于 {:date('Y-m-d H:i:s',$vo1['ctime'])}</em>
                                                                                    <font>|</font>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="copy right">
                                                                            <if condition="$data['uid'] eq $_SESSION['user']['id']">
                                                                                <span><a href="{:U('Lreply/delete',array('id'=>$vo1['id']))}">删除</a></span>
                                                                            </if>
                                                                            <a title="" id="postnum15502054" href="{:U('Lreply/index',array('pid'=>$vo1['id'],'tid'=>$data1['id']))}">回复本帖</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="m_content s_clear">

                                                                    <div class="m_content1">

                                                                        <div class="m_content1_bt">
                                                                            <h1>{$vo1['title']}</h1>
                                                                        </div>

                                                                    </div>

                                                                    <div class="">
                                                                        <div class="t_msgfontfix">
                                                                            <table>
                                                                                <tr>
                                                                                    <td class="t_msgfont" id="postmessage_15694020">
                                                                                        <div class="quote">
                                                                                            <blockquote>
                                                                                                <div class="quotbox">
                                                                                                    <font color="#999999">
                                                                                                        <font size="2">
                                                                                                            <div class="quotbox_a">
                                                                                                                <a href="" target="">{$vo['username']}</a>
                                                                                                                {:date('Y-m-d H:i:s',$vo['ctime'])}发表
                                                                                                            </div>
                                                                                                        </font>
                                                                                                    </font>
                                                                                                </div>
                                                                                                {:htmlspecialchars_decode($vo['content'])}<br>
                                                                                            </blockquote>
                                                                                        </div>
                                                                                        {:htmlspecialchars_decode($vo1['content'])}
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </volist>

                                        </volist>
                                        </if>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</block>