<extend name="Public/Lbase"/>
<block name="main">


         <div class="jlbtn">
            <a href="">卡车论坛</a>
            &#187;
            编辑帖子
            <div class="dengluhou">
                <cite>
                    <a href="">{$_SESSION['user']['username']}</a>
                </cite>
                |
                <a href="{:U('User/userindex')}">个人中心</a>
                |
                <a href="{:U('User/logout')}">退出</a>
            </div>
        </div>
        <div class="wrap" style="height:600px;border:1px solid #aaa">
            <div class="content1">
                <div id="floatwinnojs">
                <form action="{:U('Lpost/update')}" method="post">
                    <div class="tit_titl" id="returnmessage">
                        <em></em>
                        编辑帖子
                    </div>
                    <div>
                        <div class="tit_are">
                            <div class="t_a_il" style="padding: 0 6px">
                                <div style="float:left;  width:100px; position:relative; z-index:990;">
                                    <div class="float_typeidnew">
                                        <select name="tid"  class="loadselect" id="typeid_selectinput" tabindex="1">
                                            <option value="{$res['tid']}" selected>{$res['catename']}</option>
                                            <volist name="data" id="vo">
                                                <if condition="in_array($vo['id'],$pid)">

                                                    <option value="{$vo['id']}" disabled>{$vo['catename']}</option>
                                                <else/>
                                                    <option value="{$vo['id']}" >{$vo['catename']}</option>
                                                </if>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="t_a_ir">
                                <input type="hidden" name="id" value="{$res['id']}">
                                <input maxlength="80" id="subject" value="{$res['title']}" name="title" tabindex="1" class="mouover">
                                <div class="t_a_box_a"></div>
                                <div class="t_a_box_b"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tit_edit" style="padding: 4px;overflow: hidden;" id="diveditor">

                            <script id="editor" name="content" type="text/plain" style="width:938px;height:370px;">{:htmlspecialchars_decode($res['content'])}</script>

                        <script>
                            // 初始化编辑器
                             var ue = UE.getEditor('editor',{
                                toolbars: [
                                    ['fullscreen', 'source', 'undo', 'redo', 'bold','deleterow','cleardoc','simpleupload','insertimage'],
                                    ['bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc']
                                ]
                             });
                        </script>
                    </div>

                    <div class="tit_bot_post">
                        <div class="t_b_p_left">
                            <a href="" target="">卡车之家论坛管理规定</a>
                        </div>

                        <div class="t_b_p_rigt">

                            <label>
                                <input name="rece_notice" value="1" type="checkbox">有回复通知我</label>

                            <button type="submit" id="postsubmit" value="true" name="topicsubmit" tabindex="1">发布帖子</button>
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>

    <div style="clear:both"></div>
</block>
