<extend name="Public/base"/>
<block name="main">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">添加产品</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form class="form-horizontal" action="{:U('Xproduct/update')}" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">产品名称：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="pname" value="{$data['pname']}" placeholder="产品名称：" name="pname">

										<input type="hidden" class="form-control" style="width:50%" id="pname" value="{$data['id']}" placeholder="id" name="id">
										</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">价格:</label>
									<div class="col-sm-10">
										<input style="width:50%" type="text" class="form-control" id="price" placeholder="价格" value="{$data['price']}" name="price">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">货箱长度:</label>
									<div class="col-sm-10">
										<input style="width:50%" type="text" class="form-control" id="boxlength" placeholder="货箱长度" name="boxlength" value="{$data['boxlength']}">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">轴距:</label>
									<div class="col-sm-10">
										<input style="width:50%" type="text" class="form-control" id="wheelbase" placeholder="轴距" name="wheelbase" value="{$data['wheelbase']}">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">前进档位:</label>
									<div class="col-sm-10">
										<input style="width:50%" type="text" class="form-control" id="forwardgear" placeholder="前进档位" name="forwardgear" value="{$data['forwardgear']}">
									</div>
								</div>

								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">最大马力:</label>
									<div class="col-sm-10">
										<input style="width:50%" type="text" class="form-control" id="horsepower" placeholder="最大马力" name="horsepower" value="{$data['horsepower']}">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">发动机:</label>
									<div class="col-sm-10">
										<input style="width:50%" type="text" class="form-control" id="engine" placeholder="发动机" name="engine" value="{$data['engine']}">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">排放标准:</label>
									<div class="col-sm-10">
										<input style="width:50%" type="text" class="form-control" id="effluent" placeholder="排放标准" name="effluent" value="{$data['effluent']}">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">公告型号:</label>
									<div class="col-sm-10">
										<input style="width:50%" type="text" class="form-control" id="announcement" placeholder="公告型号" name="announcement" value="{$data['announcement']}">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">驱动形式:</label>
									<div class="col-sm-10">
										<input style="width:50%" type="text" class="form-control" id="drive" placeholder="驱动形式" name="drive" value="{$data['drive']}">
									</div>
								</div>

								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">车型分类:</label>
									<div class="col-sm-10">

										<select style="width:50%" class="form-control" name="tid">
											<volist name="list" id="vo" >
												<if condition="in_array($vo['id'],$pid)">
													<option value="{$vo['id']}" disabled {$vo['id']==$data['tid']?'selected':''} style="padding-left:{$vo['level']*50}px;">
														{:str_repeat("&nbsp;",$vo['level']*5)}|--{$vo['name']}
													</option>
												<else />
													<option value="{$vo['id']}" {$vo['id']==$data['tid']?'selected':''} style="padding-left:{$vo['level']*50}px;">
														{:str_repeat("&nbsp;",$vo['level']*5)}|--{$vo['name']}
													</option>
												</if>
											</volist>
                                        </select>


									</div>
								</div>


								<div class="form-group">
    								<label for="exampleInputFile" class="col-sm-2 control-label">上传图片：</label>
    								<div class="col-sm-10">
    									<input type="file" name="picname"  class="">
										<img src="{$data['picname']}"  height="50px"/>
    								</div>
  								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">描述：</label>
									<div class="col-sm-10">
										<!-- <textarea style="width:50%" class="form-control" rows="3" id="describe" name="describe" placeholder="描述"></textarea> -->
										<!-- <textarea  style="width:50%" class="form-control" rows="5" id="wysiwig_full" name="describes" value="{$data['describes']}">{$data['describes']}</textarea> -->

										<script id="container" name="describe" type="text/plain">
       										 {$data['describe']}
    									</script>
										<script type="text/javascript">
									        var ue = UE.getEditor('container');
									    </script>
									</div>



								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-primary">修改</button>
										<button onclick="javascript:location.href='{:U('Xproduct/index')}';" class="btn btn-primary" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>