<extend name="Public/base"/>
<block name="main">
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/page/css.css" media="all" /> -->
	<div class="row">
		 <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            用户管理
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">用户id</th>
                                            <th class="text-center">用户名</th>

                                            <th class="text-center">性别</th>
                                            <th class="text-center">电话</th>
                                            <th class="text-center">邮箱</th>

                                            <th class="text-center">用户图像</th>
                                            <th class="text-center">注册时间</th>
                                            <th class="text-center">状态</th>
                                            <th class="text-center">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>

										<volist name="data" id="vo">
											<tr class="text-center">
	                                            <td style="vertical-align:middle;">{$vo['id']}</td>
	                                            <td style="vertical-align:middle;"><a href="{:U('User/edit',array('id'=>$vo['id']))}">{$vo['username']}</a></td>

	                                            <td style="vertical-align:middle;">{$vo['sex']==1?"男":'女'}</td>
	                                            <td style="vertical-align:middle;">{$vo['phone']}</td>
	                                            <td style="vertical-align:middle;">{$vo['email']}</td>
	                                            <td>
	                                               <img src="{$vo['picname']}" height="50px"/>
	                                            </td>
	                                            <td style="vertical-align:middle;">{:date("Y-m-d",$vo['addtime'])}</td>
	                                            <!-- <td style="vertical-align:middle;">{$vo['cate']==1?"管理员":"普通会员"}</td> -->
	                                            <td style="vertical-align:middle;">{$vo['state']==1?"启用":"禁用"}</td>
	                                            <td style="vertical-align:middle;">
	                                            <a href="{:U('User/edit',array('id'=>$vo['id']))}">编辑</a>
                                                 <a href="{:U('User/able',array('id'=>$vo['id'],'state'=>$vo['state']))}"><if condition="$vo['state'] eq 2">启用
                                                            <else/>禁用
                                                            </if></a>
	                                             <a href="{:U('User/delete',array('id'=>$vo['id']))}">删除</a>

	                                            </td>
                                        </tr>

										</volist>

										<tr>
											<td colspan="9" class="text-center">

												{$show}

											</td>

										</tr>

                                    </tbody>
                                </table>


                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
	</div>
</block>