
<extend name="Public/base"/>
<block name="main">
	<!-- <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Tables</h1>
			</div>

	</div> -->
	<div class="row">
		 <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            文章类别管理
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Id号</th>
                                            <th class="text-center">文章类别名称</th>
                                            <th class="text-center">父ID</th>
                                          <!--   <th class="text-center">路径</th> -->
                                            <th class="text-center">操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>

										<volist name="list" id="vo">
											<tr class="text-center">
	                                            <td style="vertical-align:middle;">{$vo['id']}</td>
	                                            <td style="vertical-align:middle;"><a style="margin-left:{$vo['level']*50}px;" href="{:U('xarticlecate/edit',array('id'=>$vo['id']))}">|--{$vo['name']}</a></td>
                                                <td style="vertical-align:middle;">{$vo['pid']}</td>
                                               <!--  <td style="vertical-align:middle;">{$vo['path']}</td> -->

	                                            <td style="vertical-align:middle;">

                                                    <a href="{:U('xarticlecate/add',array('id'=>$vo['id'],'name'=>$vo['name']))}">添加子类</a>
                                                   <a href="{:U('xarticlecate/edit',array('id'=>$vo['id']))}">编辑</a>


                                                   <a href="{:U('xarticlecate/delete',array('id'=>$vo['id']))}">删除</a>

	                                            </td>
                                        </tr>

										</volist>

										<tr>
											<td colspan="4" class="text-center"></td>

										</tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
	</div>
</block>