<extend name="Public/Lbase"/>
<block name="main">
    <div class="bsmain">
        <div class="bslanmu" style="background:#66f;margin:2px auto ">
            <span>
                <a href="" target="">返回论坛首页</a>
            </span>
            <a href="">{$_SESSION['user']['username']}</a>
            <a href="">我的帖子</a>
            <a class="" href="" id="pm_ntc" target="">短消息</a>
            <a href="">搜索</a>
            <a href="">帮助</a>
            <a href="">个人中心</a>
            <a href="">退出</a>
        </div>
        <div id="append_parent"></div>
        <div id="nav">
            <a href="">卡车论坛</a>
        </div>
        <div id="wrap" class="wrap s_clear">

            <div class="main">
                <div class="content">
                    <div class="nojs">

                        <div id="floatwinnojs">
                            <div style="display: none">
                                <ul id="fs_group">
                                    <li fid="28">卡车杂谈|卡车生活</li>
                                </ul>
                                <ul id="fs_forum_common">
                                    <li fid="6">卡车杂谈</li>
                                </ul>
                            </div>

                            <div class="float" style="width: 600px;">
                                <div class="floatbox floatbox1">
                                    <h3 class="float_ctrl"> <em>导航</em>
                                        <span></span>
                                    </h3>
                                    <div class="postbox">
                                        <p class="s_clear">
                                            <button class="right" id="postbtn">发帖</button>
                                            <button class="right" id="enterbtn">进入</button>
                                            <span class="switchnav">
                                                卡车论坛
                                                <span id="switchnav"></span>
                                            </span>
                                        </p>
                                        <ul class="postboardlist s_clear">



                                            <li id="block_group">
                                                <volist name="tree" id="vo">
                                                    <p>
                                                        <a href="javascript:;">{$vo['catename']}</a>
                                                    </p>
                                                    <volist name="vo['subcat']" id="vo1">
                                                        <ul postboardlist s_clear>
                                                            <li id="block_group">
                                                                <p> <a href="javascript:;">{$vo1['catename']}</a></p>
                                                            </li>
                                                        </ul>
                                                    </volist>
                                                </volist>
                                            </li>
                                            <li id="block_subforum"></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="ad_footerbanner1"></div>
        <div id="ad_footerbanner2"></div>
        <div id="ad_footerbanner3"></div>


    </div>
</block>