<extend name="Public/Lbase"/>
<block name="main">

	<div class="crumbs">
		<div>
			<volist name="res" id="vo">
				<ul style="float:left;width:120px">
					<li style="position:relative" class="cate">
						<h3  style="margin:7px;color:#333" class="h3dao">
							<a href="javascript:;">{$vo['catename']}</a>
						</h3>
						<ul style="display:none;position:absolute;z-index:9999;width:120px;background:#eeeff4" class="uldao">
							<volist name="vo['subcat']" id="vo1">
								<li><a href="{:U('Lpost/index',array('id'=>$vo1['id']))}" target="">{$vo1['catename']}</a></li>
							</volist>
						</ul>
					</li>
				</ul>
			</volist>
			<script>
				$(function(){
					$('h3').toggle(function(){
						$(this).next().slideDown();
					},function(){
						$(this).next().slideUp();
					})
				})
			</script>
		</div>
		<form accept-charset="UTF-8" method="post" action="{:U('Lpost/index')}" target="">
		  <span>
			  <input name="title" class="inp1" type="text" placeholder="请输入标题或作者">
			  <input class="btn1" value="论坛搜索" type="submit">
		  </span>
 		</form>
	</div>
	<div class="bbshot-legin">
		<div class="auto_left">
			<div class="focuspic">
				<div id="box">
					<div id="box3" style="overflow:hidden;width:340px;height:200px">
						<volist name="pic" id="vo">
							<img src="__PUBLIC__/{$vo['pic']}" style="width:340px;height:200px">
						</volist>
					</div>
					<ul id="box2">
						<for start='1' end="$picc+1">
							<li>{$i}</li>
						</for>
					</ul>

					<div id="box1">
						<volist name="pic" id="vo">
							<a href="">{$vo['title']}</a>
						</volist>
					</div>
				</div>
			</div>
			<div class="fobox">
	        	<dd class="focus_pLeft">
	        		<a href="" target=""><font color="#d60000">买卖二手卡车?猛击这里看</font></a>
	        		&nbsp;&nbsp;&nbsp;&nbsp;<a href="" target="">徐工重卡全国招募经销商</a>
	        		<br>
	        		<a href="" target="">江淮全新麦斯福中卡平台  </a>
	        		 &nbsp;&nbsp;&nbsp;
	        		<a href="" target="">招聘：编辑/销售(长期有效)</a>
	        	</dd>
	        </div>
		</div>
		<div class="bbshot-txt">
			<h2>
				<a href="{:U('Lpost/detail',array('id'=>$title['id']))}" target="">
					<font color="#d60000">
						<h1>{$title['title']|msubstr=0,16,'utf-8',false}</h1>
					</font>
				</a>
			</h2>
			<ul>
				<volist name="post" id="vo">
					<li>
						<a href="{:U('Lpost/detail',array('id'=>$vo['id']))}" target="">[杂谈]{$vo['title']|msubstr=0,18,'utf-8',true}</a>
					</li>
				</volist>
			</ul>
		</div>
		<div class="bbsregin-hui">
			<div class="login-box">
			<if condition="$_SESSION['user']['id'] eq null">
				<form method="post" name="login" id="login" action="{:U('User/loginaction')}" target="_top">
					<div class="login-box-a">登录卡车之家论坛</div>
					<div class="login-box-b">

						<input class="input_txt" placeholder="用户名或手机号" id="username" name="name" type="text"></div>
					<div class="login-box-c">
						<input class="input_txt" placeholder="密码" id="password" name="password" type="password">
					</div>

					<div class="login-box-e">
						<input name="submit" value="" type="submit"></div>
					 <div class="login-box-f">

					 <a href="{:U('User/forgetpwd')}" style="float:left" target="">忘记密码</a><span id="login_ts"></span>
						<a href="{:U('User/register')}" target="">立即注册</a>
					</div>
				</form>
				<else/>




            <div class="user-content-a">欢迎回家，<a href="{:U('User/userindex')}" target="">{$_SESSION['user']['username']}</a></div>
            <div class="user-content-b">
                <div class="u-c-ba1"><a href="{:U('User/userindex')}" target=""><img src="{$_SESSION['user']['picname']}"  width="70px" height="48px"></a></div>
                <!-- <div class="u-c-ba2">
                    <div class="u-c-ba21">未读消息：<a href="pm.php" target=""><font id="pm_ntc">5</font> 条</a></div>
                                    </div> -->
            </div>
            <div class="user-content-c">
                <div class="u-c-ca1" style="text-align:left">我的主帖：<font style='color:#f00'>{$total}</font> 篇</div>
                <div class="u-c-ca1"  style="text-align:left">我的积分：<span style='color:#f00'> {$userinfo['count']}</span></div>
            </div>

            <div class="user-content-d">
                <div class="u-c-da1"><a href="{:U('User/userindex')}" target="">进入我的个人中心</a></div>
                <div class="u-c-da2"><a href="{:U('User/logout')}" target="">退出登录</a></div>
            </div>
             <div style="margin-bottom:20px"></div>
            <div class="user-content-f">
            	<div class="u-c-fa1"><a href='{:U('Lpost/add')}'><input type="button"></a></div>
                <!-- <div class="new-signin-content" data-role="calendarSign" id="userSign"><span class="new-signin-btn" data-role="calendarSignBtn">签到</span></div> -->
            </div>
			</if>
			</div>
		</div>
	</div>



	<div class="bbs_index">
		<div class="bbszxhf">
			<div class="same_cha2">
				<ul>
					<li id="sc1" class="menu_on">
						十大“ <strong>热</strong>
						”帖
					</li>
					<li class="autoline"></li>
					<li id="sc2" class="menu_off" style="color:red;font-weight:bold">HOT</li>
				</ul>
			</div>
			<div style="display: block;" id="samec1">
				<div id="divspacerank">
					<div id="blogs_spacerank_1">
						<ul>
							<volist name="hot" id="vo">
								<li>
									<a href="{:U('Lpost/detail',array('id'=>$vo['id']))}" title="十大热帖 主题标题:{$vo['title']}" target="">
										{$vo['title']|msubstr=0,16,'utf-8',true}
									</a>
									<span>
										<a href="" target="">{$vo['username']}</a>
									</span>
								</li>
							</volist>
						</ul>
					</div>

				</div>
			</div>
		</div>
			<div class="bbszxhfd">
			<div class="same_cha3">
				<ul>
					<li id="sq1" onmouseover="show_intro('sq','sameq',2,1);" class="menu_on">最新帖子</li>
					<li class="autoline"></li>
					<li id="sq2" onmouseover="show_intro('sq','sameq',2,2);"  style="color:red;font-weight:bold" class="menu_off">NEW</li>
				</ul>
			</div>
			<div style="display: block;" id="sameq1">
				<ul>
					<volist name="new" id="vo">
						<li>
							<a href="{:U('Lpost/detail',array('id'=>$vo['id']))}" target="">{$vo['title']|msubstr=0,16,'utf-8',true}
							</a>
							<span>
								<a href="" target="">{$vo['username']}</a>
							</span>
						</li>
					</volist>
				</ul>
			</div>
		</div>
		<div class="remenhd">
			<div class="remenhdtop">论坛公告<a href="{:U('Lnotic/index')}" style="float:right">MORE...</a></div>
			<ul>
				<volist name="notic" id="vo">
					<li>
						<a href="{:U('Lnotic/detail',array('id'=>$vo['id']))}" target=""> {$vo['title']|msubstr=0,14,'utf-8',true}</a>
					</li>
				</volist>

			</ul>
		</div>
	</div>


	<div class="bbs_index">
		<div class="bbs_indexmain">
			<volist name="tree" id="vo">
				<h3>
					<a href="javascript:void(0);">= {$vo['catename']} =</a>
					<span class="bbsheadactions">

					</span>
				</h3>
				<table id="category_28" summary="category28" style="" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr class="bbscentong">
							<td width="58">&nbsp;</td>
							<td align="left" width="480">板块</td>
							<td align="center" width="180">帖子数</td>
						</tr>
						<volist name="vo['subcat']" id="vo1">
						<tr>
							<td align="center" valign="top">
								<div class="imgkudy"></div>
							</td>
							<td align="left">
								<h2>
									<a href="{:U('Lpost/index',array('id'=>$vo1['id']))}">{$vo1['catename']}</a>
								</h2>
							</td>
							<td align="center">
								<em>{$vo1['sum1']}</em>
							</td>
						</tr>
						</volist>
					</tbody>
				</table>
			</volist>

		</div>
		<div id="ad_intercat_28"></div>
	</div>

	<div class="prefecture">
		  <div class="prefecture_top">
		  	<h2>友情链接</h2>
		  </div>
		  <div class="product">

		  			<ul>
		  				<volist name="link" id="vo">
		  					<li style="display:block;margin:3px;padding:8px;float:left">
		  						<a href="" style="color:#333" target="">{$vo['aname']}</a>
		  					</li>
		  				</volist>

		  			</ul>

		</div>
	</div>
</block>

