<extend name="Public/base"/>
<block name="main">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">添加轮播图</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form class="form-horizontal" action="{:U('Xlunbo/insert')}" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">标题一：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="title" placeholder="标题" name="title1"></div>
								</div>

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">url地址一：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="editor" placeholder="链接地址" name="url1">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">描述一：</label>
									<div class="col-sm-10">

										<textarea name="content1" width="50%" value="" class="form-control"  placeholder="轮播图描述"></textarea>
									</div>
								</div>
								<div class="form-group">
    								<label for="exampleInputFile" class="col-sm-2 control-label">上传图片一：</label>
    								<div class="col-sm-10">
    									<input type="file" name="img1"  class="">
    								</div>
  								</div>


  								<!--2-->
  								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">标题二：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="title" placeholder="标题" name="title2"></div>
								</div>

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">url地址二：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="editor" placeholder="链接地址" name="url2">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">描述二：</label>
									<div class="col-sm-10">

										<textarea name="content2" width="50%" value="" class="form-control"  placeholder="轮播图描述"></textarea>
									</div>
								</div>
								<div class="form-group">
    								<label for="exampleInputFile" class="col-sm-2 control-label">上传图片二：</label>
    								<div class="col-sm-10">
    									<input type="file" name="img2"  class="">
    								</div>
  								</div>


  								<!--3-->
  								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">标题三：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="title" placeholder="标题" name="title3"></div>
								</div>

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">url地址三：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="editor" placeholder="链接地址" name="url3">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">描述三：</label>
									<div class="col-sm-10">

										<textarea name="content3" width="50%" value="" class="form-control"  placeholder="轮播图描述"></textarea>
									</div>
								</div>
								<div class="form-group">
    								<label for="exampleInputFile" class="col-sm-2 control-label">上传图片三：</label>
    								<div class="col-sm-10">
    									<input type="file" name="img3"  class="">
    								</div>
  								</div>

  								<!--4-->
  								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">标题四：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="title" placeholder="标题" name="title4"></div>
								</div>

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">url地址四：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="editor" placeholder="链接地址" name="url4">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">描述四：</label>
									<div class="col-sm-10">

										<textarea name="content4" width="50%" value="" class="form-control"  placeholder="轮播图描述"></textarea>
									</div>
								</div>
								<div class="form-group">
    								<label for="exampleInputFile" class="col-sm-2 control-label">上传图片四：</label>
    								<div class="col-sm-10">
    									<input type="file" name="img4"  class="">
    								</div>
  								</div>


  								<!--5-->
  								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">标题五：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="title" placeholder="标题" name="title5"></div>
								</div>

								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">url地址五：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="editor" placeholder="链接地址" name="url5">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">描述五：</label>
									<div class="col-sm-10">

										<textarea name="content5" width="50%" value="" class="form-control"  placeholder="轮播图描述"></textarea>
									</div>
								</div>
								<div class="form-group">
    								<label for="exampleInputFile" class="col-sm-2 control-label">上传图片五：</label>
    								<div class="col-sm-10">
    									<input type="file" name="img5"  class="">
    								</div>
  								</div>
  								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">状态：</label>
									<div class="col-sm-10">

										<label class="radio-inline">
											<input type="radio" name="state" id="state" value="1" />大图
										</label>
										<label class="radio-inline">
											<input type="radio" name="state" id="state" value="2" />小图
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-default">添加</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>