<!-- 左侧开始  -->
				<div class="colom fl w190">
					<div class="userheard">
						<div class="user_name">{$userdata['username']}</div>
						<div class="user_imgbox">
							<a href="">
								<span>
									<!--<img src="{$userdata['picname']}" onerror="this.onerror=null;this.src='__PUBLIC__/home/news/images/noavatar_middle.gif'" width="120px">-->
									<img src="{$userdata['picname']}"  width="120px">
								</span>
							</a>
						</div>
					</div>
					<!--互动 开始-->
					<!--互动 结束-->



					<!--管理模块 开始-->

					<!--管理模块 结束-->


					<!--左侧导航 开始-->


					<div class="l_ban_module">
						<ul class="item">
							<li class="current">
								<a href="" class="it1 itbig">我的首页</a>
							</li>
							<li><a href="" class="it2 itbig" id="pm_ntc">我的消息</a></li>
							<li><a href="">我的短消息</a></li>
							<li><a href="">我的论坛通知</a></li>
							<li><a href="">写短消息</a></li>
						</ul>
						<div class="divde"></div>
							<ul class="item">
								<li><a href="" class="it3 itbig">我的帖子</a></li>
								<li><a href="">我发的主帖</a></li>
								<li style="display:none;"><a href="#">我收到的回复</a></li>
								<li><a href="">我发的回帖</a></li>
								
							</ul>

						<div class="divde"></div>
						<ul class="item">
							<li><a href="{:U('User/userupdate')}" class="it7 itbig">个人设置</a></li>
							<li><a href="{:U('User/userupdate')}">修改个人资料</a></li>
							<li><a href="{:U('User/userupdate')}">修改头像</a></li>
							<li><a href="{:U('User/userupdate')}">修改密码</a></li>
							<li><a href="">绑定手机<font class="red">&nbsp;&nbsp;(已绑定手机)</font></a></li>
							<li><a href="5">收货地址</a></li>
							<li><a href="">身份信息</a></li>
							<li><a href="">绑定帐号</a></li>
						</ul>
					</div>
					<!--左侧导航 结束-->
				</div>

			<!-- 左侧结束  -->