<extend name="Public/base"/>
<block name="main">
<link rel="stylesheet" href="__PUBLIC__/home/news/css/chaprice.css"/>
<!--linkheader  start-->
		<div class="linkheader">
			<a href="" target="_blank" class="logo">
            <img src="__PUBLIC__/home/news/images/logonew2014.png"></a>
			<span>经销商</span>
		</div>


		<!-- linkheader end-->

		<!--main_topx start-->
		<div class="main_topx"></div>
		<!-- main_topx end-->
		<!---->
		<div class="main_content">
			<div class="cen_sz">
				<div class="censz01">
					<div class="censz01_lt">
						<ul>
							<li><strong>询问底价 </strong></li>
							<li>
								<p>
									<i>想了解底价？</i>请填写右侧信息：您提供的信息将按照信息保护的规定予以保留。</p>
							</li>
							<li><span>信息保密，不对外公开！</span></li>
						</ul>
					</div>
					<form action="{:U('Xproduct/addchaprice')}" method="post" id="chaform">
					<div class="censz01_rt">
						<div class="censz01_rt01">
							想了解 <strong>
                            {$data4['pname']}
							</strong>&nbsp;<br/>最低价，请填写如下信息
						</div>

						<div class="censz01_rt02">

							<table cellpadding="0" cellspacing="0">
								<tbody>

									<tr>
										<td class="tab_left">
											<div>
												<i class="sign">*</i><em>提车地区：</em>
												<input type="hidden" name="pid" value="{:intval(I('get.id'))}"
											</div>
										</td>
										<td class="tab_right">
											<div class="put_tex">
												<span>
													<input class="put01" id="address" name="address" value="" type="text">
												</span>
												<span id="addressinfo" style="display: none"><i>
													<img src="__PUBLIC__/home/news/images/xll_c.jpg"></i><em>请输入地址</em>
												</span>

											</div>
										</td>
									</tr>
									<tr>
										<td class="tab_left">
											<div>
												<i class="sign">*</i><em>您的姓名：</em></div>
										</td>
										<td class="tab_right">
											<div class="put_tex">
												<span>
                                                <input class="put01" name="name" id="name" value="" type="text"></span>
												<span id="nameinfo" style="display: none"><i>
													<img src="__PUBLIC__/home/news/images/xll_c.jpg"></i><em>请输入姓名</em>
												</span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tab_left">
											<div>
												<i class="sign">*</i><em>您的性别：</em></div>
										</td>
										<td class="tab_right">
											<div class="put_tex">
												<span>
													<input  name="sex"  value="1" type="radio"><span style="font-size:16px;padding-left:10px;padding-right:10px;">男</span>
													<input  name="sex" value="2" type="radio"><span style="padding-left:10px;font-size:16px;">女</span>
												</span>
												<span id="sex" style="display: none" ><i>
                                                <img src="__PUBLIC__/home/news/images/xll_c.jpg"></i><em>请输入性别</em></span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tab_left">
											<div>
												<i class="sign">*</i><em>手机号码：</em></div>
										</td>
										<td class="tab_right">
											<div class="put_tex">
												<span>
													<input class="put01" name="phone" id="phone" value="" type="text"></span>
													<span style="display: none;" class="prompt-text">
														提交信息后会立即收到短信</span>
														<span id="phoneinfo" style="display:none"><i>
															<img src="__PUBLIC__/home/news/images/xll_c.jpg"></i><em>请输入11位数字</em>
														</span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="tab_left">
											<div>
												<i class="sign">*</i><em>验证码：</em></div>
										</td>
										<td class="tab_right">
											<div class="put_tex">
												<span>
													<input class="put01" id="code" value="" placeholder="请输入右侧的验证码" type="text">
												</span>
												<span>
													<img alt="验证码图片" title="看不清？点击更换" src="{:U('Xproduct/code')}" onclick="this.src='{:U('Xproduct/code')}?id='+Math.random()" id="captchaimage" style="margin-left: 10px; cursor: pointer; vertical-align: top;">
												</span>

												<span style="display: none" id="yzm"><i>
													<img src="__PUBLIC__/home/news/images/xll_c.jpg"></i>
													<em>验证码不正确</em>
												</span>
											</div>
										</td>
									</tr>

								</tbody>
							</table>

						</div>
						<div class="tab_cen03">
							<div class="tab_cen03_put01">
								<input type="submit" id="btncha" value="获取底价" class="chabtn"/>
							</div>
						</div>

					</div>
				</form>

				</div>
			</div>
		</div>
		<!---->
	<script>
		$(function(){
			var yzmbool=false,namebool=false,phonebool=false,addbool=false;

		$('#code').blur(function(){
				var value=$.trim($(this).val());
				//console.log(value);
				if(value==""){
					$('#yzm').css('display',"block");

					yzmbool=false;
				}else{
					//console.log(value);
					$.post("{:U('Xproduct/valCode1')}",'code1='+value,function(msg){
									//console.log(msg);
									//alert(msg);
								if(msg=="no"){

										$('#yzm').css('display',"block");
										yzmbool=false;
									}else{

										$('#yzm').css('display',"none");
										yzmbool=true;

									}
								})
				}
			});
		$('#address').blur(function(){

			var value=$.trim($(this).val());
			if(value==""){
				//alert(value);
				$('#addressinfo').css('display','block');
				addbool=false;
			}else{
				$('#addressinfo').css('display','none');
				addbool=true;
			}
		});
		$('#name').blur(function(){
			var value=$.trim($(this).val());
			if(value==""){
				$('#nameinfo').css('display','block');
				namebool=false;
			}else{
				$('#nameinfo').css('display','none');
				namebool=true;
			}
		});
		$('#phone').blur(function(){
			var value=$.trim($(this).val());
			//var reg=/^1[3|4|5|8][0-9]\d{4,8}$ /;
			var reg=/^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/i;
			if(value==""){
				$('#phoneinfo').css('display','block');
				phonebool=false;
			}else if(!reg.test(value)){

				$('#phoneinfo').css('display','block');
				phonebool=false;
			}else{
				$('#phoneinfo').css('display','none');
				phonebool=true;
			}

		});
		$('#chaform').submit(function(){

			if(phonebool && namebool && addbool && yzmbool){

				return true;

			}else{
				alert("信息没有填好");
				return false;
			}
		});

		})


	</script>

</block>