<extend name="Public/base"/>
<block name="main">

	<link rel="stylesheet" href="__PUBLIC__/home/news/css/baojia.css"/>
	<link rel="stylesheet" href="__PUBLIC__/home/news/css/imgdetail.css"/>
	<link rel="stylesheet" href="__PUBLIC__/home/news/css/imgfd.css"/>

	<!--frame_left start-->
	<div style="" id="frame_left" class="frame_left">
		<div id="frame_tree" class="frame_tree fl" style="">
			<div style="height: 96px;" id="blist" class="cpmch">
				<div i class="pro_big_b_k">
					<a href="{:U('Xproduct/imgindex')}">全部</a>
				</div>
				<volist name="tree" id="vo" key="k">
					<div id="{$k}" class="pro_big_b">
						<a href="{:U('Xproduct/index',array('id'=>$vo['id']))}" >{$vo['name']}</a>
					</div>
					<div id="subdiv{$k}" class="pplb1_new" style="display: none">
						<div class="pplb1newshow">
							<volist name="vo['subcat']" id="vo1">
								<div class="group1">
									<div class="newtree"> <em></em>
										<a href="{:U('Xproduct/index',array('id'=>$vo1['id']))}">{$vo1['name']}</a>
									</div>
								</div>
							</volist>
							<!-- <div style="height: 300px; width: 100%; clear: both"></div>
						-->
					</div>
				</div>
			</volist>
		</div>
	</div>
	<script type="text/javascript">






    $(document).on("mouseover", ".pro_big_b_k",function(){

        $(this).attr("class","pro_big_b");
        var id = $(this).attr("id");
        $("#subdiv" + id).hide();
    })

    $(document).on("mouseover", ".pro_big_b",function(){

        $(this).attr("class","pro_big_b_k");
        var id = $(this).attr("id");
        id = id.replace("subdiv","");
        $("#subdiv" + id).show();
    })

    </script>

	<div class="frame_right">
		<div class="adimg">

			<img src="__PUBLIC__/home/news/images/0f000nLv_u2gTOeKBFDwq6.gif" title="" alt="" border="0" height="60" width="795"></div>
		<div class="map_mal">
			当前位置：
			<a href="{:U('Index/index')}" class="gred6">卡车之家</a>
			&gt;
			<a href="javascript:;"> <strong>卡车报图库</strong>
			</a>
		</div>

		<div class="imgname_box">

			<script>
				$(function(){
					$(".s_pickupin input").change(function(){
					$(":checked").parent().parent().addClass("pick").siblings().removeClass("pick");
						});
				})
			</script>
			<div class="imgname_box">
				<div class="imgname_b_c">
					<div class="imgname_b_b4">{$prodname['pname']}</div>
					<div class="imgname_b_b2">
						<a href="{:U('Xproduct/prodetail',array('id'=>$prodname['id']))}" class="r_gr6">车型首页</a>
						<span class="r_gr9">|</span>
						<a href="{:U('Xproduct/prodetail',array('id'=>$prodname['id']))}#setfield" class="r_gr6">参数配置</a>
						<span class="r_gr9">|</span>
						<a href="{:U('Xproduct/prodetail',array('id'=>$prodname['id']))}" class="r_gr6">报价</a>
						<span class="r_gr9">|</span>
						<a href="" class="r_gr6">论坛</a>
					</div>
				</div>
				<div class="screen_xuan">
					<div class="s_pickup">
						<div class="s_pickupin">
							<!-- <label>分类：</label> -->
							<dl class="bg_act_1on">
								<dt>
									<a href="http://product.360che.com/img/c1_s66_b10_s99_m6165_t0.html" class="pick">不限</a>
								</dt>
								<dd>
									<a href="#wg">外观({$imgnum1}张)</a>
									<a href="#jiashi">驾驶室({$imgnum2}张)</a>
									<a href="#dipan">底盘 ({$imgnum3}张)</a>
								</dd>
							</dl>
						</div>
					</div>
				</div>

				<if condition="$imgnum1 eq 0">

				<else/>
					<div class="imgname_b_b" id="wg">
					<div class="imgname_b_b1">
						外观
						<span>({$imgnum1}张)</span>
					</div>
				</div>
				<div class="imgname_b_cent">
					<volist name="prodimg1" id="vo">
						<dl>
							<dt>
								<a href="{$vo['picname']}" title="" class="example2">
									<img src="{$vo['picname']}" alt="" border="0" height="160" width="240"></a>
							</dt>
						</dl>
					</volist>

				</div>
				</if>

				<if condition="$imgnum2 eq 0">

				<else/>
					<div class="imgname_b_b" id="jiashi">
					<div class="imgname_b_b1">
						驾驶室
						<span>({$imgnum2}张)</span>
					</div>
				</div>
				<div class="imgname_b_cent">
					<volist name="prodimg2" id="vo">
						<dl>
							<dt>
								<a href="{$vo['picname']}" title="" class="example2">
									<img src="{$vo['picname']}" alt="" border="0" height="160" width="240"></a>
							</dt>
						</dl>
					</volist>

				</div>
				</if>
				<if condition="$imgnum3 eq 0">

				<else/>
					<div class="imgname_b_b" id="dipan">
					<div class="imgname_b_b1">
						底盘
						<span>({$imgnum3}张)</span>
					</div>
				</div>
				<div class="imgname_b_cent">
					<volist name="prodimg3" id="vo">
						<dl>
							<dt>
								<a href="{$vo['picname']}" title="" class="example2">
									<img src="{$vo['picname']}" alt="" border="0" height="160" width="240"></a>
							</dt>
						</dl>
					</volist>

				</div>
				</if>
			</div>
		</div>

	</div>

</div>

<div class="clear" style="height:60px;"></div>
<script src="__PUBLIC__/home/news/js/jquery.min.js"></script>
<script src="__PUBLIC__/home/news/js/jquery.imgbox.pack.js"></script>
<!--frame_left  end-->
<script>
$(function(){

	$(".example2").imgbox({
		'speedIn'		: 0,
		'speedOut'		: 0,
		'alignment'		: 'center',
		'overlayShow'	: true,
		'allowMultiple'	: false
	});
});
</script>
</block>