<extend name="Public/base"/>
<block name="main">

	<link rel="stylesheet" href="__PUBLIC__/home/news/css/baojia.css"/>

		<!--frame_left start-->
		<div style="" id="frame_left" class="frame_left">
			<div id="frame_tree" class="frame_tree fl" style="">
				<div style="height: 96px;" id="blist" class="cpmch">
				<div i class="pro_big_b_k"><a href="{:U('Xproduct/index')}">全部</a></div>
					<volist name="tree" id="vo" key="k">
						<div id="{$k}" class="pro_big_b"><a href="{:U('Xproduct/index',array('id'=>$vo['id']))}" >{$vo['name']}</a></div>
						<div id="subdiv{$k}" class="pplb1_new" style="display: none">
							<div class="pplb1newshow">
								<volist name="vo['subcat']" id="vo1">
									<div class="group1">
										<div class="newtree"> <em></em><a href="{:U('Xproduct/index',array('id'=>$vo1['id']))}">{$vo1['name']}</a></div>
									</div>
								</volist>
								<!-- <div style="height: 300px; width: 100%; clear: both"></div> -->
							</div>
						</div>
					</volist>
		        </div>
			</div>
			 <script type="text/javascript">






    $(document).on("mouseover", ".pro_big_b_k",function(){

        $(this).attr("class","pro_big_b");
        var id = $(this).attr("id");
        $("#subdiv" + id).hide();
    })

    $(document).on("mouseover", ".pro_big_b",function(){

        $(this).attr("class","pro_big_b_k");
        var id = $(this).attr("id");
        id = id.replace("subdiv","");
        $("#subdiv" + id).show();
    })

    </script>
			<form action="" method="get">
			<div class="frame_right">
				<div class="adimg">

					<img src="__PUBLIC__/home/news/images/0f000nLv_u2gTOeKBFDwq6.gif" title="" alt="" border="0" height="60" width="795">
				</div>
				<div class="map_mal">
					当前位置：<a href="" class="gred6">卡车之家</a> &gt;
					<a href="javascript:;"><strong>卡车报价库</strong></a>
				</div>
				<div class="search_bo sometime">
					<div class="hot_search">
						<input  id="keyword" class="hot_stext" name="keyword" value="{:I('get.keyword')}" placeholder="请输入关键词">
						<input class="hot_button"  value="搜索" type="submit">
					</div>
					<div class="hot_pin gred9">
						热词：<a href="javascript:hswicth('轻卡');" class="blue">轻卡</a><a href="javascript:hswicth('J6牵引车');" class="blue">J6牵引车</a><a href="javascript:hswicth('中国重汽');" class="blue">中国重汽</a><a href="javascript:hswicth('国四LNG');" class="blue">国四LNG</a>
					</div>
				</div>

				<div class="imgname_box">
					<div class="screen_xuan" id="datuqiehu">
						<div class="screen_box">
								<a class="scrren_xoxb" id="hongse">
									<div class="screen_boxa">
										精准找车</div>
									<div class="screen_boxb">
										收起</div>
								</a><a class="scrren_xoxb1" id="lvse">
									<div class="screen_boxa1">
										精准找车</div>
									<div class="screen_boxb1">
										展开</div>
								</a>
							</div>
					<div class="s_pickup">
						<div class="s_pickupin" id="name"><label class="fieldname">系列：</label>
							<dl class="bg_act_1on">
								<dd>
									<volist name="data3" id="vo">

										<a href="javascript:;">
											<label>
												<input type="radio"  name="name" value="{$vo['name']}" style="display:none"/>
												{$vo['name']}
											</label>
										</a>
									</volist>

								</dd>
							</dl>
						</div>
						<div class="s_pickupin" id="wheelbase"><label class="fieldname">轴距：</label>
							<dl class="bg_act_1on">
							<dd>
									<volist name="data6" id="vo">
										<a href="javascript:;">

											<label>
												<input type="radio"  name="wheelbase" value="{$vo['wheelbase']}" style="display:none"/>
												{$vo['wheelbase']}mm
											</label>
										</a>
									</volist>
							</dd>
							</dl>
						</div>
						<div class="s_pickupin" id="drive"><label class="fieldname">驱动形式：</label>
							<dl class="bg_act_1on">
								<dd>
									<volist name="data8" id="vo">
										<a href="javascript:;">
											<label>
												<input type="radio"   name="drive" value="{$vo['drive']}" style="display:none"/>
												{$vo['drive']}
											</label>
										</a>
									</volist>
								</dd>
							</dl>
						</div>

						<div class="s_pickupin" id="effluent"><label class="fieldname">排放标准：</label>
							<dl class="bg_act_1on">
							<dd>

								<volist name="data7" id="vo">
										<a href="javascript:;">
										<label>
												<input type="radio"  name="effluent" value="{$vo['effluent']}" style="display:none"/>
												{$vo['effluent']}
											</label>
										</a>
								</volist>
							</dd>
							</dl>
						</div>
						<div class="s_pickupin" id="forwardgear"><label class="fieldname">前进档位：</label>
							<dl class="bg_act_1on">
								<dd>
									<volist name="data5" id="vo">
										<a href="javascript:;">
										<label>
												<input type="radio"  name="forwardgear" value="{$vo['forwardgear']}" style="display:none"/>
												{$vo['forwardgear']}
											</label>
										</a>
									</volist>
								</dd>
							</dl>
						</div>
						<div class="s_pickupin" id="horsepower"><label class="fieldname">最大马力：</label>
							<dl class="bg_act_1on">
								<dd>
									<!-- <a href="javascript:;" class="pick">
										<label>
												<input type="radio"  name="" value="" style="display:none"/>
												不限
											</label>
										</a> -->
									<volist name="data4" id="vo">

										<a href="javascript:;">
										<label>
												<input type="radio"  name="horsepower" value="{$vo['horsepower']}" style="display:none"/>
												{$vo['horsepower']}马力
											</label>
										</a>
									</volist>
								</dd>
							</dl>
						</div>
				</div>
			</div>
			<script>
				$(function(){
					$(".s_pickupin input").change(function(){
					$(":checked").parent().parent().addClass("pick").siblings().removeClass("pick");
						});
				})

			</script>
					<div class="main">
						<div class="v_boxki">
							<div class="v_boxkih1">
								<div id="pnew65" class="v_boxkih2"><a href="javascript:void(0)" onclick="divNew('65')">在售车型</a></div>

								<div class="xll_sy_right_gd"><a href="">更多&gt;&gt;</a></div>
							</div>
							<div id="new65" class="v_boxkih3" style="display:block">
								<div class="tpgx">
									<volist name="data9" id="vo">
									<dl>
										<dt>
											<a target="_blank" href="{:U('Xproduct/prodetail',array('id'=>$vo['id']))}" title="{$vo['pname']}">
											<img src="__PUBLIC__{$vo['picname']}" alt="{$vo['pname']}" height="160" width="240">
											</a>
										</dt>
										<dd>
											<span><a target="_blank" href="{:U('Xproduct/prodetail',array('id'=>$vo['id']))}" alt="{$vo['pname']}" title="{$vo['pname']}">{$vo['pname']} </a></span>
										</dd>
										<dd>
											<font>报价：<a target="_blank" href="{:U('Xproduct/prodetail',array('id'=>$vo['id']))}">{$vo['price']}万 </a></font>
										</dd>
									</dl>
									</volist>

								</div>

							</div>

						</div>

						<div class="pages">
							{$show}
						</div>

					</div>
				</div>

			</div>

			</form>

		</div>

		<div class="clear" style="height:60px;"></div>


		<!--frame_left  end-->

</block>