body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;  font-family: "SimSun","宋体","Arial Narrow";}body,button,input,select,textarea{font-size:12px;  line-height:1.5em;}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp{font-family:courier new,courier,monospace;}small{font-size:12px;}ul,ol{list-style:none;}a{text-decoration:none; color:#004ea2  ;}a:hover{text-decoration:underline; color:#cc0000;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}legend{color:#000;}fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}

/*购物车*/
.es_main{ margin:0 auto; width:1000px; overflow:hidden;}
.es_main2{ margin:0 auto; width:998px; border:solid 1px #d3d3d3; overflow:hidden;}
.gwc_bt{ width:981px; height:36px; padding-right:17px; clear:both; background:url(../images/gouwuche/gwcbtbg1.gif) repeat-x; line-height:36px; color:#333; font-weight:bold;}
.gwc_bt1{ float:left; width:100px; overflow:hidden;padding-right:13px;}
.gwc_bt2{ float:left; width:327px; padding-right:13px;overflow:hidden;}
.gwc_bt3{ float:left; width:168px; overflow:hidden;}
.gwc_bt4{ float:left; width:94px; overflow:hidden;}
.gwc_bt5{ float:left; width:206px; overflow:hidden;}
.gwc_bt6{ float:left; width:60px; overflow:hidden;}
.gwc_bt1 span,.gwc_bt2 span,.gwc_bt3 span,.gwc_bt4 span,.gwc_bt5 span,.gwc_bt6 span{ text-align:center; display:block; }
.gwc_nr1{width:981px; padding-right:17px; height:86px;clear:both; border-bottom:solid 1px #ededed;}
.gwc_nr2{width:981px; padding-right:17px; height:86px;clear:both; border-bottom:solid 1px #ededed; background:#f6f7f9}
.sp1{text-align:center; display:block; color:#888; line-height:86px; }
.sp2{text-align:center; display:block; color:#333; line-height:86px; }
.sp3{ float:left; margin:34px 17px;color:#1e6cc1}
.sp4{ float:left; width:13px; height:15px; background:url(../images/gouwuche/jssl.gif) no-repeat; margin-right:5px; margin-left:13px; margin-top:34px;}
.sp4:hover{ float:left; width:13px; height:15px; background:url(../images/gouwuche/jssl_h.gif) no-repeat; margin-right:5px; margin-left:13px; margin-top:34px;}
.sp5{ float:left; width:30px; height:19px; text-align:center; line-height:19px; border:none; background:none; border:solid 1px #d3d3d3; background:url(../images/gouwuche/srsl.gif) no-repeat; margin-right:5px; margin-top:31px;}
.sp6{ float:left; width:13px; height:15px; background:url(../images/gouwuche/tjsl.gif) no-repeat; margin-right:13px; margin-top:34px;}
.sp6:hover{ float:left; width:13px; height:15px; background:url(../images/gouwuche/tjsl_h.gif) no-repeat; margin-right:13px; margin-top:34px;}
.gwc_bt2_pic{ float:left; margin:15px 12px 15px 0px; width:54px; height:54px; border:solid 1px #d3d3d3; position:relative;}
.gwc_bt2_pic a{ display: table-cell; height:54px; display:table-cell; padding:0; text-align: center; vertical-align:middle; width:54px;}
.gwc_bt2_pic a img{ vertical-align:middle;}
.gwc_bt2_pic img{  max-height:54px; max-width:54px; border:medium none; display:block; margin:0 auto; margin-top:expression((54 - this.height )/2);padding:0px;}
.gwc_bt2_ms{ float:left; width:259px; overflow:hidden; padding-top:22px;}
.gwc_bt2 span.sp_ms2{ float:left; width:259px; color:#888; text-align:left; line-height:21px;}
.gwc_jiesuan{ width:998px; height:103px; border-top:solid 2px #ffe6bc; background:#fff9eb;}
.gwc_xj{ width:970px; margin:0px 18px 0px 10px; border-bottom:dotted 1px #f0d7ad; height:49px; text-align:right; line-height:49px;}
.gwc_xj1{ padding-right:12px; color:#333;}
.gwc_xj1 font{ font-size:12px; color:#ff6600; font-weight:bold;}
.gwc_xj2{ padding-right:18px; color:#333;}
.gwc_xj2 font{ padding-left:20px;color:#333; font-size:12px;}
.gwc_zj{ padding:0px 35px 0px 23px; width:940px; height:53px; clear:both;}
.gwc_zj1{ float:left; margin:22px 0px 12px; overflow:hidden;}
.gwc_zj1 em{ float:left; width:11px; height:12px; background:url(../images/gouwuche/qk.gif) no-repeat; margin-right:5px; margin-top:2px;}
.gwc_zj2{ float:right; margin-top:14px; overflow:hidden;}
.zibt{ float:left; color:#333; margin-top:7px; font-weight:bold;}
.zisz{ float:left; color:#e33006; font-weight:bold; font-family:"Microsoft YaHei","SimSun"; line-height:28px; padding-left:36px;}
.zisz font{color:#e33006; font-weight:bold; font-family:"Microsoft YaHei","SimSun"; font-size:24px;}
.gwc_qd{ width:285px; overflow:hidden; margin:20px auto 10px; padding-left:715px; clear:both;}
.jxgw{ float:left; width:125px; height:38px; border:none; background:none; background:url(../images/gouwuche/jxgw.gif) no-repeat;}
.jxgw:hover{ float:left; width:125px; height:38px; border:none; background:none; background:url(../images/gouwuche/jxgw_h.gif) no-repeat;}
.lkjs{ float:left; width:145px; height:38px; border:none; background:none; background:url(../images/gouwuche/qjs.gif) no-repeat; margin-left:14px;}
.lkjs:hover{ float:left; width:145px; height:38px; border:none; background:none; background:url(../images/gouwuche/qjs_h.gif) no-repeat;margin-left:14px;}
/*提交失败成功*/
.tijiao{ padding:77px 103px 80px 145px; width:750px; clear:both;}
.tijiao_cg{ padding:0px 54px 0px 80px; width:616px; height:120px; clear:both; background:url(../images/gouwuche/success.gif) no-repeat top left;}
.tijiao_fl{ padding:0px 54px 0px 80px; width:616px; height:120px; clear:both; background:url(../images/gouwuche/failure.gif) no-repeat top left;}
.tijiao_cg1{ float:left; width:616px; font-size:18px; font-weight:bold; font-family:"Microsoft YaHei","SimSun"; line-height:30px; overflow:hidden;}
.tijiao_cg2{ float:left; width:616px; overflow:hidden; margin-top:10px;}
.tijiao_xt{ padding:0px 54px 0px 80px; width:616px; height:120px; clear:both; background:url(../images/gouwuche/xtts.gif) no-repeat top left;}
.tj_xx1{ float:left; padding-right:20px; line-height:21px; color:#666;}
.tj_xx1 font{color:#e63209; font-weight:bold;font-size:12px;}
.tj_xx2{ float:left; line-height:21px; color:#666;}
.tijiao_ts{ width:688px; line-height:31px; color:#666; padding:0px 43px 0px 17px; height:31px; border:solid 1px #ffe6bc; background:#fff9eb; clear:both;}
.tijiao_ts em{ float:left; width:15px; height:12px; background:url(../images/gouwuche/tx.gif) no-repeat; margin-top:10px; margin-right:8px;}
.tijiao_jx{ width:750px; overflow:hidden; clear:both; margin-top:16px;}
.tijiao_jx1{ float:left; line-height:38px; color:#666; }
.tijiao_jx1 a{ color:#1e6cc1;}
.tijiao_jx2{ float:right; width:125px; height:38px; background:none; border:none; background:url(../images/gouwuche/return_new.gif) no-repeat;}
/*信息填写核对*/
.total_summary{ width:1000px; overflow:hidden; clear:both; margin:0 auto;}
.sp_count{width:998px; border:solid 1px #e5e5e7; clear:both; margin-bottom:5px; float:left; position:relative;}
*+html .sp_count{width:998px; border:solid 1px #e5e5e7; clear:both; margin-bottom:5px; position:static}
.sp_count_ver3{width:1000px; overflow:hidden;  clear:both;}
.xxtx_bt{ float:left; padding-bottom:14px; padding-left:6px; overflow:hidden;}
.xxtx_bt span{ float:left; color:#333; font-size:14px;}
.xxtx_lb{ width:968px; overflow:hidden; clear:both; margin:0px auto;}
.xxtx_lb1{ width:968px; height:30px; background:#fff9eb; margin:0 auto; clear:both; line-height:30px; margin-top:14px; font-weight:bold; color:#333;}
.xxtx_lb2{width:968px; border-bottom:dotted 1px #d2d2d2; margin:0 auto; height:36px; clear:both; line-height:36px;  color:#666;}
.xxtx_lb2_new{border-bottom:none;}
.xxtx_lb3{width:968px; margin:0 auto; height:46px; clear:both; line-height:46px;  color:#333;}
.splb1{ float:left; width:94px; padding-left:11px; overflow:hidden; }
.splb2{  float:left; width:428px; overflow:hidden; }
.splb3{ float:left;  width:139px; overflow:hidden; }
.splb4{ float:left;  width:176px; overflow:hidden; }
.splb5{ float:left;  width:120px; overflow:hidden; }
.splb6{ float:right; padding-right:18px;overflow:hidden;}
.splb1 span{text-align:left; display:block;}
.xxtx_bt2 a.splb1{ float:right; color:#1e6cc1; margin-right:8px; font-weight:normal;}
.splb2 span,.splb3 span,.splb4 span{text-align:center; display:block;}
.splb5 span{text-align:center; display:block;}
.splb6 span{ padding-left:13px;}
.splb6 span font{ font-size:12px; font-weight:bold;}
.xxtx_bt2{ overflow:hidden; background:url(../images/gouwuche/bt_1119.gif) repeat-x; height:36px; width:100%;}
.xxtx_bt2 span{ float:left; color:#333; line-height:36px; font-weight:bold; font-size:14px; margin-right:6px; text-indent:27px;}
.biank{ border: solid 1px #E5E5E7; border-bottom:none; width:998px;}
.xxtx_bt2 a{ float:left; color:#1e6cc1; margin-top:10px; cursor:pointer;}
.xxtx_bg{ float:left;overflow:hidden; clear:both; width:924px; padding:12px 37px;}
.xxtx_bg1{ width:924px; overflow:hidden; clear:both; padding-top:6px;}
.xxtx_bg2{ float:left; width:462px; overflow:hidden; display:block;}
.xxtx_bg1 li{ width:924px; overflow:hidden; padding-bottom:12px;clear:both;position:relative}
.xxtx_bg2 li{ float:left; overflow:hidden; width:462px; display:block; padding-bottom:4px;}
.dianhua{ float:left; line-height:21px; overflow:hidden; }
.dianhua2{ position:absolute; display:block; border:solid 1px #dd0000; background:#ffdcdc; padding:0px 5px; height:21px; line-height:21px;left:235px; color:#dd0000;}
.xinxi1{ float:left; width:82px; line-height:21px; color:#888; text-align:right;}
.xinxi1 font{ color:#ff0000; font-size:12px;}
.xinxi2{ float:left; width:116px; line-height:21px; color:#666; text-align:center;}
.xinxi3{ float:left; width:146px; padding-left:2px; height:21px; line-height:21px; border:none; background:none; border:solid 1px #a7a6aa; background:url(../images/danpin/text_bg.gif) no-repeat;}
.xinxi4{ float:left; width:371px; padding-left:2px; height:21px; line-height:21px; border:none; background:none; border:solid 1px #a7a6aa; background:url(../images/danpin/text_bg.gif) no-repeat;}
.xinxi7{ float:left; line-height:21px; overflow:hidden; color:#000}
.xinxi5{ float:left; padding-left:12px; color:#888; line-height:21px;}
.xz1{ float:left; margin-right:15px;}
.ck{ float:left; color:#1e6cc1;}
.dizhi{ float:left; line-height:21px; padding-right:14px; color:#333;}
.baocun{ float:left; margin-left:82px; width:110px; height:30px; background:none; border:none; background:url(../images/gouwuche/bcxx.gif) no-repeat; cursor:pointer; margin-top:10px;}
.xxtx_bc{ float:left; width:888px;overflow:hidden; clear:both; margin-left:21px;border-bottom:dotted 1px #cdcdcd; padding:18px 27px 0px 13px; margin-bottom:10px;}
.xxtx_bc1{ float:left; width:888px; border:solid 1px #e0e0e0; margin-bottom:10px }
.xxtx_bc1 ul{ width:888px; overflow:hidden; clear:both;}
.xxtx_bc_xx{ width:888px; height:32px; line-height:32px; color:#666; clear:both;}
.xxtx_bc_xx2{ width:888px; height:32px; line-height:32px; color:#666; clear:both; background:#fbfbfb}
.xxtx_bc_nr{ float:left; line-height:32px; height:32px;}
.xxtx_bc_nr1{ float:left; margin-left:4px; margin-right:8px; margin-top:8px;}
*+html .xxtx_bc_nr1{ margin-top:3px}
.xxtx_bc_nr2{ float:left; width:90px; line-height:32px;}
.xxtx_bc_nr3{ float:left; width:680px; line-height:32px;}
.xxtx_bc_nr4{ float:left; margin-right:10px; color:#1e6cc1;}
.xxtx_bc2{float:left; width:876px; overflow:hidden; padding-left:4px;}
.xxtx_bc2 input{ float:left; margin-right:8px; margin-top:8px;}
*+html .xxtx_bc2 input{ margin-top:4px}
.xxtx_bc2 span{ float:left; line-height:32px; color:#666;}
/*配送方式*/
.psfs{width:952px; padding-left:12px; padding-top:12px;clear:both; position:relative; float:left;   }
*+html .psfs{ padding-bottom:10px;}
.psfs1_fd{ float:left;  width:800px; height:50px; overflow:hidden; z-index:10 }
.psfs1{ float:left; width:768px; padding-left:15px; height:35px; overflow:hidden; clear:both; color:#888; line-height:35px; margin-bottom:10px; cursor:pointer;}
.psfs1:hover{ float:left; width:768px; height:35px; overflow:hidden; clear:both;color:#666; background:#fff9eb; line-height:35px;margin-bottom:10px;}
.psfs1_1{ float:left; margin-right:5px; width:20px; height:20px; margin-top:9px;}
*+html .psfs1_1{ margin-top:6px;}
.yffsxz{ background:url(../images/gouwuche/ysfsxz.gif) no-repeat; }
.ysfs{ float:left; width:161px; overflow:hidden; color:#000;}
.yffsxz .ysfs{ font-weight:bold;}
.ysjg{ float:left; width:336px; overflow:hidden; padding-right:34px;}
.jg1{ float:left; width:121px; overflow:hidden;}
.jg2{ float:left; width:94px; overflow:hidden;}
/*支付方式0905*/
.zhifu{width:951px; padding-left:22px; padding-right:25px; padding-top:16px; padding-bottom:14px; overflow:hidden; clear:both; }
.zfb{ width:100%; overflow:hidden; clear:both; margin-bottom:18px;}
.zffs{ float:left; margin-left:5px; padding-left:10px; color:#666; width:925px; padding-bottom:14px; clear:both; font-weight:bold; background:url(../images/gouwuche/zfsd_ti.gif) no-repeat 0px 1px;}
.zffs_vernew{ float:left;color:#666; width:925px; padding-bottom:16px; clear:both;}
.zffs_vernew input{ width:20px; height:18px; float:left; margin-right:2px;}
.zffs2{ float:left; overflow:hidden; height:49px; margin-right:12px;}
.zffs2_1{ float:left; margin-top:15px; margin-right:6px; height:20px; width:20px;}
*+html .zffs2_1{margin-top:10px}
.zffs2_2{ float:left; width:149px; height:45px; border:solid 2px #c9dffc; }
.zffs3{ float:left; width:100%; overflow:hidden; clear:both; position:relative;}
.zffs3 ul{ float:left; width:100%; overflow:hidden; clear:both;}
.zffs3 ul li{ float:left;overflow:hidden; padding-bottom:16px; padding-right:12px;}
.zffs2_3{ float:left; width:147px; height:43px; border:solid 1px #ededed; }
.zffs2_3:hover{float:left; width:147px; height:43px; border:solid 1px #a4c5f1;}
.zfxz_ver2{float:left; width:149px; height:45px; border:solid 2px #c9dffc;}
.gdyh{ float:left; text-align:center; width:81px; height:22px; background:none; border:none; line-height:21px; background:url(../images/gouwuche/gdyh.gif) no-repeat; margin-top:0px;  color:#666;}
.fujia{ float:left;}
*html .fujia{ margin-top:40px;}
*+html .fujia{ margin-top:40px;}
.yhzz{ float:left; padding:3px 20px 3px 12px; margin-left:23px; width:488px; overflow:hidden; border-top:solid 2px #ddd; border-bottom:solid 2px #ddd; border-left:solid 1px #ddd; border-right:solid 1px #ddd; background:#f8f8f8}
.yhzz ul{ width:488px; overflow:hidden; clear:both;}
.yhzz ul li{ width:488px; padding:9px 0px; border-bottom:dotted 1px #cdcdcd; clear:both; overflow:hidden;}
.yhtp{ float:left; width:149px; height:45px; border:solid 1px #ededed; margin-right:12px;}
.yhzh{ float:left; width:311px; overflow:hidden; color:#666; margin-top:3px;}
.yhzh span{ float:left; width:100%; line-height:20px; overflow:hidden; clear:both;}
.yhzh span font{ float:left; margin-right:8px; font-size:12px;}
.yhzh_new {float:left; width:100%; overflow:hidden; color:#666; margin-top:3px;}
.yhzh_new span{ float:left; width:100%; line-height:20px; overflow:hidden; clear:both;}
.yhzh_new span font{ float:left; margin-right:8px; font-size:12px;}
.zy{width:488px; padding:6px 0px; color:#ff6600; clear:both; float:left; overflow:hidden;}
.zy em{ float:left; background:url(../images/gouwuche/tx.gif) no-repeat; width:15px; height:12px; margin-top:3px; margin-right:8px;}
.zy font{ font-size:12px; font-weight:bold;}
.bcfs{ float:left; margin:0px 0px 10px; overflow:hidden; clear:both; padding-left:24px;}
.bcfs input{ float:left; width:132px; height:35px; background:none; border:none; background:url(../images/gouwuche/bczffs.gif) no-repeat; cursor:pointer;}
.jsxx{ width:952px; border:solid 1px #E5E5E7 ; overflow:hidden; clear:both; background:#fff9eb; border-top:solid 2px #fde6bc; padding:16px 23px;}
.jsfy{ float:right; overflow:hidden; width:467px;}
.jgxg0905{ float:left; line-height:22px; width:467px; clear:both;color:#333; font-size:14px; text-align:right; font-weight:bold; padding-bottom:23px;}
*+html .jgxg0905{ float:left; line-height:22px; width:460px; clear:both;color:#333; font-size:14px; text-align:right; font-weight:bold; padding-bottom:23px;}
.jgxg0905 font{ color:#dd0000;}
.jgxg0905 font.es{ font-size:24px;font-family:"Microsoft YaHei","SimSun";}
.jgxg0905 font.dw{ font-size:14px;font-family:"Microsoft YaHei","SimSun";}
.jsfy1{ float:left; line-height:24px; color:#333; clear:both;}
.sps{ float:left; margin-right:10px;}
.sps font{ color:#ff6600; font-weight:bold; font-size:12px;}
.zjs{ float:left; width:37px; overflow:hidden;}
.rmb{ float:left; width:78px; overflow:hidden; text-align:right;}
.jsfy2{ float:left; padding-left:60px; line-height:24px; color:#666; clear:both;}
.ddzzti{ float:left; width:952px;overflow:hidden;}
.ddfy{ float:left; width:476px; overflow:hidden;}
.ddfy1{ float:left;width:83px; height:22px; line-height:22px; padding-left:20px; background:none; border:none; line-height:21px; background:url(../images/gouwuche/gdyh.gif) no-repeat;color:#1e6cc1;}
.ddfy2{float:left;width:356px; height:170px; padding-left:4px; padding-top:4px; border:none; background:none; border:solid 1px #cccccc; background:url(../images/danpin/text_bg.gif) no-repeat #fff;}
.ddfy2:hover{float:left;width:356px; height:170px; padding-left:4px; padding-top:4px; border:none; background:none; border:solid 1px #ffaf8d; background:#fff;}
.yfze_1{ float:right; overflow:hidden; width:164px; margin: 15px 35px 0 0; }
.yfze1{ float:left; width:78px; font-size:14px; color:#666; font-weight:bold; padding-top:8px; }
.yfze2{ float:left; width:112px; text-align:left;font-weight:bold; font-family:"Microsoft YaHei","SimSun"; color:#db0000; padding-top:8px;}
.yfze2 font{ font-size:14px; font-family:"Microsoft YaHei","SimSun"; }
.yfze3{ float:left;width:154px; height:45px; background:none; border:none; background:url(../images/gouwuche/tjdd.gif) no-repeat; cursor:pointer;}
.yfze4{ float:left;width:165px; height:48px; background:none; border:none; background:url(../images/gouwuche/qzf.gif) no-repeat; cursor:pointer;}
.zhifu0905{ float:right; width:461px; overflow:hidden; padding-left:10px;}
.f4_b{ font-size:12px; color:#333; font-weight:bold;color:#666;}
/*20120925*/
.zffs2_0925{ float:left; margin-top:10px; margin-right:5px; width:20px; height:20px;}
*+html .zffs2_0925{margin-top:7px}
*html .zffs2_0925{margin-top:14px;}
.zffs3_0925{ float:left; width:100%; overflow:hidden; clear:both;border-bottom:dotted 1px #cdcdcd; }
.zffs3_xin{ overflow:hidden; padding-bottom:20px; clear:both; padding-left:855px;}
*+html .zffs3_xin{ padding-left:857px;}
.yhzz_0925{ float:left; margin-left:23px; padding:3px 20px 3px 12px; width:681px; overflow:hidden; border-top:solid 2px #ddd; border-bottom:solid 2px #ddd; border-left:solid 1px #ddd; border-right:solid 1px #ddd; background:#f8f8f8}
.yhzz_0925 ul{ width:488px; overflow:hidden; clear:both;}
.yhzz_0925 ul li{ width:488px; padding:9px 0px; border-bottom:dotted 1px #cdcdcd; clear:both; overflow:hidden;}
.yhzz_0925 p{ float:left; padding:10px 0px;}
.zfxz_ver3{float:left; width:149px; height:45px; border:solid 2px #fff; cursor:pointer;}
.wyzf{ float:left; width:120px; height:30px; padding:8px 14px 5px 13px; border:solid 1px #ededed;}
.wyzf:hover{ float:left; width:120px; height:30px; padding:8px 14px 5px 13px; border:solid 1px #a4c5f1;}

/*20121119*/
.sp_count_ver2{width:998px; overflow:hidden; border:solid 1px #e5e5e7; clear:both; margin-bottom:5px; border-top: solid 2px #da2c04;}
.tjfy{ float:left; overflow:hidden; clear:both; width:371px;}
.qd2_vew{ float:left; border:none; background:none; overflow-y:auto;margin-left:314px; width:48px; height:20px; background:url(../images/gouwuche/qd_new.gif) no-repeat; line-height:20px; text-align:center; color:#fff; font-weight:bold; clear:both;}
.ddfy2_new{float:left;width:356px; height:68px; padding-left:4px; padding-top:4px; border:none; background:none; border:solid 1px #cdcdcd; background:#f5f5f5; margin-top:4px;}
/*20121121*/
.xgzffs{ float:left; width:150px; overflow:hidden; padding-left:30px;}
.xgzffs a{ float:left; background:url(../images/gouwuche/gbzffs.gif) no-repeat bottom; padding-bottom:10px; line-height:18px; color:#FB6707}
/*20121128*/
.xdh{width:20px; float:left; height:20px; display:block; background:url(../images/gouwuche/yxd.gif) no-repeat; margin-right: 5px;margin-top: 9px;}
.re_cor{
    border: 1px solid #E5E5E7;
    clear: both;
    margin-bottom: 5px;
    overflow: hidden;
    width: 998px;
}
.re_cor:hover{border: 1px solid #ffa000;
    clear: both;
    margin-bottom: 5px;
    overflow: hidden;
    width: 998px;
}
.genggai{ float:left; overflow:hidden; padding-left:30px;}
.genggai a{ background: url("../images/gouwuche/rexg.gif") no-repeat scroll center bottom transparent;
    float: left;
    height:36px;
	width:133px; margin-top:6px;}
.ddfy2_ver2{float:left;width:356px; height:68px; padding-left:4px; padding-top:4px; border:none; background:none; border:solid 1px #cccccc; background: #eee;}
.fj{ color:#888;}
/*20121129*/
.xinxi_n{ float:left; width:146px; padding-left:2px; height:21px; line-height:21px;}
.baocun_ver2{ float:left; margin-left:82px; width:110px; height:30px; background:none; border:none; background:url(../images/gouwuche/bc_ver2.gif) no-repeat; cursor:pointer; margin-top:10px;}
/*20121207*/
.zong{  width:400px; float:left; clear:both; position:absolute; left:0; margin-top:40px; margin-left:100px; z-index:22222}
.range_fd{width:380px;  background:#fff;  border:solid 2px #e1e1e1; border-top:none; position:relative; float:left; z-index:5000}
.range_fd .fdwt{ float:left;padding:8px; width:362px; background:#fff;border:solid 1px #ccc; display:inline-block; color:#dd0000; border-top:none; z-index:20005}
.range_fd em{ float:left; width:384px; height:13px; top:-13px; left:-2px; background:url(../images/gouwuche/fdxg2.gif) no-repeat; position:absolute; }
*+html .zong{  width:400px; float:left; clear:both; position:absolute; left:0; margin-top:-10px; margin-left:100px; z-index:22222}
/*20130513*/
.s_mes{ width:748px; overflow:hidden; clear:both; border:solid 1px #e9e9e9; margin-bottom:30px;}
.gezi{ width:100%; overflow:hidden; float:left;}
.gezifj{ background:#f3f3f3; border:solid 1px #f0f0f0; border-right:none; border-left:none}
.banknew{ float:left; padding:10px 13px 11px 11px;width:149px; height:45px;}
.banknew img{border:solid 1px #ededed; width:149px; height:45px;}
.zzxx{ float:left; width:375px; overflow:hidden; padding-top:14px;}
.zzxx p{ float:left; width:100%; line-height:20px; overflow:hidden; color:#666}
.fsdx{ float:left; width:184px; overflow:hidden; text-align:center; margin-top:20px;}
.fs1, .fs3 span a{ color:#1e6cc1}
.fs2{ width:100%; height:21px; clear:both;}
.fs3{ width:100%; overflow:hidden; line-height:18px;clear:both;}
.sr1{ float:left; width:143px; padding-left:2px; height:19px; line-height:19px; background:none; border:none; background:url(../images/denglu/fillinbg.gif) no-repeat; border:solid 1px #a7a6aa; border-right:none;}
.sr2{ float:left; width:36px; height:21px; border:none; background:none; background:url(../images/gouwuche/fs.gif) no-repeat; border:solid 1px #a7a6aa}
.fs3 span{ width:100%; overflow:hidden; float:left; color:#666}
.fs3 span font{ font-size:12px; font-weight:bold; color:#e63209;}

/*2015.07.10*/
.jsxx{ background: #F8F8F8; border-top: solid 1px #E5E5E7;}
.xxtx_lb1{ width: 966px; background: #F8F8F8; border: 1px solid #e5e5e7; }
.xxtx_lb1_wub{ border-bottom: none;}
.splb1{ width: 110px; padding-left: 10px; }
.splb1 span{ text-align: left;}
.splb2{ width: 486px;}
.splb3{ width: 120px;}
.splb4{ width: 120px;}
.splb5{ width: 120px;}
.xxtx_lb2new{ width: 968px; margin: 0 auto; padding: 0 0 20px 0;}
.xxtx_lb2new table{ width: 100%; border: 1px solid #e5e5e7; margin: 0 0 5px 0; table-layout: fixed;}
.xxtx_lb2new table:hover{ border: 1px solid #FB6118;}
.xxtx_lb2new table td{ height: 50px; line-height: 50px; border-bottom: 1px solid #e5e5e7; border-right: 1px solid #e5e5e7; }
.xxtx_lb2new table td div a{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%; display: block;}
.xxtx_lb2new_td1{ width: 150px; padding-left: 10px;}
.xxtx_lb2new_td2{ width: 402px; padding: 0 16px 0 20px;}
.xxtx_lb2new_td3{ width: 120px; text-align: center;}
.xxtx_lb2new_td4{ width: 120px; text-align: center;}
.xxtx_lb2new table td.xxtx_lb2new_td5{ width: 120px; text-align: center; border-right: none;}
.xxtx_lb2new table td.xxtx_lb1_wub{ border-bottom: none; border-right: none;}
.ft_red{ color: #ff0000;}
.ft_grey{ color: #999;}
.xxtx_lb2new_td1_wuliu input{ width: 20px; height: 20px;vertical-align: middle; margin: 0 5px 3px 0;}
.xxtx_bt2 a.splb1{ width: 92px;}
.ddfy p{ margin: 0 0 10px 0;}
.jsfy ul{ float: right; margin: 25px 60px 0 0; line-height: 30px;}
.ft_19{ font-size: 19px;}
.xxtx_lb2new table td.xxtx_lb2new_tda{ border-right: none; border-bottom: none;}
.xxtx_lb2newa table:hover{ border: 1px solid #e5e5e7; }








