body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;  font-family: "SimSun","宋体","Arial Narrow";}body,button,input,select,textarea{font-size:12px;  line-height:1.5em;}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp{font-family:courier new,courier,monospace;}small{font-size:12px;}ul,ol{list-style:none;}a{text-decoration:none; color:#0f0cbf  ;}a:hover{text-decoration:underline; color:#cc0000;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}legend{color:#000;}fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}
/*框架*/
.es_main{ margin:0 auto; width:1000px; overflow:hidden;}
/*页头贯通栏*/
.sstop{ width:100%; margin:0 auto 12px; height:29px; background:#f7f7f7; border-bottom:1px solid #eee;}
.ssbanner{ margin:0 auto; width:1000px; line-height:29px;}
.ssbannerleft{ float:left;}
.ssbannerleft span{ color:#999999; margin-right:14px;}
.ssbannerleft a{ color:#999999; margin-right:6px;}
.ssbannerright{ float:right; overflow:hidden;}
.ssbannerright ul{ float:right; overflow:hidden;}
.ssbannerright ul li{ float:left; overflow:hidden;}
.ssbannerright ul li.right_space{ float:left;}
.ssbannerright ul li img{ margin-top:1px}
.rs_home{ float:left; color:#999999; height:28px; line-height:28px; position:relative; width:78px; padding-right:5px; height:28px; text-align:center;}
.rs_home em{ float:left; background:url(../images/yetou/xialasj.png) no-repeat; width:7px; height:4px; position:absolute; left:66px; top:12px;}
.home_list{ float:left; width:99px; position:absolute;height:150px; background:url(../images/yetou/xiala1.png) no-repeat; z-index:300; clear:both; top:0px;}
.dibian{ margin-bottom:5px;}
.rs_home1, .rs_home2{ float:left; display:block; color:#666666; line-height:26px; position:relative; clear:both; width:100%; text-indent:14px;}
.rs_home1:hover, .rs_home2:hover{ float:left; display:block; color:#ff6600; line-height:26px; position:relative; clear:both; width:100%; text-indent:14px;}
.rs_home2{color:#666666;}
.deprive{ float:left; color:#d6d6d6;}
.rs_help{ float:left; color:#999999; height:28px; line-height:28px; position:relative; width:56px; padding-right:5px; height:28px; text-align:center;}
.rs_help em{ float:left; background:url(../images/yetou/xialasj.png) no-repeat; width:7px; height:4px; position:absolute; left:44px; top:12px;}
.help_list{ float:left; width:99px; position:absolute;height:171px; background:url(../images/yetou/xiala2.png) no-repeat; z-index:300; clear:both; top:0px;}
.rs_feedback{float:left; color:#999999; height:28px; line-height:28px; position:relative; margin-left:12px; height:28px; text-align:center;}
/*页头标志导航*/
.es_top{ margin:0 auto; width:1000px; height:60px; clear:both;}
.es_top_logo{ float:left; margin-top:4px;}
.es_top_logo2{ float:left; margin-top:4px; padding-left:84px;}
.es_dh{ width:1000px; margin:0 auto 9px; height:35px; background:url(../images/yetou/ecshop_dhbg.gif) repeat-x; position:relative; z-index:1} 
.es_dh1{ float:left;}
.es_dh1 ul{ float:left; height:35px; display:block;}
.es_dh1 ul li{ float:left; padding-left:25px; padding-right:6px; line-height:35px;}
.es_dh1 ul li a{ float:left; color:#fff; font-size:14px; font-weight:bold;}
.es_dh1 ul li a:hover{ float:left; color:#fff; font-size:14px; font-weight:bold;}
.es_dh1 ul li.others{ float:left; position:relative;}
.es_dh1 ul li.others em{ position:absolute; top:16px; width:3px; height:2px; background:url(../images/yetou/ec_dh_sj.gif) no-repeat; right:0px;}
.es_dh1 ul li a.tuangou{ color:#ffe403;}
.es_dh2{ float:right; position:absolute; right:0px; z-index:20}
.newfloat{ float:left; width:201px;  margin-right:7px;  overflow:hidden; }
.nf1{width:201px; height:23px; line-height:23px;margin-top:6px; text-indent:33px; display:block; color:#333;background:url(../images/yetou/gwc_new.gif) no-repeat;position:relative; border:solid 1px #e53107; border-bottom:none; }
.nf1 font{ color:#f33c12; font-size:12px; font-weight:bold;}
.nf1:hover{ border:solid 1px #004ea2;border-bottom:none;}
.bj0507{position:absolute; display:inline-block; height:26px;z-index:1000; top:-3px; left:100px;}
.bj_l{ float:left; width:5px; height:26px; background:url(../images/yetou/bj1.png) no-repeat;}
.bj_r{ float:left; width:5px; height:26px; background:url(../images/yetou/bj2.png) no-repeat;}
.bj_m{ float:left; height:26px; background:url(../images/yetou/bj3.png) repeat-x; line-height:22px; color:#fff; font-weight:bold}
/*搜索0816*/
.es_top_search{ float:right; width:544px; height:54px; margin-top:6px;}
.top_search1{ float:left;}
.qbss1{ float:left; width:152px; height:29px; display:block; background:url(../images/yetou/ec_ss_qbfl.gif) no-repeat; line-height:29px; color:#666666; text-indent:10px;position:relative; cursor:pointer; }
.qbss1:hover{ width:152px; height:29px; display:block; background:url(../images/yetou/ec_ss_qbfl.gif) no-repeat; line-height:29px; color:#666666; text-indent:10px; text-decoration:none;}
.qbss_fuchu{ float:left; width:150px; overflow:hidden;  border:solid 1px #cccccc; position:absolute; border-top:none; z-index:301px; background:#fff; top:48px;cursor:pointer; padding-bottom:10px; height:155px; overflow-y:auto ; z-index:100}
*html .qbss_fuchu{ margin-left:-152px; top:54px;}
*+html .qbss_fuchu{ margin-left:-152px;}
.qbss_fuchu li{ float:left; width:150px; line-height:29px;text-indent:6px;}
.qbss_fuchu li a{  color:#666666; width:140px;line-height:29px; margin-left:5px; display:block; }
.qbss_fuchu li a:hover{ color:#004ea2; width:140px;line-height:29px; background:#d2e3f4;margin-left:5px;display:block; }
.qbss_fuchu li a.qbss2{ width:150px; height:29px; display:block; background:url(../images/yetou/ec_ss_qbfl2.gif) no-repeat; line-height:27px; color:#666666;  margin-bottom:6px; margin-left:0px; text-indent:8px; }
.qbss_fuchu li a.qbss2:hover{ width:150px; height:29px; display:block; background:url(../images/yetou/ec_ss_qbfl2.gif) no-repeat; line-height:27px; color:#666666; text-decoration:none; margin-bottom:6px; margin-left:0px; text-indent:8px;}
.top_search2{ float:left;}
.qbss_cz{ float:left; width:312px; height:27px; background:none; border:solid 1px #e5e5e5; border-top:solid 1px #d3d3d3; border-left:none; line-height:27px; padding-left:4px;}
.qbss_cz2{ float:left; width:75px; height:29px; background:none; border:none; background:url(../images/yetou/ec_ss_ver2.gif) no-repeat; cursor:pointer;}
/*反馈弹出*/
body {
	height:100%;
	margin:0
}
.mydivNew {
	background-color: #FFFFFF;
	border: 1px solid #FFOOOO;
	text-align: center;
	line-height: 21px;
	font-size: 12px;
	padding:1px;
	z-index:999;
	width: 548px;
	height: 400px;
	border:5px solid #d7d7d7;
	text-align:left;
	left:50%;
	top:50%;
	margin-left:-274px!important;/*FF IE7 ????????????? */
	margin-top:-200px!important;/*FF IE7 ?????????????*/
	margin-top:0px;
	position:fixed!important;/* FF IE7*/
	position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&  document.compatMode=='CSS1Compat') ?  documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
 document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}
.mydivNew a {
	text-align:center;
}
.bgNew {
	background-color: #666;
	width: 100%;
	height: 100%;
	left:0;
	top:0;/*FF IE7*/
	filter:alpha(opacity=50);/*IE*/
	opacity:0.5;/*FF*/
	z-index:998;
	position:fixed!important;/*FF IE7*/
	position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&  document.compatMode=='CSS1Compat') ?  documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
 document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}

.tc-ts1-sy { background: none repeat scroll 0 0 #F3F3F3;clear: both; float: left; height: 30px;width: 548px; line-height:30px; border-bottom:solid 1px #d8d8d8;}
.tc-ts1-sy em {
    background: url("../images/yetou/ts.gif") no-repeat scroll 8px 6px transparent;
    float: left;
    height: 22px;
    margin-right: 6px;
    width: 24px;
}
.ts0-sy {
    color: #444444;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}
.ts0-sy{ float:left; height:30px; line-height:30px;  font-size:14px; color:#444444; font-weight:bold;}
.ts00{ float:right; display:block;width:30px; height:30px; cursor:pointer; overflow:hidden; margin-right:2px; }
.ts00 em{ float:right; width:17px; height:18px; background:url(../images/yetou/ts00cha.gif) no-repeat 4px 10px;}
.tc-ts2-sy{ float:left; width:488px; line-height:1.6em; overflow:hidden; padding:20px 30px 16px; font-size:12px; color:#666666;}
.tc-ts2-sy-2{ float:left; width:488px; line-height:1.6em; overflow:hidden; padding:30px 30px 16px; font-size:12px; color:#666666;}
.tc-ts20-sy{ float:left; width:100%; overflow:hidden; color:#ff0000; font-weight:bold;}
.tc-ts21-sy{ float:left; width:100%; overflow:hidden; color:#545454; font-weight:bold; padding:10px 0px;}
.tc-ts21-sy1{ float:left; width:12px; overflow:hidden;}
.tc-ts21-sy2{ float:left; width:476px; overflow:hidden;}
.tc-ts3-sy{ margin:0px auto 20px;width:140px; overflow:hidden;}
.tc-ts3-sy-2{ margin:0px auto; width:363px; overflow:hidden; }

.tsen1-sy{ width:130px; height:32px; background:none; line-height:32px; border:none; background:url(../images/yetou/know.gif) no-repeat; text-align:center; font-size:14px; font-weight:bold; color:#fff; cursor:pointer;}
.tsen2-sy{ width:85px; height:32px; background:none; line-height:32px; border:none; background:url(../images/yetou/tijiao.gif) no-repeat; text-align:center; font-size:14px; font-weight:bold; color:#fff; cursor:pointer;}
.mycien{ float:left; width:410px; padding:15px; border-bottom:1px solid #dddddd; overflow:hidden; line-height:21px; color:#505050;}
.mycien p{ padding:2px 0px;}
.mycien p span{ color:#ff0000; font-weight:bold; font-size:14px;}
.mybiotm{ float:left; width:440px; text-align:center; padding-top:15px;}

.tc-ts21-sy-2{ float:left; width:100%; overflow:hidden; color:#989898; font-weight:bold;  padding-bottom: 15px;}
.tc-ts21-sy-2 .wenben{  width:390px; height:96px; color:#333333; font-size:12px; font-weight:normal; word-wrap: break-word; break-word: break-all; border:none; border:solid 1px #d7d7d7; background:none; background:#f7f7f7; padding:2px 2px;}
.tc-ts21-sy-2 .tc-ts21-sy10{ float:left; width:60px; overflow:hidden; padding-right:2px; text-align:left; margin-top:6px; font-weight:normal;}
.tc-ts21-sy20{ float:left; width:164px; overflow:hidden; color:#333333; line-height:28px; font-weight:normal;}
.namesr{ width:158px; border:none; height:24px; border:solid 1px #c9c9c9; background:#fff; padding:2px; color:#000;}
.chazi{ float:right; padding:8px; overflow:hidden; width:10px; height:10px;}
.chazi em{ float:right; width:8px; height:7px; background:url(../images/yetou/cha.gif) no-repeat; margin-top:2px;}
.tc-ts21y-sy{float:left; width:478px; color:#545454; font-weight:bold; padding:10px 0px 10px 0px; }
.tc-ts21y-sy span{ float:left; color:#ff9900; width:478px; font-weight:bold; font-size:26px; line-height:1.8em; text-align:center; margin-top:60px;} 
/*位置导航0816*/
.es_wz{ width:980px; padding:0px 20px 0px 0px; border-top:solid 1px #d8d8d8; margin:0 auto; overflow:hidden }
.es_wz1{ float:left; line-height:35px; color:#666666; width:70px; }
.es_wz2{ float:left; line-height:35px; width:890px;}
.es_wz2 a{ float:left; color:#666666; line-height:35px;}
.es_wz2 span{ float:left; color:#666666; line-height:35px; padding:0 10px; }
.es_wz2 a.es_wz2_1{ float:left; color:#4290f1; background:none; padding-right:0px;}
/*回顶部*/
*html .backtop {position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop-20+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));left:50%;}
.backtop { float:right;z-index:100;position:fixed;bottom:5px;left:50%; margin-left:515px;overflow-x:hidden;overflow-y:hidden;}
.backtop { display:block; width:100px; height:431px; background:url(../images/yetou/lianxi.png) no-repeat; background-size: 100px 431px;}
*html .backtop2 {position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop-20+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));left:50%;}
.backtop2 { float:right;z-index:100;position:fixed;bottom:436px;left:50%; margin-left:510px;overflow-x:hidden;overflow-y:hidden; }
.backtop2 { display:block; width:101px; height:165px;   padding:0px 0px 0px 0px}
/*页尾*/
.yewei{ width:962px; overflow:hidden; border:solid 1px #e5e5e5; padding:10px 16px 6px 20px; margin:10px auto 0px;}
*+html .yewei{ margin-top:20px;}
.yewei1{ float:left; width:740px; overflow:hidden;}
.yewei1 dl{ float:left; width:160px; overflow:hidden; margin-right:25px;}
.yewei1 dl dt{ float:left; width:160px; background:url(../images/yetou/ec_yewei.gif) no-repeat bottom; padding:6px 0px 13px 0px; font-size:12px; color:#000; font-weight:bold; }
.yewei1 dl dd{ float:left; width:160px; padding:10px 0px 6px 0px;}
.yewei1 dl dd div{ float:left; width:160px; line-height:24px; }
.yewei1 dl dd div a{ color:#666666;}
.yewei1 dl dd div a:hover{ text-decoration:none;}
.yewei2{ float:left; width:211px; padding-left:10px;margin:6px 0px; height:130px; border-left:solid 1px #e5e5e5;}
.yewei2_1{ width:211px; line-height:24px; overflow:hidden; clear:both;}
.rx_1{ float:left; color:#000; font-weight:bold;}
.rx_2{ float:left; color:#dc2f1d; font-weight:bold; font-size:16px; font-family:"Microsoft YaHei","SimSun";}
.yewei2_2{ width:211px; overflow:hidden; clear:both; margin:18px 0px;}
.yewei2_2 a{ width:100px; height:36px; display:block; padding:5px; margin:0 auto;}
.yewei2_3{ width:206px; color:#666; clear:both; line-height:20px; padding-left:5px;}
.yewei2_3 font{ font-size:12px; color:#dc2f1d; text-align:center;}
.footer {line-height: 220%;margin:0 auto;overflow: hidden;padding: 10px 0 15px;position: relative;text-align: center;width: 1000px; color:#888888; font-weight:bold;}
.footer a{ color:#0050a3;}
/*购物车结算页头0821*/
.es_top2{ margin:18px auto 20px; width:1000px; overflow:hidden; clear:both;}
.es_top_gc{ float:right; width:458px; height:31px; margin-top:5px;}
.jc1{float:right; width:458px; height:31px; background:url(../images/gouwuche/sequence1.gif) no-repeat;}
.jc2{float:right; width:458px; height:31px; background:url(../images/gouwuche/sequence2.gif) no-repeat;}
.jc3{float:right; width:458px; height:31px; background:url(../images/gouwuche/sequence3.gif) no-repeat;}
/*登录*/
.es_login{ width:824px; overflow:hidden; margin:32px auto 0px; padding:0px 78px 78px 58px; clear:both; border-bottom:solid 1px #d1d7dc;}
.es_login_left{ float:left; width:358px; overflow:hidden; border:solid 0px #cacaca; padding:1px; margin-right:81px;}
.es_login_right{ float:left; width:381px; height:340px; background:url(../images/denglu/dlk.gif) no-repeat;}
.dlts{ float:left; color:#6f6f6f; font-weight:bold; font-size:16px; line-height:24px; font-family:"Microsoft YaHei","SimSun"; padding:15px 0px 12px 21px; clear:both; width:360px; }
.dlts2{ float:left; padding-left:21px; width:360px; height:137px;}
.fillin{ float:left; width:360px; padding:6px 0px; height:30px; clear:both;}
.fillin span{ float:left; width:56px; padding-right:12px; line-height:30px; color:#404040; text-align:right;}
.fillin input{ float:left; width:244px; padding-left:2px; height:28px; line-height:28px; background:none; border:none; background:url(../images/denglu/fillinbg.gif) no-repeat; border:solid 1px #c8c8c8; }
.fillin input:hover{ float:left; width:244px; padding-left:2px; height:28px; line-height:28px; background:none; border:none; background:url(../images/denglu/fillinbg.gif) no-repeat; border:solid 1px #74c8e5; }
.srjg{ float:left; padding-left:68px; width:292px; text-align:left; color:#ff0000;}
.dlts3{ float:left; padding-left:89px; width:292px; overflow:hidden; margin-top:4px; margin-bottom:20px;}
.dlts3 input{ float:left; width:88px; height:30px; background:none; border:none; background:url(../images/denglu/loginqr.gif) no-repeat; cursor:pointer; margin-right:15px;}
.dlts3 a{ float:left; line-height:30px; color:#3366cc;}
.dlts4{ margin:0 auto; width:313px; overflow:hidden; background:url(../images/denglu/xuxian.gif) repeat-x top; text-align:center; padding:8px 0px; }
.dlts4 span{color:#808080; line-height:20px;}
.dlts4 a{color:#3366cc; line-height:20px;}
.fillin input.mima1010{ float:left; width:244px; padding-left:2px; height:28px; line-height:28px; background:none; border:none; background:url(../images/denglu/fillinbg.gif) no-repeat; border:solid 1px #c8c8c8; }
@media screen and (-webkit-min-device-pixel-ratio:0){.fillin input.mima1010{ float:left; width:244px; padding-left:2px; height:28px; line-height:28px; background:none; border:none; background:url(../images/denglu/fillinbg.gif) no-repeat; border:solid 1px #c8c8c8; font-size:26px;}}
/*商城购物车样式修改2015.05.27*/
.newfloat{ float:left; width:125px;  margin-right:7px;  overflow:hidden; }
.nf1{width:125px; height:23px; line-height:23px;margin-top:6px; text-indent:33px; display:block; color:#333;background:url(./../images/gwc_new.gif) no-repeat;position:relative; border:solid 1px #e53107; border-bottom:none; }
.nf1 font{ color:#f33c12; font-size:12px; font-weight:bold;}
.nf1:hover{ border:solid 1px #004ea2;border-bottom:none;}
.bj0507{position:absolute; display:inline-block; height:15px;z-index:1000; top:-3px; left:90px;}
.bj_l{ float:left; width:5px; height:15px; background:url(./../images/bj1.png) no-repeat;}
.bj_r{ float:left; width:5px; height:15px; background:url(./../images/bj2.png) no-repeat;}
.bj_m{ float:left; height:15px; background:url(./../images/bj3.png) repeat-x; line-height:15px; color:#fff; font-weight:normal;}