body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; color: #333333; }
body, button, input, select, textarea { font: 12px/1.5em "Heiti SC", "Microsoft Yahei", "Simsun", "Arial"; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
small { font-size: 12px; }
ul, ol { list-style: none; }
a { text-decoration: none; color: #0f5489; }
body a:hover { -webkit-transition: color .2s linear, background-color .3s linear; -moz-transition: color .2s linear, background-color .3s linear; -o-transition: color .2s linear, background-color .3s linear; -ms-transition: color .2s linear, background-color .3s linear; transition: color .2s linear, background-color .3s linear; color: #f60 }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
legend { color: #000; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; }
body { background: none repeat scroll 0 0 #ffffff; margin-top: 40px; }
a img { border: none; }
img { border: 0; vertical-align: top }
/*颜色*/
.red { color: #ff0000 }
.gred6 { color: #666666 }
.gred3 { color: #333333 }
.gred9 { color: #999999 }
.white { color: #fff }
.orange { color: #ff6600 }
.ft { float: left; }
.fr { float: right }
/*module1*/
.autheader { height: 35px; background: #f7f7f7; position: relative; z-index: 1000; margin: 0 auto; border-bottom: 1px solid #f0f0f0 }
.autheader .autmain { width: 1200px; margin: 0 auto; text-align: left; position: relative; z-index: 10; background: #f7f7f7; line-height: 35px; color: #999999 }
.autmain_left { float: left; z-index: 10 }
.autmain_left span { color: #dcdcdc; padding: 0px 8px; }
.autmain_right { float: right; }
.autmain_right span { color: #dcdcdc; padding: 0px 8px; }
.autmain_right span.red { color: #ff0000; padding: 0px 8px 0px 0px; }
/*module2*/
.logoheard { width: 1190px; margin: 0px auto; overflow: hidden; }
.logo_hd { padding-top: 33px; }
.searchbox { padding-top: 30px; padding-left: 96px; }
.searba { float: left; width: 100%; }
.searba1 { background: #c40000; padding: 3px; float: left; overflow: hidden; }
.ico_txt { background: none; border: none; background: #fff; padding: 0px 0px 0px 12px; width: 445px; height: 30px; line-height: 30px; font-size: 12px; color: #333333; }
.ico_anniu { float: left; height: 36px; width: 80px; text-align: center; line-height: 36px; color: #fff; font-size: 14px; background: none; border: none; background: #c40000; cursor: pointer }
.searbb { float: left; clear: both; width: 100%; line-height: 35px; color: #999999; }
.searbb a { color: #999999; }
.searbb a.red { color: #ff0000 }
.useboxner { border: 1px solid #e9e9e9; height: 34px; background: #f7f7f7; margin-top: 30px; }
.useboxner li { float: left; height: 34px; }
.useboxner li.useline { width: 1px; background: #e9e9e9; overflow: hidden; }
.useboxner li a { padding: 0px 20px 0px 12px; display: inline-block; height: 34px; line-height: 34px; color: #999999; }
.useboxner li strong { padding: 0px 4px; }
.ueic1 { background: url(../images/shopshouye20141110/icona2.png) no-repeat 0px 8px; width: 13px; height: 23px; display: inline-block; margin: 0px 5px 0px 0px; float: left }
.ueic2 { background: url(../images/shopshouye20141110/icona3.png) no-repeat 0px 10px; width: 14px; height: 22px; display: inline-block; margin: 0px 5px 0px 0px; float: left }
/*module3*/
.bannerol { width: 1200px; height: 40px; margin: 20px auto 0px; }
.bannerola { float: left; width: 244px; height: 40px; background: #ff6600; }
.bannerola span.banra { color: #fff; font-weight: 700; font-size: 14px; line-height: 40px; margin-left: 19px; float: left; }
.bannerola span.banrb { float: right; margin: 15px 19px 0px 0px }
.bannerolb { float: left; width: 956px; height: 40px; background: #c40000; }
.bannerolb a { display: block; width: 90px; text-align: center; height: 40px; line-height: 40px; color: #fff; font-weight: 700px; font-size: 14px; float: left; }
.bannerolb a.redico { background: #9d0000 }
.bannerolb a:hover { background: #9d0000; color: #fff }
/*module4*/




#banner{margin:0px auto 0px auto;width:712px;height:400px;}
.slides{margin:0px auto;width:712px;height:400px;overflow:hidden;position:relative;}
.slide-pic{width:712px;overflow:hidden;list-style:none;}
.slide-pic img{width:712px;height:400px;}
.slide-pic li{display:none;}
.slide-pic li.cur{display:block;}
.slide-li{right:10px;bottom:10px;position:absolute;}
.slide-li li{  width: 24px; height: 24px; float:left; margin:0px 4px;}
.slide-li a{cursor: pointer; display: inline-block; *display:inline;
zoom: 1; margin: 0px 5px; overflow: hidden; background: #818184;color: #4d4d4f; border-radius: 12px; font-size: 14px; text-align: center; width:24px; height:24px; line-height: 24px;}
.slide-li a:hover{color:#fff;text-decoration:none; background:#cc0000}

.op li.cur a{background:#cc0000; color:#fff;}
.slide-li li.cur a{background:#cc0000; color:#fff;}
/*module4-1*/
.fullSlide .neirbo { width: 1200px; height: 0px; margin: 0 auto; position: relative; }
.neirbo_a { position: absolute; top: 0px; ; width: 242px; z-index: 4; background: #ff6600; height: 399px; padding: 0px 1px 1px 1px; }
.neibo_a1 { background: #f7f7f7; width: 242px; height: 399px; float: left; }
.neirbo_a1a { float: left; border-bottom: 1px solid #e9e9e9; padding-left: 20px; width: 222px; padding-top: 1px; padding-bottom: 4px; }
.neirbo_a1a1 { line-height: 30px; font-weight: 700; }
.neirbo_a1a a { color: #666666 }
.neirbo_a1a2 a { line-height: 20px; padding-right: 14px; }
.nobor { border-bottom: none }
/*module4-2*/
.neirbo_b { position: absolute; top: 0px; right: 0; width: 244px; z-index: 4; height: 400px; }
.neirbo_b1 { padding:0px 0px 1px 1px; }
/*module6/7/8/9/10/11*/
.lou_ceng { width: 1200px; margin: 0 auto 0px; overflow: hidden; height: 44px; border-bottom: 2px solid #c40000; }
.lou_ceng1 { float: left; height: 44px; line-height: 44px; font-size: 22px; font-weight: 700; width: 265px; }
.lou_ceng1 span { padding-right: 12px; }
.lou_ceng2 { float: left; height: 44px; line-height: 44px; font-size: 16px; }
.lou_ceng2 a { padding-right: 30px; color: #333 }
.lou_ceng3 { float: right }
.lou_ceng3 a { display: inline-block; height: 20px; line-height: 20px; padding: 0 6px; background-color: #c40000; color: #fff; vertical-align: top; margin-top: 22px; }
.lou_ceng3 a:hover { color: #fff; text-decoration: underline }
.lou_cebox { width: 1200px; margin: 0 auto 20px; overflow: hidden; border-bottom: 1px solid #e9e9e9; }
.lou_ceboxa { float: left; border-right: 1px solid #e9e9e9; }
.lou_ceboxa dl { width: 190px; height: 290px; }
.lou_ceboxa dl dd { width: 100%; text-align: center; }
.lou_ceboxa dl dd a { color: #333; font-size: 15px; font-weight: 700; line-height: 40px; }
.lou_ceboxa dl dd a:hover{ color:#ff6600; text-decoration:none}
.heng_xian { color: #666; font-size: 12px; line-height: 26px; text-decoration: line-through }
.jiage { color: #666; font-size: 12px; }
.jiage font { font-size: 14px; color: #ff0000; padding-right: 8px; }

/*module12*/
.footer_a { height: 80px; background: #f7f7f7; position: relative; z-index: 500; margin: 0 auto; border-top:2px solid #c40000; border-bottom: 1px solid #e9e9e9 }
.footer_a .footer_a1 { width: 1128px; margin: 0 auto; text-align: left; position: relative; z-index: 10; background: #f7f7f7; padding-left:72px;}
.footer_a .footer_a1 a{ margin-top:19px; float:left}
.footer_a .footer_a1 img{ float:left;}


/*module13*/
.yewei{ width:1200px; overflow:hidden;  padding:10px 0px 6px 0px; margin:30px auto 0px; background:#fafafa; height:160px;}
.yewei1{ float:left; width:770px; overflow:hidden; padding:24px 0px 0px 182px;}
.yewei1 dl{ float:left; width:190px; overflow:hidden;}
.yewei1 dl dt{ float:left; width:190px; font-size:14px; color:#666666; font-weight:bold; }
.yewei1 dl dd{ float:left; width:190px; padding:5px 0px 6px 0px;}
.yewei1 dl dd div{ float:left; width:190px; line-height:24px; }
.yewei1 dl dd div a{ color:#999999;}
.yewei1 dl dd div a:hover{ text-decoration:none; color:#ff6600}

.yewei2{ float:left; width:100px; overflow:hidden; padding:24px 0px 0px 0px;}
.yewei2 dl{ float:left; width:100px; overflow:hidden;}
.yewei2 dl dt{ float:left; width:100px; font-size:14px; color:#666666; font-weight:bold; text-indent:5px; }
.yewei2 dl dd{ float:left; width:100px; padding:4px 0px 6px 0px;}


/*module14*/
.footer {line-height: 220%;margin:0 auto;overflow: hidden;padding: 10px 0 15px;position: relative;text-align: center;width: 1000px; color:#888888; font-weight:bold;}
.footer a{ color:#666;}
/*module5*/
.zxx_test_list_list {width: 1200px; margin: 20px auto 20px; overflow: hidden;}

.tablist{ float:left; width:1200px; height:44px; overflow:hidden;background:url(../images/shopshouye20141110/linebor.jpg) repeat-x bottom;}

.tablist li{ float:left; width:100px; height:44px; text-align:center; font-size:18px; }
.tablist li a{ color:#333333; display:inline-block; width:100%; height:44px; line-height:35px;}
.tablist li a:hover{ background:u
	rl(../images/shopshouye20141110/iconxuan.jpg) repeat-x bottom;; text-decoration:none}
.tablist li a.tab_on{ background:url(../images/shopshouye20141110/iconxuan.jpg) repeat-x bottom; color:#ff0000}




/*module5-1*/
.tab_content{ float:left; width:1200px;}
.hotbox1{ border-left:1px solid #e9e9e9; float:left; width:1199}
.hotbox1a{ float:left; width:955px;}
.hotbox1a a{ float:left; border-bottom:1px solid #e9e9e9; border-right:1px solid #e9e9e9;}
.hotbox2a{ float:left;}
.hotbox2a a{ float:left; clear:both}

/*回顶部*/
*html .backtop {position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop-20+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));left:50%;}
.backtop { float:right;z-index:555;position:fixed;bottom:5px;left:50%; margin-left:615px;overflow-x:hidden;overflow-y:hidden;}
.backtop { display:block; width:100px; height:431px; background:url(../images/shopshouye20141110/lianxi.png) no-repeat; background-size: 100px 431px;}
*html .backtop2 {position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop-20+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));left:50%;}
.backtop2 { float:right;z-index:555;position:fixed;bottom:436px;left:50%; margin-left:610px;overflow-x:hidden;overflow-y:hidden; }
.backtop2 { display:block; width:101px; height:165px;   padding:0px 0px 0px 0px}

/*14-11-11*/
.hotbox1a a:hover img{filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;}

.lou_ceboxa a:hover img{filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;}
.useboxner li a:hover{ text-decoration:underline; color:#ff0000}	
/*2015.05.25 首页导航固定 xll*/
.autmain_right span.ytdianh{ color:#ff4a00; font-size:18px; font-weight:500;background: url(./../images/dianhua.png) no-repeat left center; padding-left:25px;float:right; padding-top:1px;}
.xll_dbbudong{position: fixed; top: 0 ; width:100%; margin:0px auto 0px; z-index:10000000; overflow:hidden;}
/*产品关联筛选2015.05.26*/
.cwj_cpgl_header{ width: 800px; margin: 45px auto;}
.cwj_cpgl_header ul{ margin-left: -10px;}
.cwj_cpgl_header ul li{ float: left; width: 90px; height: 30px; margin-right: 10px; }
.cwj_cpgl_header ul li a{ display: inline-block; width: 90px; height: 30px; line-height: 30px; text-align: center; color: #8E8E8E;}
.cwj_cpgl_header ul li a:hover{ width: 88px; height: 28px; line-height: 28px;border: 1px solid #C80000; border-radius: 5px; color: #C80000;} 
.cwj_cpgl_header ul li a.cwj_licurrent{ width: 90px; height: 30px; border-radius: 5px; background: #C80000; color: #fff; }
.cwj_cpgl_header ul li a.cwj_licurrent:hover{ border: none;}

.cwj_cpgl_list{ clear:  both; width: 1200px; margin: 0 auto; padding-top: 30px;} 
.cwj_cpgl_list table{ border: 1px solid #E9E9E9; width: 1200px; border-collapse:collapse;} 
.cwj_cpgl_list table th,.cwj_cpgl_list table td{ border: 1px solid #E9E9E9; } 
.cwj_cpgl_list table tr th{ font-weight: normal; height: 28px;}
.cwj_cpgl_list table tr th,.cwj_cpgl_list table tr td{ padding: 5px;} 
.cwj_cpgl_list table tr td{ height: 180px; text-align: center;}
.cwj_cpgl_list table tr th.cwj_col{ text-align: left; border-bottom: 1px solid #E9E9E9; padding-left: 16px; font-weight: bold; font-size: 14px;}
.cwj_cpgl_select{ width: 360px; height: 30px; border: 1px solid #E9E9E9; padding-left: 5px;} 
.cwj_cpgl_list table tr td.cwj_ltd_select{ width: 840px; padding: 0;}
.cwj_std{ width: 170px;}
.cwj_cpgl_search a{ color: #C80000; display: inline-block; width: 60px; height: 24px; line-height: 24px;}
.cwj_cpgl_search a:hover{ background: #C80000; color: #fff;}
.cwj_std p{ margin-top: 10px;}
.cwj_std a:hover p{ text-decoration:underline; color: #C80000;}