<extend name="Public/base" />

<block name="main">
<style>
	.num,.prev,.next,.first,.end{
		margin:0 3px;
	}
	img{
		width:80px;
	}
</style>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">订单管理</h1>
		</div>
		<div style="margin-left:15px">
			<form method="get" action="{:U('Sorder/index')}">
				<input type="text" name="id" placeholder="请输入订单号">
				<select name="state">
					<option value="">--请选择--</option>
					<option value="1" {:I('get.state')==1?"selected":""}>待付款</option>
					<option value="2" {:I('get.state')==2?"selected":""}>待收货</option>
					<option value="3" {:I('get.state')==3?"selected":""}>已收货</option>
					<option value="4" {:I('get.state')==4?"selected":""}>发货</option>
				</select>
				<input type="submit" value="搜索">
			</form>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">订单管理</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover  text-center" >
							<thead>
								<tr>
									<th>订单号</th>
									<th>订单人</th>
									<th>收货人</th>
									<th>订单数量</th>
									<th>订单金额</th>
									<th>下单时间</th>
									<th>订单状态</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody>
								<foreach name="data" item="vo">

									<tr>
										<td>{$vo['id']}</td>
										<td>{$vo['username']}</td>
										<td>{$vo['getman']}</td>
										<td>{$vo['totalNumber']}</td>
										<td>{$vo['totalPrice']}</td>
										<td>{:date('Y-m-d H:i:s',$vo['addtime']
										)}</td>
										<td>{$state[$vo['state']]}</td>
										<td>
											<if condition="$vo['state'] eq 4">
												<a href="{:U('Sorder/deliver',array('id'=>$vo['id']))}" class="btn btn-warning btn-xs">去发货</a>

											</if>
											<a href="{:U('Sorder/orderDetail',array('id'=>$vo['id']))}" class="btn btn-warning btn-xs">查看详情</a>

										</td>
									</tr>

								</foreach>
							</tbody>
							<tr>
								<td colspan="12" class="text-right">{$show}</td>
							</tr>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-6 -->
	</div>
	<!-- /.row -->
</block>