@import url(forumdata/cache/style_1_common.css?T22);
* html .content { height: auto !important; }
.nojs { position: relative; left: auto; }
* html .nojs { left: 0; }
* html .nojs .sim_upfile .sitenote { bottom: 161px; }
* html .nojs .sim_upfile .upfile_special { bottom: 301px; }
* html .nojs .sim_upfile .upfile { bottom: 356px; }
.nojs .float { margin: 0 auto; zoom: 1; }
.nojs .moreconf { position: relative; left: 0; width: auto; }
#floatwinnojs { position: static; }
.nojs .floatboxswf { width: 600px !important; }
.nojs .floatboxswf div { margin: 0 0 10px 11px; }
.nojs .floatbox1 { width: 100%; height: auto; }
#custominfoarea { right: 10px; left: auto; }
.nojs .specialinfo, .nojs .upfilelist { overflow-y: visible; height: auto !important; }
.popupmenu_popup, #e_popup_smilies_menu { *margin-top: 22px; }
* html .popupmenu_popup li { clear: both; float: left; }
* html .fontstyle_menu { overflow: hidden; width: 35px; }
* html .fontstyle_menu ul { width: 70px; }
* html .fontname_menu li { float: none; }

body { background:#0d2345; }
/*页头部分*/
.jlbtop { border:1px solid #c9c9c9; padding:4px; width:950px; margin:5px auto 8px; overflow:hidden }
.jlbbann { float:left; background:#cedff2; height:26px; line-height:26px; width:100%; color:#204fa1; overflow:hidden; margin-bottom:5px; }
.jlbbann a { color:#204fa1; }
.jlbbnnleft { float:left; text-indent:10px; }
.jlbbnnright { float:right; padding-right:10px; color:#000; }
.s_index { background:url(images/sindex.gif) no-repeat left; padding-left:13px; padding-right:8px; padding-top:2px; display:block; float:left; }
.sa_bbs { background:url(images/sbbsex.gif) no-repeat left; padding-left:15px; display:block; padding-top:2px; float:left; }
.bbslogo { float:left; width:100%; }
.bbslogoleft { float:left; padding:0px 0px 0px 5px; }
.bbslogoleft a { color:#c9c9c9; text-decoration:underline; }
.bbslogoleft a:hover { color:#ff0000; }
.bbslogoright { float:right; padding-top:2px; }
.bbslogoright a img { width:630px; height:60px; }
.jlbtiezlier { float:right; }
/*120728*/
.float_typeidnew { float:left; margin-right:6px; }
.float_typeidnew select { float:left; height:37px; }
.float_typeidnew a { display:block; overflow:hidden; text-indent:6px; padding:9px 17px 8px 0px; width:77px; height:20px; text-decoration:none !important; color:#444 !important; border:1px solid; border-color:#ccc; background:#FFF url(../../images/default/newarownew.gif) no-repeat 100% 8px; }
.float_typeidnew a:hover { text-decoration:none; border:1px solid #09C; background-position:100% -46px; }
.float_typeidnew ul { margin:-39px 0 0; border:1px solid #09C; background:#FFF url(../../images/default/newarownew.gif) no-repeat 100% -46px; }
* html .float_typeidnew ul { margin-top:-33px; }
.float_typeidnew ul li { line-height:37px; text-indent:6px; margin:0 4px; color:#444; cursor:pointer; }
.float_typeidnew ul li:hover { color:#09C; }
.float_typeidnew select { width:94px; }
.jlbtn{
	margin: 0px auto 10px;
	width: 960px;
	color: #333;
	text-align: left;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	position: relative;
}
.dengluhou {
    position: absolute;
    right: 8px;
    top: 0px;
    /* background: #FFF none repeat scroll 0% 0%; */
    padding-left: 15px;
}
.footer_bbs {
    width: 960px;
    margin: 10px auto 0px;
    padding: 10px 0px;
    border-top: 3px solid #035DB0;
    text-align: center;
    color: #888;
    font-size: 12px;
}
.t_b_p_rigt button {
    background: transparent url("../images/17.png") no-repeat scroll 0% 0%;
}
