a:hover{text-decoration:underline;}

/*logo*/
.logo{
	border: 1px solid #C9C9C9;
    padding: 4px;
    width: 950px;
    margin: 5px auto 8px;
    overflow: hidden;
}
.nav{
	    float: left;
    background: #CEDFF2 none repeat scroll 0% 0%;
    height: 26px;
    line-height: 26px;
    width: 100%;
    color: #204FA1;
    overflow: hidden;
    margin-bottom: 5px;
}
.navleft{
	float: left;
	text-indent: 10px;
}
.bbslogoleft{float:left;}
.bbslogoright{float:right;}


/* 查看 */
.crumbs{
	border: 1px solid #D6D6D6;
	height: 30px;
	margin: 0px auto 8px;
	width: 958px;
	background: #EEEFF4 none repeat scroll 0% 0%;
	color: #F00;
	position: relative;
	z-index: 99;
}
.crumbs div{float: left;line-height: 30px;width: 700px;text-indent: 8px;}
.crumbs div a{margin-right: 12px}
.crumbs span {
    float: right;
    padding-top: 4px;
    width: 250px;
}
.inp1 {
    border: 1px solid #A7A6AA;
    float: left;
    height: 18px;
    margin: 0px 3px 0px 0px;
    width: 175px;
}
.btn1 {
    cursor: pointer;
    float: left;
    height: 22px;
    width: 65px;
}

/*轮播*/
.bbshot-legin {
    margin: 0px auto 8px;
    width: 960px;
    overflow: hidden;
    clear: both;
}
.auto_left {
    float: left;
    width: 350px;
    margin-right: 8px;
    overflow: hidden;
}
.focuspic{width: 346px;
    border: 1px solid #CCC;
    padding-left: 2px;
    padding-top: 2px;
    height: 238px;
    overflow: hidden;
    background: #F7F7F7 none repeat scroll 0% 0%;
}

#box{height: 200px;position: relative;padding: 4px;}
#box3>img{width: 340px;height: 200px;}
#box2{position: absolute;top:180px;left: 135px;}
#box2 li{float: left;margin:4px;display: block;width: 25px;text-align: center;background: #f33}
#box1{background: blue;height: 26px;width:340px;margin:4px auto;}
#box1 a{font-size: 16px;color: #fff;width:340px;margin:4px auto;text-align:center;height:26px;line-height:26px;display: block;}
#box1 a:hover{text-decoration:none;}
.fobox {
    background: #F7F7F7 none repeat scroll 0% 0%;
    border: 1px solid #CCC;
    float: left;
    clear: both;
    overflow: hidden;
    margin-top: 5px;
    width: 344px;
    height: 53px;
    padding: 4px 0px 0px 4px;
}
.focus_pLeft {
    padding-left: 6px;
    line-height: 21px;
    color: #3E3E40;
    overflow: hidden;
    text-align: left;
    float: left;
    clear: both;
    width: 340px;
}
.focus_pLeft a {
    color: #04039D;
    background: transparent url("../images/bbsimagejih.png") no-repeat scroll -397px -45px;
    padding-left: 10px;
    height: 23px;
    line-height: 23px;
    display: inline-block;
}
.focus_pLeft a:hover{text-decoration:none;}

.bbshot-txt {
    float: left;
    border: 1px solid #CCC;
    width: 382px;
    overflow: hidden;
    height: 296px;
    background: #FFF none repeat scroll 0% 0%;
    padding-top: 8px;
}
.bbshot-txt h2 {
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "微软雅黑";
}
.bbshot-txt h2 a {
    color: #000;
    padding: 0px;
}
.bbshot-txt ul {
    float: left;
    padding: 2px 0px 0px;
    width: 100%;
}

.bbshot-txt ul li {
    text-align: left;
    width: 100%;
    line-height: 25px;
    height: 25px;
    font-size: 14px;
    position: relative;
    color: #333;
    padding-left: 13px;
    font-family: "宋体";
}
.bbsregin-hui {
    float: right;
    width: 210px;
}
.login-box {
    background: #EFF8FF none repeat scroll 0% 0%;
    width: 208px;
    height: 304px;
    border: 1px solid #CDE3F1;
}
.login-box-a {
    color: #898989;
    font-size: 12px;
    font-weight: bold;
    margin: 0px auto;
    width: 188px;
    padding-top: 4px;
    height: 35px;
    line-height: 35px;
}
.login-box-b {
    width: 188px;
    height: 36px;
    clear: both;
    overflow: hidden;
    background: transparent url("../images/imgpng.png") no-repeat scroll 0px -118px;
    position: relative;
    margin: 20px auto;
}
.login-box-b span, .login-box-c span {
    position: absolute;
    float: left;
    line-height: 35px;
    left: 38px;
    color: #BCBCBC;
    cursor: text;
}
/* .login-box-b input {
    position: absolute;
} */
.login-box-b input {
    float: left;
    width: 145px;
    height: 35px;
    line-height: 35px;
    border: medium none;
    background: transparent none repeat scroll 0% 0%;
    margin-left: 33px;
    padding-left: 5px;
    color: #444;
}
.login-box-c {
    width: 188px;
    height: 36px;
    clear: both;
    overflow: hidden;
    background: transparent url("../images/imgpng.png") no-repeat scroll 0px -154px;
    position: relative;
    margin: 10px auto 10px;
}
.login-box-c input {
    float: left;
    width: 145px;
    height: 35px;
    line-height: 35px;
    border: medium none;
    background: transparent none repeat scroll 0% 0%;
    margin-left: 33px;
    padding-left: 5px;
    color: #444;
}
/* .login-box-c input {
    position: absolute;
} */
.l-b-da1 {
    float: left;
    padding-top: 9px;
}
.l-b-da2 {
    float: left;
    padding-left: 5px;
    line-height: 30px;
    height: 30px;
    color: #898989;
}
.l-b-da3 {
    float: right;
    line-height: 30px;
    height: 30px;
}
.login-box-d {
    width: 188px;
    margin: 0px auto;
    overflow: hidden;
}
.login-box-e {
    width: 190px;
    margin: 4px auto 0px;
    overflow: hidden;
}
.login-box-e input {
    border: medium none;
    background: transparent url("../images/imgpng.png") no-repeat scroll 0px -37px;
    width: 190px;
    height: 37px;
    cursor: pointer;
    margin-bottom: 10px;
}
.login-box-f {
    width: 188px;
    margin: 4px auto 16px;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
}
.login-box-f span {
    float: left;
    color: #F00;
}
.login-box-f a {
    float: right;
}
.login-box-g {
    margin: 0px auto;
    width: 188px;
    overflow: hidden;
    background: transparent url("../images/lineg.jpg") repeat-x scroll 0% 0%;
    padding-top: 8px;
}
.l-b-ga1 {
    float: left;
    height: 25px;
    line-height: 25px;
    color: #898989;
}
.l-b-ga2 {
    float: left;
    clear: both;
    width: 100%;
}
.qq-login {
    display: block;
    float: left;
    width: 21px;
    height: 22px;
    background: transparent url("../images/imgpng.png") no-repeat scroll 0px -74px;
    margin-right: 5px;
}
.wb-login {
    display: block;
    float: left;
    width: 21px;
    height: 22px;
    background: transparent url("../images/imgpng.png") no-repeat scroll -21px -74px;
    margin-right: 5px;
}
.wx-login {
    display: block;
    float: left;
    width: 21px;
    height: 22px;
    background: transparent url("../images/imgpng.png") no-repeat scroll -42px -74px;
}


.ggbanner {
    position: relative;
    z-index: 99;
}
.ggbanner {
    clear: both;
    margin: 0px auto;
    overflow: hidden;
    width: 960px;
}


.bbs_index {
    width: 960px;
    margin: 0px auto 5px;
    overflow: hidden;
}

.bbszxhf {
    border: 1px solid #ACE;
    width: 348px;
    overflow: hidden;
    float: left;
    height: 290px;
}

.bbszxhf .same_cha2 {
    float: left;
    height: 24px;
    width: 100%;
}
.bbszxhf .same_cha2 ul {
    margin-top: 0px;
    padding: 0px;
    text-align: center;
    float: left;
}
.bbszxhf .same_cha2 .menu_on {
    font-size: 12px;
    width: 173px;
    height: 23px;
    color: #07519A;
    font-weight: bold;
    border-bottom: 1px solid #FFF;
}
.bbszxhf .same_cha2 li {
    float: left;
    line-height: 23px;
    cursor: pointer;
    text-align: center;
    background-image: none;
}
.bbszxhf .same_cha2 .autoline {
    width: 1px;
    height: 24px;
    background: #ACE none repeat scroll 0% 0%;
    overflow: hidden;
}
.bbszxhf .same_cha2 .menu_off {
    font-size: 12px;
    width: 174px;
    height: 23px;
    color: #07519A;
    background: #EBF4FC none repeat scroll 0% 0%;
    border-bottom: 1px solid #ACE;
}
#samec1 {clear: both;}
.time-bbs {float: left;padding-top: 5px;}
.time-bbs a {
    cursor: pointer;
    float: left;
    line-height: 17px;
    height: 17px;
    border: 1px solid #959595;
    padding: 0px 3px;
    margin-left: 7px;
    color: #666;
    background: #F1F1F1 none repeat scroll 0% 0%;
}
.time-bbs .time-bbs-on {
    color: #F60;
}
.time-bbs .time-bbs-on {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #F60;
    color: #F60;
}
.time-bbs .time-bbs-offmore {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #F00;
    color: #F00;
}
.bbszxhf #samec1 UL {
    padding: 6px 0px 0px 14px;
    background: transparent url("../images/bbsimagejih.png") no-repeat scroll 8px -43px;
    float: left;
}
.bbszxhf #samec1 UL LI {
    font-size: 12px;
    background: transparent none repeat scroll 0% 0%;
    width: 322px;
    color: #333;
    text-indent: 13px;
    height: 23px;
    line-height: 23px;
    position: relative;
    text-align: left;
}
.bbszxhf #samec1 UL LI A {
    color: #333;
}
.bbszxhf #samec1 UL LI SPAN {
    right: 0px;
    color: #959595;
    position: absolute;
    top: 0px;
}
.bbszxhf #samec1 UL LI SPAN A {
    font-size: 12px;
    color: #959595;
    text-decoration: none;
}

.bbszxhfd {
    border: 1px solid #ACE;
    width: 382px;
    overflow: hidden;
    float: left;
    height: 290px;
    margin-left: 8px;
}
.bbszxhfd .same_cha3 {
    float: left;
    height: 24px;
    width: 100%;
}
.bbszxhfd .same_cha3 ul {
    margin-top: 0px;
    padding: 0px;
    text-align: center;
}
.bbszxhfd .same_cha3 .menu_on {
    font-size: 12px;
    width: 190px;
    height: 23px;
    color: #07519A;
    font-weight: bold;
    border-bottom: 1px solid #FFF;
}
.bbszxhfd .same_cha3 li {
    float: left;
    line-height: 23px;
    cursor: pointer;
    text-align: center;
    background-image: none;
}
.bbszxhfd .same_cha3 .autoline {
    width: 1px;
    height: 24px;
    background: #ACE none repeat scroll 0% 0%;
    overflow: hidden;
}
.bbszxhfd .same_cha3 .menu_off {
    font-size: 12px;
    width: 191px;
    height: 23px;
    color: #07519A;
    background: #EBF4FC none repeat scroll 0% 0%;
    border-bottom: 1px solid #ACE;
}
#sameq1 {
    clear: both;
}
.bbszxhfd ul {
    float: left;
    padding: 13px 0px 0px 8px;
}

.bbszxhfd ul li {
    text-align: left;
    width: 356px;
    line-height: 24px;
    height: 24px;
    font-size: 14px;
    position: relative;
    color: #333;
    background: transparent url("../images/bbsimagejih.png") no-repeat scroll -347px -10px;
    text-indent: 13px;

}
.bbszxhfd #sameq1 UL LI SPAN {
    right: 0px;
    color: #959595;
    position: absolute;
    top: 0px;
}
.bbszxhfd #sameq1 UL LI SPAN A {
    font-size: 12px;
    color: #959595;
    text-decoration: none;
}
.remenhd {
    float: right;
    width: 208px;
    border: 1px solid #CEE2F1;
    height: 290px;
    overflow: hidden;
    background: #EDF7FF none repeat scroll 0% 0%;
}
.remenhdtop {
    float: left;
    height: 24px;
    line-height: 24px;
    background: transparent url("../images/bbsimagejih.png") no-repeat scroll -397px -126px;
    width: 208px;
    text-align: left;
    text-indent: 23px;
    font-weight: bold;
    color: #016EBA;
}
.remenhd ul {
    float: left;
    padding-top: 8px;
    width: 208px;
}
.remenhd ul li {
    background: transparent url("../images/bbsimagejih.png") no-repeat scroll -389px -82px;
    height: 23px;
    line-height: 23px;
    text-align: left;
    text-indent: 20px;
}
.remenhd ul li a {
    color: #333;
}

.ggbanner {
    position: relative;
    z-index: 99;
}
.ggbanner {
    clear: both;
    margin: 0px auto;
    overflow: hidden;
    width: 960px;
}
.jhot-box {
    width: 960px;
    margin: 0px auto 8px;
    overflow: hidden;
}
.jhot-box dl {
    float: left;
    width: 170px;
    padding: 4px;
    overflow: hidden;
    border: 1px solid #C9C9C9;
    margin-right: 15px;
}
.jhot-box dl dt {
    overflow: hidden;
    width: 170px;
    margin-bottom: 4px;
}
.jhot-box dl dt img {
    width: 170px;
    height: 100px;
}
.jhot-box dl dd {
    width: 170px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    background: #C9C9C9 none repeat scroll 0% 0%;
}
.jhot-box dl dd a {
    color: #0449BE;
}
.pp_dzm {
    margin: 0px auto 8px;
    position: relative;
    width: 960px;
    height: 30px;
}
.pp_dzm2 {
    position: absolute;
    top: 0px;
    left: 319px;
    border: 1px solid #CEE2F1;
    height: 30px;
    width: 320px;
    line-height: 30px;
    background: #EDF7FF none repeat scroll 0% 0%;
    text-align: center;
}
.pp_dzm3 {
    position: absolute;
    top: 0px;
    right: 0px;
    border-width: 1px 1px 1px 2px;
    border-style: solid;
    border-color: #CEE2F1;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    height: 30px;
    width: 317px;
    line-height: 30px;
    background: #EDF7FF none repeat scroll 0% 0%;
    text-align: center;
}
.pp_dzm1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 1px 2px 1px 1px;
    border-style: solid;
    border-color: #CEE2F1;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    height: 30px;
    width: 317px;
    line-height: 30px;
    background: #EDF7FF none repeat scroll 0% 0%;
    text-align: center;
}
.bbs_index {
    width: 960px;
    margin: 0px auto 5px;
    overflow: hidden;
}
.bbs_indexmain {
    border: 1px solid #234688;
    float: left;
    width: 958px;
    overflow: hidden;
}

.bbs_indexmain table td {
    padding: 10px 0px;
    background: transparent url("images/bbsnln.gif") repeat-x scroll center bottom;
}
.bbs_indexmain h3 {
    height: 26px;
    line-height: 26px;
    text-align: left;
    position: relative;
    background: #3B5999 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    text-indent: 12px;
}
.bbs_indexmain h3 a {
    color: #FFF;
}
.bbs_indexmain .bbsheadactions {
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 5px;
    top: 0px;
    display: block;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #FFF;
    height: 26px;
}
.bbsheadactions img {
    vertical-align: top;
    margin-top: 8px;
}
table {
    empty-cells: show;
    border-collapse: collapse;
}
.bbs_indexmain table .bbscentong td {
    padding: 5px 0px;
}
.bbs_indexmain table td {
    padding: 10px 0px;
    background: transparent url("../images/bbsnln.gif") repeat-x scroll center bottom;
}
.bbs_indexmain table td .imgkudy {
    background: transparent url("../images/bbsimagejih.png") no-repeat scroll -396px -174px;
    width: 32px;
    height: 29px;
}
.diju {
    margin-bottom: 3px;
}
.jlbtop, .crumbs, .bbshot-legin, .ggbanner {
    position: relative;
    /* z-index: 99; */
}
.ggbanner {
    clear: both;
    margin: 0px auto;
    overflow: hidden;
    width: 960px;
}
.diju {
    margin-bottom: 3px;
}
.jlbtop, .crumbs, .bbshot-legin, .ggbanner {
    position: relative;
    /* z-index: 99; */
}
.ggbanner {
    clear: both;
    margin: 0px auto;
    overflow: hidden;
    width: 960px;
}
.bbs_index {
    width: 960px;
    margin: 0px auto 5px;
    overflow: hidden;
}
.bbs_tjzqbbsnoi {
    border: 1px solid #234688;
    float: left;
    width: 958px;
    overflow: hidden;
}
.bbs_tjzqbbsnoi h3 {
    background: #3B5999 none repeat scroll 0% 0%;
    height: 26px;
    line-height: 26px;
    text-align: left;
    color: #FFF;
    font-size: 14px;
    text-indent: 10px;
    position: relative;
}
.bbs_tjzqbbsnoi h3 span {
    position: absolute;
    right: 8px;
    line-height: 26px;
    top: 0px;
}
.bbs_tjzqbbsnoi h3 span a {
    color: #FFF;
    font-weight: normal;
    font-size: 12px;
}
.content1 {
    overflow: hidden;
}
.cbl {
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
    padding: 10px 0px;
    width: 958px;
}
.cbl dt, .cbt dt {
    background: transparent url("../images/i_w.gif") no-repeat scroll right center;
    float: left;
    font-weight: bold;
    height: 47px;
    line-height: 47px;
    text-align: center;
    width: 100px;
    margin-right: 15px;
}
.content1 a {
    color: #0F0CBF;
}
.cbl dd, .cbt dd {
    float: left;
    position: relative;
    width: 842px;
}
.ulist_6 {
    overflow: hidden;
}
ul, ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.ulist_6 li {
    display: inline;
    float: left;
    height: 24px;
    margin: 0px;
    overflow: hidden;
    width: 135px;
    line-height: 24px;
}
.cbt {
    background: #F5F9FE none repeat scroll 0% 0%;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
    padding: 10px 0px;
    width: 958px;
}
.cbl dt.s, .cbt dt.s {
    height: 24px;
    line-height: 24px;
}
.es_mainnew {
    width: 958px;
    margin: 0px auto 8px;
    overflow: hidden;
    border: 1px solid #FC6700;
}
.es_mainnew h3 {
    height: 26px;
    line-height: 26px;
    width: 100%;
    color: #FFF;
    background: #F76E10 none repeat scroll 0% 0%;
    font-size: 14px;
    float: left;
    text-indent: 10px;
}
.es_mainnew h3 span {
    float: left;
}
.es_mainnew h3 a {
    float: right;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
    margin-right: 16px;
}
.es_one {
    float: left;
    padding: 13px 14px 13px 11px;
    overflow: hidden;
}
.es_one a {
    border: 1px solid #E7E7E7;
    width: 200px;
    height: 233px;
    display: block;
    float: left;
}
.es_two {
    float: left;
    width: 406px;
    overflow: hidden;
    margin-top: 13px;
    font-family: "宋体";
}
.es_two dl {
    float: left;
    width: 122px;
    overflow: hidden;
}
.es_two dl dt {
    float: left;
    width: 120px;
    height: 90px;
    border: 1px solid #E7E7E7;
}
.fljj {
    float: left;
    width: 100%;
    overflow: hidden;
    clear: both;
}
.fljj ul {
    float: left;
    width: 100%;
    overflow: hidden;
    clear: both;
    padding-top: 11px;
}
.fljj ul li {
    float: left;
    width: 100%;
    line-height: 25px;
    height: 25px;
    clear: both;
}
.es_three {
    float: left;
    padding: 8px 15px 0px 17px;
    width: 291px;
    overflow: hidden;
    font-family: "宋体";
}
.es_three ul {
    float: left;
    width: 100%;
    overflow: hidden;
}
.es_three ul li {
    float: left;
    width: 100%;
    line-height: 25px;
    height: 25px;
}
.prefecture {
    margin: 0px auto 8px;
    width: 958px;
    overflow: hidden;
    border: 1px solid #E9E9E9;
    font-family: "Microsoft YaHei";
}
.prefecture_top {
    float: left;
    width: 948px;
    border-bottom: 1px solid #E9E9E9;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background: #FAFAFA none repeat scroll 0% 0%;
    font-size: 14px;
}
.product dl {
    width: 32%;
    font-size: 12px;
    float: left;
    margin: 10px 0px 10px 11px;
    border-right: 1px solid #E9E9E9;
}
.product dl dt {
    line-height: 30px;
}
.product dl dt h5 a {
    color: #333;
}
.product dl dd {
    height: 50px;
}
.product dl dd ul {
    list-style: outside none none;
    float: left;
    width: 100%;
}
.product dl dd ul li {
    float: left;
    width: 24%;
    line-height: 24px;
}
.product dl dd ul li a {
    color: #000;
}
.footer_bbs {
    width: 960px;
    margin: 10px auto 0px;
    padding: 10px 0px;
    border-top: 3px solid #035DB0;
    text-align: center;
    color: #888;
    font-size: 12px;
}
.footer_bbs p {
    line-height: 24px;
    margin: 0px;
    padding: 0px;
}
.footer_bbs p a {
    display: inline-block;
    margin: 0px;
    color: #0C3BC1;
}
.footer_bbs p .fbbsline {
    color: #BFBFBF;
    margin: 0px 3px;
}





