@charset "gb2312";
/* CSS Document */

body { font: 12px/1.6em "Heiti SC", "Microsoft Yahei", "Simsun", "Arial"; background:#ffffff;  }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, form, fieldset, input, textarea, blockquote { padding:0; margin:0; }
table, td, tr, th { font-size:12px; }
input { vertical-align:middle; }
li { list-style-type:none; }
img { vertical-align:top; border:0; }
ol, ul { list-style:none; }
caption { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:12px; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; }
address, caption, cite, code, dfn, em, th, var { font-weight:normal; font-style:normal; }
.clear { clear:both; height:0; line-height:0; font-size:0px; overflow:hidden; }
/*文字链接*/
a:link, a:visited { color:#0056bd; text-decoration:none; }
a:hover { color:#d60000; text-decoration:none; }
/*下划线链接*/
.underline:link, .underline:visited { text-decoration:underline; }
.underline:hover { text-decoration:none; }
/*灰色链接*/
.greylink:link, .greylink:visited { color:#535353; }
.greylink:hover { color:#d60000; }
/*蓝色链接*/
a.bluelink:link, a.bluelink:visited, a.bluelink:hover { color:#0056bd; }
/*公共*/
.fl { float:left; }
.fr { float:right; }
.fontw { font-weight:bold; }
.font12 { font-size:12px; }
.font14 { font-size:14px; }
/*内容*/
.content1 { width:960px; margin:0 auto; overflow:hidden; }
/*发帖框左侧*/
.post_left { width: 950px;height: 596px; float: left; border: 1px solid #c9c9c9; text-align: left; overflow:hidden }
.tit_titl { height:40px; line-height:40px; padding:1px 12px 1px 12px; color:#595959; font-size:14px; font-weight:bold; background:#f1f5fa; }
.tit_titl em { width:3px; height:11px; margin:15px 6px 0px 0px; background:#96b0d3; display:block; float:left }
.tit_are { height: 40px; padding-top: 0px; background-color: #f1f5fa; }
.t_a_il { float:left; }
.t_a_ir { float:left;margin-left:5px; }
.t_a_ir input { width: 800px; height: 37px; line-height: 37px; border: 1px solid #cccccc; padding: 0 10px; text-align: left; font-size: 14px; color: #7d7d7d; vertical-align: baseline; }
.t_a_lng { float:left; padding-left:12px; overflow:hidden; }
.t_a_lng input { width: 702px; height: 37px; line-height: 37px; border: 1px solid #cccccc; padding: 0 10px; text-align: left; font-size: 14px; color: #7d7d7d; vertical-align: baseline; }
.t_a_box_a { width: 623px; height: 1px; line-height: 1px; overflow: hidden; border-top: 1px solid #f0f0f0; background-color: #f6f6f6; position: absolute; margin: -38px 0 0 1px; *display:none }
.t_a_box_b { width: 1px; height: 36px; line-height: 36px; overflow: hidden; border-left: 1px solid #f0f0f0; background-color: #f6f6f6; position: absolute; margin: -37px 0 0 1px; *display:none }
.w702 { width:722px; }
/*分类*/
#divselect01 { float:left; padding: 0 0 0 12px; width:100px; position:relative; z-index:1000 }
#cite { width:67px; height:37px; line-height:37px; display:block; color:#333333; cursor:pointer; font-style:normal; padding-left:7px; padding-right:20px; border:1px solid #cccccc; background:#ffffff url(images/1.png) no-repeat 77px 16px; overflow:hidden; }
#divselect01 ul { border:1px solid #cccccc; overflow:hidden; width:94px; background-color:#ffffff; position:absolute; z-index:20000; margin-top:-1px; display:none; }
#divselect01 ul li { height:24px; line-height:24px; width:100%; }
#divselect01 ul li a { display:block; height:24px; width:100%; background:#fff; color:#333333; text-decoration:none; padding-left:10px; padding-right:10px; }
#divselect01 ul li a:hover { background-color:#0099cc; color:#fff }
/*工具栏*/
.tit_fun { width: 733px; height: 40px; background-color: #f1f5fa; padding: 9px 0 6px 15px; border-bottom: 1px solid #ccd3e4; position: relative; box-shadow: 0px 3px 3px #C0C0C0; }
.pop_fun { position: fixed; top: 0px; }
.t_f_box { float: left; margin-right: 4px; }
.t_f_box_line { background:url(images/16.png) no-repeat; width:1px; height:40px; float:left; overflow:hidden; margin-right:5px; }
.t_f_box span { width: 31px; height: 36px; padding-top:2px; line-height: 21px; overflow: hidden; text-align: center; float: left; display: block; color:#636567; border: 1px solid #f1f5fa; border-radius: 2px; cursor:pointer }
.t_f_box a { width: 31px; height: 36px; padding-top:2px; line-height: 21px; overflow: hidden; text-align: center; float: left; display: block; color:#636567; border: 1px solid #f1f5fa; border-radius: 2px; cursor:pointer }
.t_f_yuan em { display:block; width:31px; height:14px; padding-top:2px; text-align:center }
.t_f_box span:hover { border: 1px solid #dae2eb; border-radius: 2px; background: #e9edf4; background-color: #fdfefe; background-image: -moz-linear-gradient(top, #fdfefe, #e9edf4); background-image: -ms-linear-gradient(top, #fdfefe, #e9edf4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfefe), to(#e9edf4)); background-image: -webkit-linear-gradient(top, #fdfefe, #e9edf4); background-image: -o-linear-gradient(top, #fdfefe, #e9edf4); background-image: linear-gradient(top, #fdfefe, #e9edf4); background-repeat: repeat-x; color:#333333; cursor:pointer }
.t_f_box span.t_sel { border: 1px solid #c8d9ec; border-radius: 2px; background: #e9edf4; background-color: #fdfefe; background-image: -moz-linear-gradient(top, #fdfefe, #e9edf4); background-image: -ms-linear-gradient(top, #fdfefe, #e9edf4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfefe), to(#e9edf4)); background-image: -webkit-linear-gradient(top, #fdfefe, #e9edf4); background-image: -o-linear-gradient(top, #fdfefe, #e9edf4); background-image: linear-gradient(top, #fdfefe, #e9edf4); background-repeat: repeat-x; color:#333333 }
.t_f_a em { display:block; background:url(images/2.png) no-repeat center center; width:31px; height:16px; }
.t_f_b em { display:block; background:url(images/3.png) no-repeat center; width:31px; height:16px; }
.t_f_c em { display:block; background:url(images/4.png) no-repeat center; width:31px; height:16px; }
.t_f_d em { display:block; background:url(images/5.png) no-repeat center; width:31px; height:16px; }
.t_f_e em { display:block; background:url(images/6.png) no-repeat center; width:31px; height:16px; }
.t_f_f em { display:block; background:url(images/7.png) no-repeat center; width:31px; height:16px; }
.t_f_g em { display:block; background:url(images/8.png) no-repeat center; width:31px; height:16px; }
.t_f_h em { display:block; background:url(images/9.png) no-repeat center; width:31px; height:16px; }
.t_f_i em { display:block; background:url(images/10.png) no-repeat center; width:31px; height:16px; }
.t_f_j em { display:block; background:url(images/11.png) no-repeat center; width:31px; height:16px; }
.t_f_k em { display:block; background:url(images/12.png) no-repeat center; width:31px; height:16px; }
.t_f_je em { display:block; background:url(images/22.png) no-repeat center; width:31px; height:16px; }
.t_f_l em { display:block; background:url(images/13.png) no-repeat center; width:31px; height:16px; }
.t_f_m em { display:block; background:url(images/14.png) no-repeat center; width:31px; height:16px; }
.t_f_qx em { display:block; background:url(images/28.png) no-repeat center; width:31px; height:16px; }
.t_f_storage { float:right; height:40px; line-height:40px; padding-right:16px; }
.t_f_storage em { float:left; display:block; background:url(images/15.png) no-repeat; width:24px; height:14px; margin-top:13px; }
/*内容框*/
.tit_edit { border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }
.tit_bot_post { height: 30px; line-height: 30px; overflow: hidden; padding: 10px 12px; background-color: #f1f5fa; }
.t_b_p_left { float:left }
.t_b_p_rigt { float:right; }
.t_b_p_rigt label input { position: relative; top: -2px; margin-right: 5px; }
.t_b_p_rigt label { color:#636567; padding-right:11px; }
.t_b_p_rigt button { border:none; color: white; font-size: 12px; width:93px; height:29px; line-height:24px; font-weight:bold }
/*发帖框右侧*/
.post_right { width: 199px; height: 596px; float: right; border: 1px solid #c9c9c9; border-bottom:2px solid #c9c9c9; background-color: #ffffff; position: relative; z-index: 999; margin-left:8px; }
.pop_right { position:fixed; top:0; margin:0 0 0 758px; *margin:0;
}
.post_right h3 { height: 36px; padding-left: 5px; background-color: #f1f5fa; }
.tab_ul li { width: 90px; height: 23px; padding-top: 7px; position: relative; top: 4px; float: left; text-align: center; color: #535353; border-top: 2px solid #f1f5fa; border-right: 1px solid #f1f5fa; border-left: 1px solid #f1f5fa; cursor: pointer; }
.tab_ul li.cur { height: 24px; font-weight: bold; background-color: #FFFFFF; border-top: 2px solid #497bc5; border-right: 1px solid #a6bee4; border-left: 1px solid #a6bee4; cursor: default; }
.up_img { border-top: 1px solid #a6bee4;
}
.alname { _height: 33px; line-height: 33px; padding: 14px 7px 0 7px; color: #535353; _display: inline-block; font-size: 14px; }
.up_img_go { width: 186px; line-height: 32px; text-align: center; color: #fff; height: 32px; font-weight: bold; background: #01459b; background-color: #1f5aa5; background-image: -moz-linear-gradient(top, #1f5aa5, #01459b); background-image: -ms-linear-gradient(top, #1f5aa5, #01459b); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f5aa5), to(#01459b)); background-image: -webkit-linear-gradient(top, #1f5aa5, #01459b); background-image: -o-linear-gradient(top, #1f5aa5, #01459b); background-image: linear-gradient(top, #1f5aa5, #01459b); background-repeat: repeat-x; cursor:pointer }
.up_img_go:hover { background: #01459b; background-color: #1f5aa5; background-image: -moz-linear-gradient(top, #01459b, #1f5aa5); background-image: -ms-linear-gradient(top, #01459b, #1f5aa5); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#01459b), to(#1f5aa5)); background-image: -webkit-linear-gradient(top, #01459b, #1f5aa5); background-image: -o-linear-gradient(top, #01459b, #1f5aa5); background-image: linear-gradient(top, #01459b, #1f5aa5); background-repeat: repeat-x; }
.up_img_go_line { width: 186px; background:#c5c5c5; height:1px; border-bottom:1px solid #ececec }
.up_nam_a { padding: 0px 0px 15px 0px; }
.up_nam_c { margin: 15px 6px 18px 6px; padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; text-align:left }
.up_nam_c a { display:inline-block; padding-left:12px; height:20px; line-height:20px; font-weight:bold }
.up_nam_c a em { background:url(images/b2.png) no-repeat; margin-top:7px; width:7px; height:7px; display:block; float:left; margin-left:-12px; }
.insu_cen { margin: 16px; text-align: left; color: #636567; }
.insu_cen p { margin-top: 10px; }
.imgbig { position: absolute; right: 209px; top: 118px; padding: 10px; border: 1px solid #ccc; background: #fff; z-index: 1000; }
/*论坛发帖发回帖*/
.repl_tb { float:left; padding-left:12px; }
.rep_ta { width:715px; background:#f8fafd; border:1px solid #dee0e3; height:37px; line-height:37px; text-align: left; font-size: 14px; color: #7D7D7D; vertical-align: baseline; padding-left:10px; color:#0c3bc1; }
.rep_tb { width: 725px; height: 1px; line-height: 1px; overflow: hidden; border-top: 1px solid #F0F0F0; background-color: #F6F6F6; position: absolute; margin: -38px 0 0 1px; *display:none }
.rep_tc { width: 1px; height: 36px; line-height: 36px; overflow: hidden; border-left: 1px solid #F0F0F0; background-color: #F6F6F6; position: absolute; margin: -37px 0 0 1px; *display:none }
.up_img_way { width: 184px; border:1px solid #dcdcdc; line-height: 32px; text-align: center; font-size:12px; color: #979797; height: 32px; background: #f1f1f1; cursor:pointer; box-shadow: 0 1px 0 #ebebeb inset; text-shadow: 0 1px 0 #fff }
/*右侧图片列表*/
.up_imgbox { height: 407px; overflow-x: hidden; overflow-y: auto; margin-top: 12px; position:relative;   }
.up_imgbox dl dt { border: 1px solid #C9C9C9; float: left; height:56px; width:83px; position:relative; margin:0px 0px 10px 5px;   }
.up_imgbox dl dt a { display: table-cell; height: 56px; padding: 0; text-align: center; vertical-align: middle; width: 83px; }
.up_imgbox dl dt a img { vertical-align: middle;  }
.up_imgbox dl dt img { border: medium none; display: block; margin: 0 auto; padding: 0; margin-top:expression((56 - this.height )/2)}

/*上传进度条*/
.up_img_pro { padding:0px 7px }
.u_i_p_a { color:#636567; padding-bottom:5px }
.u_i_p_a span { color:#979797; }
.u_i_p_b { position:relative; width:184px; height:3px; padding-bottom:10px; }
.p_b_l { display:block; width:184px; height:3px; border:1px solid #d3d9e1; background:url(images/b8.png) no-repeat; }
.p_b_h { display:block; height:3px; border:1px solid #60a727; background:url(images/b9.png) no-repeat; position:absolute; top:0px; left:0px; }
/*取消上传*/
.up_can_a { padding:0px 7px; }
.up_can_b { width: 184px; border:1px solid #bdcfe6; line-height: 32px; text-align: center; color: #204fa1; height: 32px; background: #e3ebf6; background-color: #e3ebf6; background-image: -moz-linear-gradient(top, #d9e3f7, #e3ebf6); background-image: -ms-linear-gradient(top, #d9e3f7, #e3ebf6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9e3f7), to(#e3ebf6)); background-image: -webkit-linear-gradient(top, #d9e3f7, #e3ebf6); background-image: -o-linear-gradient(top, #d9e3f7, #e3ebf6); background-image: linear-gradient(top, #d9e3f7, #e3ebf6); background-repeat: repeat-x; cursor:pointer }
.up_can_b:hover { background: #e3ebf6; background-image: -moz-linear-gradient(top, #e3ebf6, #d9e3f7); background-image: -ms-linear-gradient(top, #e3ebf6, #d9e3f7); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3ebf6), to(#d9e3f7)); background-image: -webkit-linear-gradient(top, #e3ebf6, #d9e3f7); background-image: -o-linear-gradient(top, #e3ebf6, #d9e3f7); background-image: linear-gradient(top, #e3ebf6, #d9e3f7); background-repeat: repeat-x; }
.up_img_all { border-top:1px solid #e5e5e5; padding:7px; }
.u_i_a_img { width: 184px; border:1px solid #e4dea1; line-height: 32px; text-align: center; color: #eb5708; height: 32px; background: #fff7cd;  background-image: -moz-linear-gradient(top, #fff7cd, #fef6be); background-image: -ms-linear-gradient(top, #fff7cd, #fef6be); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff7cd), to(#fef6be)); background-image: -webkit-linear-gradient(top, #fff7cd, #fef6be); background-image: -o-linear-gradient(top, #fff7cd, #fef6be); background-image: linear-gradient(top, #fff7cd, #fef6be); background-repeat: repeat-x; cursor:pointer }
/*
.u_i_a_img:hover { background: #fef6be; background-color: #1f5aa5; background-image: -moz-linear-gradient(top, #fef6be, #fff7cd); background-image: -ms-linear-gradient(top, #fef6be, #fff7cd); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fef6be), to(#fff7cd)); background-image: -webkit-linear-gradient(top, #fef6be, #fff7cd); background-image: -o-linear-gradient(top, #fef6be, #fff7cd); background-image: linear-gradient(top, #fef6be, #fff7cd); background-repeat: repeat-x; }
*/
.up_imgbox dl dt.img_future { border:1px solid #ff9000; }
.up_imgbox dl dt em { position:absolute; z-index:20; width:12px; height:12px; background:url(images/b1.png) no-repeat; left:0px; top:0px; }
/*编辑被退回的帖子*/
.th_red em { width:3px; height:11px; margin:15px 6px 0px 0px; background:#ea5404; display:block; float:left }
.th_red { color:#595959; }
.th_red span { color:#d92320; font-size:12px; font-weight:normal; padding-left:14px; }
/*修改理由*/
.tit_modify { overflow: hidden; padding: 10px 12px; background-color: #f1f5fa; }
.t_mo_main { margin:0 auto; overflow:hidden; }
.tit_mod_lfe { float:left; color:#444444; line-height:32px; }
.tit_mod_inp { float:left; }
.tit_mod_inp input { width: 641px; height: 30px; line-height: 30px; border: 1px solid #cccccc; padding: 0 10px; text-align: left; font-size: 14px; color: #7d7d7d; vertical-align: baseline; }
.tit_mod_inp_a { width: 661px; height: 1px; line-height: 1px; overflow: hidden; border-top: 1px solid #f0f0f0; background-color: #f6f6f6; position: absolute; margin: -31px 0 0 1px; *display:none; }
.tit_mod_inp_b { width: 1px; height: 29px; line-height: 36px; overflow: hidden; border-left: 1px solid #f0f0f0; background-color: #f6f6f6; position: absolute; margin: -30px 0 0 1px; *display:none; }
.tit_boxlk_line { height:1px; overflow:hidden; background:#fff; }
.tit_boxlk_dd { height:1px; overflow:hidden; background:#d7d8da; margin:10px auto 0; width:720px; }
/*发起报名*/
.pos_sign { background:#f1f5fa; padding:12px; }
.pos_tabl { width:100%; }
.pos_tabl td { vertical-align:top }
.pos_ta1 { width:230px; }
.p_ta1_a { padding:10px 0px; }
.p_ta1_a label { color:#595959; line-height:26px; height:26px; display:inline-block; float:left }
.txt_star { width: 150px; height: 24px; line-height: 24px; padding: 0 4px; border: 1px solid #c0c0c0; cursor: pointer; background:url(images/19.png) no-repeat 138px 4px; background-color: #FFFFFF; }
.txt_tcen { width: 150px; height: 24px; line-height: 24px; padding: 0 4px; border: 1px solid #c0c0c0; background-color: #FFFFFF; }
.p_ta1_b { color:#cb1d1e; padding-left:60px; }
.pos_ta2 { vertical-align:top; text-align:right; line-height:46px; color:#595959; }
.sign_ul { width:310px; padding-top:10px; padding-left:15px; overflow:hidden; }
.sign_ul li { float:left; width:155px; padding-bottom:10px; }
.sign_ul li.wth31 { width:310px; }
.sign_ul li input { float:left; margin-top:6px; }
.sign_ul li label { color:#636567; float:left; display:block; padding-left:6px; line-height:26px; }
.sign_ul li input.sign_inpub { width: 150px; height: 24px; line-height: 24px; padding: 0 4px; border: 1px solid #c0c0c0; background-color: #FFFFFF; margin-top:0px; margin-left:13px; }
.sign_ul li span { color:#204fa1; float:left; display:block; line-height:26px; }
.sign_ul li input.sign_inpuc { width: 60px; text-align:center; height: 24px; line-height: 24px; padding: 0 4px; border: 1px solid #c0c0c0; background-color: #FFFFFF; margin-top:0px; margin-left:8px; margin-right:8px; }
/*发起投票*/
.tvo_lol { width:100%; }
.tvo_lol th { vertical-align:top; width:75px; text-align:right; color:#595959; line-height:26px; }
.vote_i_a { padding-bottom:13px; overflow:hidden }
.vote_i_a input { float:left; width: 400px; height: 24px; line-height: 24px; padding: 0 4px; border: 1px solid #c0c0c0; background-color: #FFFFFF; }
.vote_i_a a { background:url(images/20.png) no-repeat center center; width:26px; height:26px; display:block; float:left; text-indent:-9999em; }
.vote_i_a a:hover { background:url(images/21.png) no-repeat center center; width:26px; height:26px; display:block; float:left; text-indent:-9999em; }
.vote_i_b { padding-bottom:20px; overflow:hidden }
.vote_i_b a { float:left; display:block; width:105px; height:28px; background:url(images/18.png) no-repeat; line-height:27px; text-indent:32px; color:#204fa1; }
.vote_i_b span { color:#cb1d1e; float:left; display:block; padding-left:20px; line-height:28px; }
.vote_ia_a { padding-bottom:15px; overflow:hidden }
.vote_int { width: 150px; height: 24px; line-height: 24px; padding: 0 4px; border: 1px solid #c0c0c0; cursor: pointer; background:url(images/19.png) no-repeat 138px 4px; background-color: #FFFFFF; }
.vote_ia_b { padding-bottom:15px; overflow:hidden }
.vote_ia_c { color:#204fa1; float:left }
.vote_ia_c input { float:left; margin-top:5px; }
.vote_ia_c label { display:block; line-height:24px; padding:0px 8px; float:left }
.vote_ia_d { color:#636567; float:left }
.vote_ia_d label { display:block; line-height:24px; padding:0px 10px; float:left }
.vote_inta { float:left; width: 60px; height: 24px; line-height: 24px; padding: 0 4px; border: 1px solid #c0c0c0; background-color: #FFFFFF; text-align:center }
.vote_ib_a { float:left; }
.vote_ib_a label { color:#595959; padding:0px 5px; line-height:26px; }
.vote_ib_b { float:right; }
.vote_ib_b span { display:block; width:93px; height:29px; line-height:29px; text-align:center; color:#fff; font-weight:bold; background:url(images/17.png) no-repeat; cursor:pointer }
/*表情浮层*/
.pop_expre { width:454px; border:1px solid #bdcfe6; background-color:#FFFFFF; position:absolute; z-index:10; margin:45px 0 0 -200px; *margin:45px 0 0 -235px;
}
.ex_b, .ex_w { width:15px; height:8px; display:inline-block; overflow:hidden; font-size:16px; color:#89b8e4; position:absolute; margin:-9px 0 0 208px; }
.ex_w { color:#FFFFFF; margin-top:-8px; }
.pop_expre ul { width:450px; padding:4px 0 0 4px; overflow:hidden; _display:inline-block; }
.pop_expre ul li { width:30px; height:30px; float:left; }
.pop_expre ul li a { width:24px; height:24px; display:block }
.pop_expre ul li a:link, .pop_expre ul li a:visited { border:1px solid #e8e8e8; background-color:#FFFFFF; }
.pop_expre ul li a:hover { border:1px solid #c0e2f9; background-color:#FFFFFF; }
/*链接浮层*/
.plink, .pfla { width:330px; padding-bottom:10px; margin:44px 0 0 -55px; *margin:44px 0 0 -85px; }
.plink .ex_b, .plink .ex_w, .pfla .ex_b, .pfla .ex_w { margin-left:60px; }
.plink div, .pfla div { text-align:center; padding:3px 0; color:#666666; }
.plink div.tecen, .pfla div.tecen { text-align:left; padding:15px 0 0 10px; }
.int_link { width:300px; height:19px; line-height:19px; padding:0 5px; border:1px solid #999999; color:#666666; }
.btn_link { width: 45px;
height: 23px;
line-height: 19px;
margin: 0 5px;
cursor: pointer; }
.pfla { margin:40px 0 0 12px; *margin:40px 0 0 -85px;
display:block; }
.edit { border-top:1px solid #ccd3e4; border-bottom:1px solid #ccd3e4; }
.if_edit { width:758px; }
.bot_post { height:24px; line-height:24px; overflow:hidden; padding:10px 8px; border-top:1px solid #ffffff; background-color:#f2f5f8; }
.put_out { display:inline-block; width:80px; height:24px; line-height:25px; overflow:hidden; float:left; _float:none; margin-right:15px; text-align:center; overflow:hidden; background-color:#3b5998; }
.put_out:link, .put_out:visited, .put_out:hover { color:#FFFFFF; }
.chk { position:relative; top:-2px; margin-right:5px; *left:-3px;
*margin-right:0;
}
.bot_post label { *position:relative;
*top:2px;
}
.bot_post .fr { color:#0056bd; }
.up_nam_b select { padding:1px; border: 1px solid #d9deeb; width:100% }
.t_f_box #e_cmd_bold { font-weight:normal }
/*输入框*/
.mouover { background: white url(images/backweng.png) no-repeat center left; }
/*提示框*/
.postpop{left: 5px; background-color:#EAEAEA; padding:2px; width:210px; z-index:500; position:absolute; top: 94px; left:7px; width: 90%;}
.postpopnew{left: 5px; background-color:#EAEAEA; padding:2px; width:210px; z-index:500; position:absolute; top:164px; left:-202px; width: 90%;}
.postpop .postpop-bottom{width:15px; height:11px;}
.postpopnew .postpop-bottomnew{width:15px; height:18px;}
.postpop .postpop-arrow-up{top:-8px;left:14px; display:inline-block;overflow:hidden; position:absolute; z-index:2;background:url(images/layer_arrow24.png) no-repeat;_background:url(images/layer_arrow8.png) no-repeat;}
.postpop .postpop-arrow-down{top:82px;left:14px; display:inline-block;overflow:hidden; position:absolute; z-index:2;background:url(images/layer_arrow24.png) 0 -10px no-repeat;_background:url(images/layer_arrow8.png) 0 -10px no-repeat;}
.postpopnew .postpop-arrow-right{top:12px;right:-12px; display:inline-block;overflow:hidden; position:absolute; z-index:2;background:url(images/layer_arrow24.png) no-repeat -30px 0px;_background:url(images/layer_arrow8.png) no-repeat -30px 0px;}
.postpop .postpop-content{ color:#666; height:60px;z-index:1; border:1px solid #CCD3E4; background-color:#FFFFFF; padding:10px; font-size:12px;line-height:18px;}
.postpopnew .postpop-content{ color:#666; height:60px;z-index:1; border:1px solid #CCD3E4; background-color:#FFFFFF; padding:10px; font-size:12px;line-height:18px;}
.postpopnew .postpop-content-iknow {color:rgb(59, 89, 152);float:right;cursor:pointer;margin-top:10px;}
.postpop .postpop-content-iknow {color:rgb(59, 89, 152);float:right;cursor:pointer;margin-top:10px;}
/*提示补充*/
.jlbtn{ z-index:5}
/*140117*/
#uppopDlg1-content { text-align:left; float:left; width:100%;}
