* {
	word-wrap:break-word;
}
.bsmain {
	width:960px;
	background-color:#fff;
	margin:0px auto 10px auto;
	overflow:hidden;
	color:#f5f5f5;
}
.bstop {
	width:930px;
	border:1px solid #cccccc;
	background-color:#f1f0f0;
	height:25px;
	line-height:25px;
	margin:8px auto 10px auto;
	color:#000000;
}
.bstop font a {
	color:#ff0000
}
.bstop a {
	margin-left:7px;
	margin-right:7px;
	color:#000000;
	font-size:13px;
	font-weight:bold;
}
.bslanmu {
	width:932px;
	margin:0px auto;
	height:30px;
	background:url(/images/background.gif) repeat-x;
	line-height:30px;
	text-align:right;
	color:#fff;
}
.bslanmu span {
	float:left;
	text-indent:1.5em;
}
.bslanmu span a {
	color:#ffffff;
	float:left;
}
.bslanmu a {
	color:#fff;
	margin-left:7px;
	margin-right:7px;
}
.bsdangqian {
	text-align:left;
	color:#000;
	font-weight:bold;
	width:932px;
	margin:0 auto;
	height:35px;
	line-height:35px;
}
.bsdangqian a {
	color:#000;
	font-size:12px;
	font-weight:bold;
}
body {
	background:none;
	background-color:#5279bd;
}
body {
	background:#0D2345 url("../../../images/default/bodybg.gif") repeat-x 0 90px;
	text-align:center;
}
body, td, input, textarea, select, button {
	color:#444;
	font:12px/1.5 Tahoma,'Microsoft Yahei','Simsun'
}
input, select, button {
	vertical-align:middle;
}
body, ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset {
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
ul li {
	list-style:none;
}
a {
	text-decoration:none;
	color:#000;
}
a:hover {
	text-decoration:underline;
}
.lightlink, .lightlink a {
	color:#09C;
}
a img {
	border:none;
}
em, cite, strong, th {
	text-align:left;
	font-style:normal;
}
.emfont {
	color:#F60;
}
table {
	empty-cells:show;
	border-collapse:collapse;
}
th {
	font-weight:400;
}
.txt, .txtarea {
	padding:2px;
*padding:0 2px;
	height:16px;
*height:20px;
	border:1px solid;
	border-color:#999 #CCC #CCC #999;
	background:#FFF;
}
.txtarea {
	height:auto;
}
.checkbox, .radio {
	margin:0;
	width:15px;
}
.pipe {
	margin:0 5px;
}
.lighttxt, .lighttxt a, .pipe {
	color:#999;
}
.smalltext {
	font-size:0.83em;
	font-family:Verdana, Helvetica, Arial, sans-serif;
color
}
.noborder, .noborder td {
	border:none !important;
}
.nobg {
	background:none !important;
}
.right {
	float:right;
}
.left {
	float:left;
}
.onerror, .onright {
	clear:both;
	padding:2px 2px 2px 22px;
	background:url(../../../images/default/check_error.gif) no-repeat 2px 2px;
}
.onright {
	background:url(../../../images/default/check_right.gif) no-repeat 2px 2px;
}
.notice {
	clear:both;
	margin:5px 0;
	padding:3px 5px 3px 20px;
	background:url(../../../images/default/notice.gif) no-repeat 2px 6px;
}
.nodata {
	margin:99px auto;
	text-align:center;
	color:#999;
	font-size:16px;
	font-weight:700;
}
#ajaxwaitid {
	display:none;
	position:absolute;
	z-index:100;
	top:0;
	right:0;
	width:100px;
	height:1.6em;
	background:#D00;
	line-height:1.6em;
	color:#FFF;
	overflow:hidden;
}
#checksecanswer img, #checksecanswer3 img, #checkseccodeverify img, #checkseccodeverify3 img, .warning img {
	vertical-align:middle;
}
.autosave {
	behavior:url(#default#userdata);
}
.s_clear:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.s_clear {
	zoom:1;
}
hr {
	clear:both;
	margin:1em 0;
	border:0 solid #E6E7E1;
	background:transparent;
}
.solidline {
	border-top:1px solid #FFF;
	border-bottom-width:1px;
}
.dashline {
	height:0px;
	border-bottom-width:1px;
	border-style:dashed;
}
.shadowline {
*margin:2px 0;
	border-width:1px 0;
	border-top-color:#C8DCEC;
	border-bottom-color:#FFF;
}
.side .shadowline {
	margin:5px 0;
*margin:2px 0;
}
.cornerlayger {
	padding:6px 8px;
	border:1px solid #09C;
	background:#EBF2F8;
	line-height:1.6em;
}
.minicorner {
	margin-top:-1px;
	height:6px;
	background:url(../../../images/default/attachinfobg.gif) no-repeat 50% 0;
}
.wrap {
	text-align:left;
	margin:0 auto;
	color:#333333;
}
#wrap {
	padding-bottom:10px;
	min-height:350px;
	border:0 solid #00B2E8;
	background-color:#FFF;
	clear:both;
}
* html #wrap {
	height:450px;
}
.wrap, #nav {
	width:960px;
}
#header {
	margin-bottom:8px;
	min-width:960px;
	width:100%;
	border-bottom:1px solid #00B2E8;
	background:#00A2D2 url("../../../images/default/header.gif") repeat-x 0 100%;
}
#header .wrap {
	position:relative;
	padding:24px 0 22px;
}
#header h2 {
	float:left;
}
#umenu {
	position:absolute;
	right:0;
	top:0;
	line-height:20px;
}
#umenu a {
	margin:0 6px;
}
#umenu cite {
	font-weight:700;
}
#umenu cite span a {
	margin:0;
	font-weight:400;
}
#pm_ntc.new, #task_ntc.new {
	padding-left:22px;
	background:url(../../../images/default/notice_newpm.gif) no-repeat 0 50%;
}
#task_ntc.new {
	padding-left:15px;
	background-image:url(../../../images/default/icon_task.gif);
}
#pm_ntc_menu {
	margin-left:-27px;
	padding-top:10px;
	width:250px;
	background:transparent url(../../../images/default/pm_ntc.gif) no-repeat 0 0;
	text-align:left;
	opacity:0.98;
}
#pm_ntc_view {
	padding-bottom:10px;
	background:transparent url(../../../images/default/pm_ntc.gif) no-repeat -250px 100%;
}
#pm_ntc_menu ul {
	padding:0 10px;
	border:solid #91C8E2;
	border-width:0 2px;
	background:#FEFEFE;
}
#pm_ntc_menu li {
	height:29px;
	border-bottom:1px solid #F4F4F4;
	line-height:29px;
}
#pm_ntc_menu a {
	display:block;
	width:100%;
	color:#999;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
}
#pm_ntc_menu a em {
	padding-right:8px;
	color:#333;
}
#pm_ntc_menu a:hover {
	text-decoration:none;
	color:#09C;
}
#uchome_ntc {
	padding:1px 10px 3px 15px;
*padding:2px 10px 2px 15px;
	background:url(../../../images/default/notify_bg_m.gif) no-repeat 0 50%;
	color:#FFF !important;
}
#uchome_ntc a {
	margin:0;
}
#umenu, #umenu a, #umenu .pipe {
	color:#97F2FF;
}

#rightinfo {
	float:left;
	color:#FFFFFF;
}
#footlink {
	float:right;
	text-align:right;
	color:#FFFFFF;
}

.content {
	padding:1px 25px;
}
.content h1 {
	margin-bottom:10px;
	font-size:16px;
	font-weight:400;
}
#menu {
	position:absolute;
	right:0;
	bottom:0;
	_bottom:-2px;
	height:26px;
}
#menu li {
	display:inline;
	float:left;
	margin-left:5px;
	background:#EBF4FD url("../../../images/default/mtabbg.gif") repeat-x 0 100%;
}
#menu a {
	float:left;
	padding:0 14px;
	height:25px;
	border:solid #B0E4EF;
	border-width:1px 1px 0;
	background:transparent none;
	line-height:25px;
	color:#666;
	text-decoration:none;
	overflow:hidden;
}
#menu a.dropmenu {
	padding-right:20px;
	background-image:url(../../../images/default/arrow_down.gif);
	background-repeat:no-repeat;
	background-position:95% 50%;
}
#menu a:hover {
	border-color:#00B2E8;
	background-color:#1E4B7E;
	color:#C3D3E4;
}
#menu li.current a {
	height:26px;
	border-color:#00B2E8;
	background-color:#1E4B7E;
	color:#C3D3E4;
}
#nav {
	background-color:#fff;
	overflow:hidden;
	text-align:left;
	color:#000;
	font-weight:bold;
	width:932px;
	margin:0 auto;
	height:35px;
	line-height:35px;
}
#nav, #nav a {
	color:#000;
	font-size:12px;
	font-weight:bold;
}
.mainbox table {
	width:100%;
}
.foruminfo {
	margin-top:5px;
	line-height:30px;
	color:#333333;
}
#ann dt {
	float:left;
	width:5em;
	background:url(../../../images/default/ann_icon.gif) no-repeat 0 50%;
	text-indent:2em;
	font-weight:700;
}
#ann dd {
	margin-left:30px;
}
#ann li {
	padding-left:10px;
	white-space:nowrap;
}
#ann em {
	margin-left:5px;
	color:#666;
	font-size:0.83em;
}
#annbody {
	height:30px;
	overflow:hidden;
	padding-right:16px;
}
.forumcount {
	margin-left:16px;
}
.blocktitle {
	margin-bottom:0.5em;
	font-size:16px;
	font-weight:700;
}
.channelinfo {
	clear:both;
	margin:5px 0;
	color:#666;
}
.channelinfo img {
	vertical-align:middle;
}
.channelinfo .onerror {
* background-position:2px 0;
}
.pages_btns {
	padding:0px 0 1em;
	line-height:30px;
	color:#333333;
}
.postbtn, .replybtn, #modopt, #modopttmp {
	float:left;
	margin-right:10px;
	color:#09C;
	cursor:pointer;
}
#modopt, #modopttmp, .threadlist tfoot a {
	background-color:#FFF;
	border:1px solid;
	border-color:#999 #CCC #CCC #999;
	padding:0 16px 0 6px;
	line-height:20px;
}
.threadlist tfoot a {
	margin-right:5px;
	padding:3px 16px 3px 3px;
}
#modopt:hover, #modopttmp:hover, .threadlist tfoot a:hover {
	text-decoration:none;
	color:#09C;
}
.postbtn, .replybtn {
	width:67px;
	height:30px;
	background:url(../../../images/default/newtopic.gif) no-repeat 0 0;
	font-size:14px;
	font-weight:700;
	line-height:28px;
*line-height:32px;
	text-align:center;
	overflow:hidden;
}
.replybtn {
	background-image:url(../../../images/default/reply.gif);
}
.postbtn a, .replybtn a {
	display:block;
	padding-left:5px;
	color:#FFF;
	letter-spacing:5px;
}
.postbtn a:hover, .replybtn a:hover {
	text-decoration:none;
}
.pages, .pageback {
	float:right;
	padding:2px 0;
}
.pages a, .pages strong, .pageback a {
	float:left;
	padding:0 6px;
	margin-right:2px;
	height:20px;
	border:1px solid;
	line-height:20px;
	overflow:hidden;
}
.pages a, .pageback a {
	border-color:#E6E7E1;
	background-color:#FFF;
	color:#09C;
}
.pages a:hover, .pageback a:hover {
	text-decoration:none;
}
.pages strong {
	border-color:#09C;
	background-color:#09C;
	color:#FFF;
	font-weight:700;
}
.pages a.prev, .pages a.next {
	background-repeat:no-repeat;
}
.pages a.prev {
	background-image:url(http://img.360che.com/style/bbs/images/arrow_left.gif);
	background-position:30% 50%;
	padding:0;
	width:22px;
	overflow:hidden;
	text-indent:-9999px;
}
.pages a.next {
	padding-right:16px;
	background-image:url(http://img.360che.com/style/bbs/images/arrow_right.gif);
	background-position:90% 50%;
}
.pageback a {
	padding-left:16px;
	background:#FFF url(http://img.360che.com/style/bbs/images/arrow_left.gif) no-repeat 0 50%;
}
.pages a:hover, .pageback a, .pages a.next {
	border-color:#09C;
}
.taglist {
	margin:20px 10px;
}
.taglist a {
	height:30px;
	line-height:30px;
	margin-right:20px;
	word-break:keep-all;
}
#infoside .taglist a {
	margin-right:10px;
	height:22px;
	line-height:22px;
}
a.tagl1, a.tagl2 {
	font-size:12px;
	color:#666 !important;
}
a.tagl2 {
	color:#999 !important;
}
a.tagl3 {
	font-size:14px;
	color:#090 !important;
}
a.tagl4 {
	font-size:16px;
	color:#09C !important;
}
a.tagl5 {
	font-size:18px;
	color:#F60 !important;
}
.formtable {
	width:100%;
}
.formtable th {
	padding:5px 2px;
	width:100px;
}
.formtable th a {
	font-weight:400;
	color:#09C;
	text-decoration:underline;
}
.formtable td {
	padding:5px 2px;
}
.formtable .sep_space th {
	height:40px;
}
.formtable .txt {
	width:270px;
}
.formtable .txtarea {
	float:left;
	margin:-1px 8px 0 0;
	width:270px;
	height:60px;
	border-top-color:#CCC;
}
.float_typeid {
	float:left;
	margin-right:6px;
}
.float_typeid select {
	float:left;
	height:20px;
}
.float_typeid a {
	display:block;
	overflow:hidden;
	text-indent:4px;
	padding-right:17px;
	width:77px;
	height:20px;
*padding-top:2px;
*height:18px;
	text-decoration:none !important;
	color:#444 !important;
	border:1px solid;
	border-color:#999 #CCC #CCC #999;
	background:#FFF url(../../../images/default/newarow.gif) no-repeat 100% 0;
}
.float_typeid a:hover {
	text-decoration:none;
	border:1px solid #09C;
	background-position:100% -20px;
}
.float_postinfo .float_typeid a {
	line-height:20px;
*line-height:18px;
}
.float_typeid ul {
	margin:-22px 0 0;
	border:1px solid #09C;
	background:#FFF url(../../../images/default/newarow.gif) no-repeat 100% -20px;
}
* html .float_typeid ul {
	margin-top:-23px;
}
.float_typeid ul li {
	margin:0 4px;
	color:#444;
	cursor:pointer;
}
.float_typeid ul li:hover {
	color:#09C;
}
.newselect .current {
	font-weight:700;
}
.float_typeid select {
	width:94px;
}
.short_select a {
	width:43px;
}
.short_select select {
	width:60px;
}
.commonlist li {
	margin:4px 0;
}
.inlinelist li {
	float:left;
	width:33%;
}
.inlinelist li.wide {
	width:49.5%;
}
.titlelist li {
	margin:3px 0;
	height:1.6em;
	background:url(../../../images/default/dot.gif) no-repeat 8px 9px;
	overflow:hidden;
}
.titlelist li a {
	padding-left:1.5em;
}
.titlelist li cite {
	padding:0 0 0 5px;
}
.titlelist li cite a {
	padding:0 0 0 5px;
	color:#666;
}
.datalist {
	zoom:1;
}
.datalist table {
	margin-bottom:30px;
	width:100%;
}
.datalist th, .datalist td {
	border:1px solid #C2D5E3;
	font-weight:400;
}
.datalist th img {
	vertical-align:top;
}
.datalist table .stat_subject {
	border-right:none;
}
.datalist table .stat_num {
	padding-right:15px;
	text-align:right;
	border-left:none;
}
.datalist .datatable {
	margin-bottom:10px;
	color:#333333;
}
.datalist .datatable, .datalist .datatable th, .datalist .datatable td {
	border-width:1px 0;
}
.filterform {
	margin-bottom:15px;
	padding:10px;
	border:1px solid #E3EDF5;
	background-color:#EBF2F8;
}
.filterform table, .filterform table th, .filterform table td {
	margin-bottom:0;
	border:none;
}
.colplural, .colplural th, .colplural td {
	background-color:#F5F5F5;
}
.avt_list li {
	float:left;
	margin-right:9px;
	width:64px;
	height:54px;
	text-align:center;
}
.side .avt_list li {
	margin:0;
	width:33.3%
}
.postmessage .avt_list li {
	height:70px;
}
.avt_uname li {
	height:80px;
}
.avt_list img {
	display:block;
	margin:0 auto;
}
.avt_list p {
	width:96%;
	white-space:nowrap;
	overflow:hidden;
}
.avt_list .cornerlayger p {
	white-space:normal;
	text-align:left;
}
.avt_list .minicorner {
	background:url(../../../images/default/attachinfobg.gif) no-repeat -30px 0;
}
.avt_title {
	margin:8px;
}
.rateopt {
	overflow:auto;
	margin-bottom:10px;
	height:100px;
}
.ratelist {
	margin-bottom:3px;
}
.ratelist .dropdownbtn {
	margin-right:5px;
}
.ratelist .txt {
	width:45px;
}
.ratelist label {
	float:left;
	white-space:nowrap;
	overflow:hidden;
	width:120px;
}
.list {
	border-top:3px solid #E6E7E1;
	color:#333333;
}
.content .list h3 {
	padding-left:6px;
	color:#666;
	line-height:35px;
}
.list td, .list th {
	height:50px;
	padding:6px 0;
	border-top:1px dashed #E6E7E1;
	color:#666;
}
.list th {
	background:url(../../../images/default/forum.gif) 5px 10px no-repeat;
	padding-left:45px !important;
}
.narrowlist th {
	vertical-align:top;
}
.list th.new {
	background-image:url(../../../images/default/forum_new.gif);
}
.list th h2 em {
	font-weight:400;
}
.list th h2 em strong {
	color:#F60
}
#forumheader {
	line-height:24px;
	color:#333333;
}
#forumheader h1 {
	float:left;
	margin-right:1em;
	font-weight:700;
	color:#333333;
}
#forumheader .forumstats {
	float:left;
	margin-right:1em;
}
#forumheader .forumstats strong {
	color:#F60;
}
.forumaction {
	float:left;
}
.forumaction a {
	padding-left:20px;
	padding-right:1em;
	background:url(../../../images/default/icon_fav.gif) no-repeat 0 50%;
}
.forumaction .feed {
	background-image:url(../../../images/default/icon_feed.gif);
}
.forumaction .digest {
	background-image:url(../../../images/default/digest_3.gif);
}
.forumaction .recyclebin {
	background-image:url(../../../images/default/recyclebin.gif);
}
#forumheader #modedby {
	clear:both;
}
#forumheader #modedby a {
	color:#09C;
}
.threadtype {
	padding:8px 6px;
	border-top:3px solid #E6E7E1;
	line-height:2em;
}
.threadtype a, .threadtype strong {
	margin-right:6px;
	padding-right:6px;
	border-right:1px solid #E6E7E1;
	white-space:nowrap;
}
.threadtype .popupmenu_popup a {
	margin-right:0;
	padding-right:0;
	border:none;
}
.threadtype strong {
	font-weight:700;
	color:#09C;
	white-space:nowrap;
}
.folder {
	width:25px;
	text-align:center;
}
td.icon {
	width:28px;
	text-align:center;
}
.icon .solved {
	filter:alpha(opacity=30);
	opacity:0.3;
}
.subject label {
	float:right;
}
.threadlist th a:hover, .subject a:hover {
	color:#09C;
}
.threadpages {
	white-space:nowrap;
}
.threadpages a {
	color:#020202;
}
.forum {
	width:100px;
}
.lastpost, .lastpost cite, .lastpost em {
	text-align:left;
}
.author cite{
	display:block;
	margin-bottom:-5px;
	width:114px;
	height:1.6em;
	overflow:hidden;
	margin-top:3px;
}
.lastpost cite {
	display:block;
	margin-bottom:-5px;
	height:1.6em;
	overflow:hidden;
	margin-top:3px;
	font-family:"宋体";
}
thead .lastpost cite {
	margin-bottom:0;
}
.author em{
	font-size:10px;
	font-family:Arial, sans-serif;
	color:#7C7C7C;
	width:114px; font-family:"宋体";
}
.lastpost em, .lastpost em a
{font-size:10px;
	font-family:"宋体";
	color:#7C7C7C;
}
.lastpost cite, .lastpost em {
	display:block;
	margin-right:5px; font-family:"宋体";
}
.nums {
	width:130px;
	color:#999;
	text-align:right;
}
thead .nums {
	color:#444;
}
.nums strong {
	padding-right:2px;
	color:#09C;
	font-weight:400; float:left; line-height:120%;
}
.nums em {
	padding-left:0px;
	color:#444;
	clear:both; float:left; line-height:120%;
}
.forumnums {
	width:90px;
	padding-right:10px !important;
	color:#999;
	text-align:center;
}
.forumnums em {
	color:#09C;
}
.forumlast {
	width:225px;
	text-align:left;
}
.num {
	width:120px;
	text-align:center;
	color:red;
}
.threadlist td {
	padding:0 !important;
}
.threadlist .colplural th, .threadlist .colplural td {
	padding:3px 0 !important;
	background:#EBF2F8;
}
.threadlist th em {
	margin-right:4px;
}
.threadlist th em, .threadlist th em a {
	color:#09C;
}
.threadlist th .new {
	color:#09C;
	font-size:9px;
	text-transform:uppercase;
	white-space:nowrap;
}
.threadlist th .attach {
	vertical-align:middle;
}
* html .threadlist th .attach {
	vertical-align:baseline;
}
.threadlist th a {
	text-decoration:none;
}
.rule {
	margin:0 8px;
}
#modarea, #subforum {
	margin:1em 0;
}
#modarea .list h3 {
	margin-bottom:6px;
	border-bottom:1px dashed #E6E7E1;
	font-weight:400;
}
#modarea .list h3 .current {
	font-weight:700;
	color:#09C;
}
.dropmenu {
	padding-right:15px;
	background:url(../../../images/default/arrow_down.gif) 100% 50% no-repeat;
	cursor:pointer;
}
.popupmenu_popup {
	overflow:hidden;
	padding:10px;
	text-align:left;
	line-height:1.4em;
	border:1px solid #7FCAE2;
	background:#FEFEFE;
}
.headermenu_popup {
	width:100px;
}
.headermenu_popup li {
	width:100px;
	line-height:24px;
	border-bottom:1px solid #E6E7E1;
}
.headermenu_popup .active {
	font-weight:700;
}
.filter_popup {
	width:5em;
}
.filter_popup li {
	width:60px;
}
.postmenu {
	width:100px;
}
#visitedforums_menu {
	width:140px;
}
.postmenu li, #visitedforums_menu li {
	float:left;
	background:url(../../../images/default/folder_s.gif) no-repeat 3px 50%;
}
.postmenu li.poll {
	background-image:url(../../../images/default/pollsmall.gif);
}
.postmenu li.trade {
	background-image:url(../../../images/default/tradesmall.gif);
}
.postmenu li.reward {
	background-image:url(../../../images/default/rewardsmall.gif);
}
.postmenu li.activity {
	background-image:url(../../../images/default/activitysmall.gif);
}
.postmenu li.debate {
	background-image:url(../../../images/default/debatesmall.gif);
}
.postmenu li.video {
	background-image:url(../../../images/default/videosmall.gif);
}
.postmenu a, #visitedforums_menu a {
	display:block;
	width:75px;
	border-bottom:1px solid #E6E7E1;
	padding:5px 0 5px 25px;
}
.postmenu a:hover, #visitedforums_menu a:hover {
	text-decoration:none;
	color:#09C;
	border-bottom-color:#E3EDF5;
}
#visitedforums_menu li {
	background:none;
}
#visitedforums_menu li a {
	padding:5px 0;
	width:140px;
}
#fjump_menu {
	padding:10px 30px 10px 20px;
}
#fjump_menu dl {
	padding:5px 0;
}
#fjump_menu dt a {
	font-weight:700;
	color:#666;
}
#fjump_menu dd {
	padding-left:1em;
}
#fjump_menu li.sub {
	padding-left:1em;
}
#fjump_menu li.current a {
	font-weight:700;
}
#fjump_menu li a {
	font-weight:400;
	color:#09C;
}
.showselect_menu {
	margin-bottom:0.8em;
	padding:5px;
	text-align:left;
	border:1px solid #7FCAE2;
	background:#FEFEFE;
}

.tagthread {
	width:360px;
}
.tagthread .close {
	float:right;
}
.tagthread h4 {
	line-height:26px;
	border-bottom:1px solid #E6E7E1;
}
.tagthread ul {
	padding:5px;
}
.tagthread li {
	line-height:1.8em;
}
.tagthread li.more {
	padding-right:10px;
	text-align:right;
	background:url(../../../images/default/arrow_right.gif) no-repeat 100% 50%;
}
.headactions .popupmenu_popup a, .headactions .popupmenu_popup strong {
	color:#666;
	background:none;
	white-space:nowrap;
}
.headactions .popupmenu_popup {
	overflow:visible;
}
.moderators {
	width:115px;
}
#threadtypesmenu_menu ul li {
	height:1.4em;
	_line-height:1.4em;
	width:100px;
}
.hasdropdownbtn {
}
.hasdropdownbtn input {
	float:left;
	width:129px;
}
.hasdropdownbtn .spmediuminput {
	width:115px;
}
.dropdownbtn {
	float:left;
	overflow:hidden;
	text-indent:-9999px;
	width:20px;
	height:20px;
	border-width:1px 1px 1px 0;
	border-style:solid;
	border-color:#999 #CCC #CCC #999;
	background:#FFF url(../../../images/default/newarow.gif) no-repeat 0 0;
}
.dropdownbtn:hover {
	background-position:0 -20px;
}
#style_switch {
	position:absolute;
	right:0px;
	bottom:-25px;
}
#style_switch li {
	float:left;
	padding-left:5px;
}
#style_switch a {
	float:left;
	width:8px;
	height:8px;
	border:1px solid #DDD;
	background:#FFF;
	line-height:100px;
	overflow:hidden;
}
#style_switch a:hover, #style_switch .current a {
	border-color:#FFF;
}
#style_switch .current a {
	margin-top:-1px;
	border-width:2px;
}
#ad_headerbanner {
	float:right;
	margin:5px 0 10px;
}
.ad_text {
	margin:0 auto 5px;
	padding:10px 0;
	width:960px;
	background:#FFF;
}
.ad_text table {
	width:100%;
}
.ad_text td {
	padding:3px 20px;
	text-align:left;
}
.ad_textlink1, .ad_textlink2 {
	margin:10px 0;
	padding-left:20px;
	background:url(../../../images/default/icon_ad.gif) no-repeat 0 50%;
	overflow:hidden;
}
.ad_pip {
	clear:right;
	float:right;
	padding:10px;
	background:#FFF;
	color:#999;
	line-height:130%;
}
.ad_pip li {
	margin-bottom:1em;
}
.ad_pip a {
	color:#09C;
}
.ad_topicrelated {
	clear:both;
	float:right;
	display:inline;
	margin:0 10px 10px;
	padding:10px 10px 10px 30px;
	border:1px solid #78A73D;
	background:#CAEEC0;
}
.ad_column {
	text-align:center;
}
.ad_footerbanner {
	text-align:center;
	clear:both;
	margin:5px;
}
.headactions {
	float:right;
	line-height:1em;
	padding:12px 0 0 0;
}
.headactions img {
	vertical-align:middle;
	cursor:pointer;
	padding:0 5px;
}
.headactions a {
	margin-left:4px;
}
.mainbox .headactions {
	color:#999;
}
.mainbox .headactions strong {
	font-weight:700;
}
.msgfix {
	overflow:hidden;
}
.showmessage {
	position:relative;
	margin:5px;
	padding:80px 260px;
	height:290px;
	background:#EBF2F8;
}
.showmessage h1 {
	height:30px;
 	line-height:40px; font-size:22px; font-weight:bold; overflow:hidden; text-align:center;
}
.showmessage p {
	line-height:24px;
	font-size:14px; text-align:center;
}
.showmessage a {
	color:#09C;
	text-decoration:underline;
	font-weight:700; text-align:center;
}
#sidebar_img {
	float:right;
	display:inline;
	margin:0 6px;
	padding:6px 25px 6px 6px;
	background:url(../../../images/default/sidebar_toggle.gif) no-repeat 100% 5px;
	color:#09C;
	position:relative;
	z-index:998;
}
.collapsed_no:hover {
	background-position:100% -35px !important;
	text-decoration:none;
}
.collapsed_yes {
	background-position:100% -75px !important;
}
.collapsed_yes:hover {
	background-position:100% -115px !important;
	text-decoration:none;
}
.side {
	width:170px;
}
.sideinner .txt {
	margin:6px 0;
}
.with_side {
	background:#FFF url("../../../images/default/sidebg.gif") repeat-y 100% 0;
}
.with_side .main {
	float:left;
	overflow:hidden;
	margin-left:-180px;
	width:100%;
}
.with_side .content {
	margin-left:180px;
	width:auto;
}
.with_side .side {
	float:right;
	padding-bottom:20px;
	width:180px;
}
.with_side .side h2 {
	margin:20px 25px 10px;
	color:#999;
	font-size:14px;
}
.with_side .side a {
	color:#09C;
	text-decoration:underline;
}
.sideinner {
	padding:0 25px;
}
.sideinner .tabs {
	margin:5px 0;
}
.sideinner .tabs li {
	line-height:2em;
}
.numbg {
	float:right;
	text-align:center;
	width:35px;
	height:2em;
	background:url(../../../images/default/numbg.gif) no-repeat 0 50%;
	color:#FFF;
	font-weight:700;
}
.special {
	background:none;
}
.special .main {
	float:right;
}
.special .side {
	float:left;
}
.sidebox {
	margin:5px 10px 10px;
}
.sidebox h4 {
	margin-bottom:4px;
	color:#09C;
}
.textinfolist li {
	margin-bottom:2px;
}
.side .textinfolist li a {
	text-decoration:none;
	color:#444;
}
.side .textinfolist li a:hover {
	text-decoration:underline;
}
.forumlinks, .forumimglink, .forumtxtlink {
	padding:6px;
	border-top:1px solid #E6E7E1;
}
.forumlinks ul li {
	float:left;
	width:49%;
	height:50px;
	line-height:1.4em;
}
.forumimglink a {
	margin-right:8px;
}
.forumimglink img {
	margin:2px 0;
}
.forumlogo {
	float:left;
	padding-top:2px;
	width:100px;
}
.forumcontent {
	padding-right:18px;
	height:50px;
}
.forumcontent p {
	overflow:hidden;
	height:17px;
	color:#666;
}
.forumtxtlink li {
	float:left;
	margin-right:15px;
	white-space:nowrap;
	display:inline-block;
	-x-system-font:none;
	font:normal;
	line-height:18px;
}
#headsearch em {
	font-size:20px;
	margin-right:10px;
	color:#09C;
}
#qihoosearch input, #gform input#q {
	margin:6px 0;
}
#online h3 {
	font-weight:400;
}
#online h3 a, #online h3 em, #online h3 strong {
	font-weight:700;
}
#onlinelist {
}
#onlinelist dt, #onlinelist dd {
	padding:1em;
	border-top:1px solid #E6E7E1;
}
#onlinelist dd ul li {
	float:left;
	margin:4px 0;
	width:20%;
	height:14px;
	line-height:14px;
}
#onlinelist dt img, #onlinelist dd img {
	vertical-align:middle;
}
.c_header {
	overflow:hidden;
	margin-bottom:10px;
}
* html .c_header {
	zoom:1;
}
.c_header h2, .c_header h3 {
	float:left;
	padding-right:15px;
	background:#FFF;
	font-size:14px;
	cursor:pointer;
}
.c_header h3 {
	background:#FFF url(../../../images/default/arrow_down_big.gif) no-repeat 100% 5px;
	color:#09C;
}
.searchfaq h3 {
	background:none;
	cursor:auto;
}
.c_header .noarrow {
	background:none;
	cursor:auto;
}
.c_header h3 a {
	color:#09C;
}
.c_header h3 span {
	font-size:12px;
	font-weight:400;
	color:#666;
}
.c_header h2 em, .c_header h3 em {
	margin-left:8px;
	font-size:12px;
	color:#999;
	font-weight:400;
}
.c_header_action {
	float:right;
}
.c_header .c_header_ctrlbtn {
	display:none;
}
.c_header .c_header_ext {
	display:block;
}
.closenode {
	background:url(../../../images/default/dashline.gif) repeat-x 0 10px;
}
.closenode h3 {
	background-image:url(../../../images/default/arrow_right_big.gif);
}
.closenode .c_header_ctrlbtn {
	display:block;
	background-color:#FFF;
	color:#666;
	cursor:pointer;
}
.closenode .c_header_ext {
	display:none;
}
.itemtitle {
	clear:both;
	overflow:hidden;
	margin-bottom:10px;
	line-height:23px;
	color:#333333;
}
.itemtitle h1 {
	float:left;
	margin:0 20px 0 0;
}
.itemtitle ul {
	float:left;
}
.itemtitle li {
	float:left;
	margin-right:5px;
}
.itemtitle li.pipe {
	margin-left:0;
}
.itemtitle ul a {
	display:block;
	overflow:hidden;
	height:23px;
	cursor:pointer;
}
* html .itemtitle ul a {
	float:left;
}
.itemtitle ul a span {
	display:block;
	padding:0 7px;
*padding:1px 7px 0;
*line-height:22px;
}
.itemtitle ul a:hover {
	background:#F5F5F5 url(../../../images/default/btn_block.gif) no-repeat 0 -46px;
	text-decoration:none;
}
.itemtitle ul a:hover span {
	background:url(../../../images/default/btn_block.gif) no-repeat 100% -69px;
}
.itemtitle ul a.dropmenu {
	padding-right:0;
	background-position:0 -161px;
}
.itemtitle ul a.dropmenu span {
	padding-right:12px;
	background:url(../../../images/default/btn_block.gif) no-repeat 100% -138px;
}
.itemtitle ul a.dropmenu:hover {
	background-position:0 -46px;
}
.itemtitle ul a.dropmenu:hover span {
	background-position:100% -115px;
}
.itemtitle ul .current a, .itemtitle ul .current a:hover, .itemtitle ul .current a.dropmenu:hover {
	background:#09C url(../../../images/default/btn_block.gif) no-repeat 0 0;
}
.itemtitle ul .current a span, .itemtitle ul .current a:hover span {
	background:url(../../../images/default/btn_block.gif) no-repeat 100% -23px;
	color:#FFF;
}
.itemtitle ul .current a.dropmenu span, .itemtitle ul .current a.dropmenu:hover span {
	background-position:100% -92px;
}
.titlemenu_popup {
	padding:0;
}
.titlemenu_popup a {
	display:block;
	padding:3px 8px;
}
* html .titlemenu_popup a {
	display:inline-block;
}
.titlemenu_popup .current a {
	background:#F1F5FA;
}
.seccode {
	margin-top:5px;
}
.seccodecontent {
	position:absolute;
	z-index:11;
	top:80px;
	left:50px;
	width:224px;
	height:52px;
	border:1px solid #7FCAE2;
	background:#FEFEFE;
}
* html .seccodecontent {
	top:81px;
	height:56px;
}
*+html .seccodecontent {
	top:81px;
	height:54px;
}
.popupcredit {
}
.pc_l, .pc_c, .pc_inner, .pc_r {
	width:29px;
	height:56px;
	line-height:56px;
	background:url(../../../images/default/popupcredit_bg.gif) no-repeat 0 0;
}
.pc_c {
	width:200px;
	background-position:0 -56px;
	background-repeat:repeat-x;
}
.pc_inner {
	white-space:nowrap;
	text-align:center;
	width:auto;
	background-position:50% -112px;
}
.pc_inner span {
	margin-right:15px;
	color:#FFEA97;
	font-size:14px;
	font-weight:700;
}
* html .pc_inner span {
	display:inline-block;
}
.pc_inner span em {
	color:#FFF;
	font-size:18px;
	font-weight:400;
}
.pc_inner span em.desc {
	color:#930;
}
.pc_btn img {
	opacity:0.5;
}
.pc_btn:hover img {
	opacity:1;
}
.pc_r {
	background-position:-30px 0;
}
.optionbar {
	float:left;
	overflow:hidden;
	margin:3px 4px 0 -6px;
	background:#09C url(../../../images/default/header.gif) repeat-x;
	height:14px;
}
.taskbar {
	position:relative;
	margin:5px 0;
	width:200px;
	height:14px;
	border:1px solid #5AAF4A;
	background:#FFF;
}
.taskbar_text {
	position:absolute;
	top:-3px;
	right:5px;
	z-index:7;
	font-size:10px;
}
.taskbar .optionbar {
	float:none;
	position:absolute;
	margin:0;
	background:#5AAF4A;
}
.nojs {
	position:absolute;
	left:50%;
}
.nojs .float {
	overflow:hidden;
	margin-left:-300px;
}
.nojs .moreconf {
	left:-94.5%;
	width:194.5%;
}
#floatwinnojs {
	position:absolute;
}
* html .nojs {
	left:25%;
}
* html .nojs .float {
	margin-left:0;
}
* html .nojs .moreconf {
	left:0;
}
.side_poll li {
	line-height:1.8em;
}
.side_trade li {
	padding-bottom:5px;
}
.side_trade li strong {
	float:left;
	width:80px;
	height:auto;
	text-align:center;
}
.side_type {
	height:23px;
	border-bottom:1px solid #B0E4EF;
	margin:0 4px;
}
.side_type h4 {
	float:left;
	cursor:pointer;
	margin:0 0 -1px 4px;
	height:22px;
	line-height:22px;
	padding:0 4px;
	border:1px solid #B0E4EF;
	font-weight:300;
	color:#999;
}
.side_type h4.ontype {
	margin-bottom:1px;
	height:23px;
	border-bottom:1px #EBF2F8;
	background:#EBF2F8;
	font-weight:700;
	color:#09C
}
.combine h4 {
	display:none;
}
h3.requesttabs {
	height:22px;
	line-height:22px;
	padding:4px 6px;
	color:#09C;
	font-weight:700;
}
.requesttabs span {
	float:right;
	font-weight:300;
	color:#999;
}
.with_side .side h3.requesttabs a {
	margin:0 4px;
	font-weight:300;
	color:#999;
	text-decoration:none;
}
.with_side .side h3.requesttabs a:hover {
	text-decoration:underline;
}
.with_side .side h3.requesttabs a.ontype {
	font-weight:700;
	color:#444
}
.deloption {
	float:left;
	margin:4px;
	width:12px;
	height:12px;
	background:url(../../../images/default/close.gif) no-repeat 0 0;
	overflow:hidden;
	text-indent:-9999px;
}
.deloption:hover {
	background-position:0 -12px;
}
.color_menu {
	overflow:hidden;
	position:absolute;
	z-index:9999;
	left:96px;
	top:109px;
	width:63px;
}
.color_menu a {
	display:block;
	overflow:hidden;
	margin:0 !important;
	width:20px !important;
	height:20px !important;
}
.chosemagic {
	margin-bottom:9px;
	width:220px;
}
.topicadminhigh {
	height:200px;
}
.topicadminhigh .tah_body {
	margin:5px 0 15px;
}
.topicadminhigh .tah_body select {
	width:217px;
}
.topicadminlow {
	height:50px;
}
.topicadminlow table {
	width:100%;
}
.topicadminlow td {
	padding:0 5px;
}
.topicadminlow .txt {
	width:100px;
}
.topicadminlow .wide .txt {
	width:50px;
}
.topicadminlog {
}
.topicadminlog h4 {
	font-weight:400;
}
.topicadminlog .dropdownbtn {
	border-left-width:1px;
}
.topicadminlog .txtarea {
	margin:5px 0;
	width:212px;
	height:40px;
}
.smilieslist {
	text-align:center;
	padding:10px;
	border:1px solid #7FCAE2;
	background:#FEFEFE;
}
.smilieslist td {
	padding:8px;
	border:none;
	cursor:pointer;
}
.smilieslist_page {
	text-align:right;
}
.pags_act {
	float:left;
}
.pags_act a {
	display:inline !important;
}
.smilieslist_page a {
	display:inline;
	margin:0 4px;
	color:#09C;
	text-decoration:underline;
}
.smilieslist_table {
	position:absolute;
	left:-100px;
	top:0;
*top:-1px;
	width:100px !important;
	height:100px;
	border:1px solid #E6E7E1;
	background:#FFF;
}
.smilieslist_preview {
	text-align:center;
	vertical-align:middle;
}
.smiliesgroup {
	height:33px;
*height:34px;
	overflow:hidden;
width:expression(this.parentNode.offsetWidth);
}
.smiliesgroup ul, .imguptype {
	margin:6px 0;
	padding:0 0 26px 8px;
	border-bottom:1px solid #D3E8F2;
}
.smiliesgroup li, .imguptype li {
	display:inline;
}
.smiliesgroup li a, .imguptype li a {
	float:left;
	margin:2px 6px 0 0;
	padding:2px 10px;
	height:24px;
	he\ight:19px;
	border:1px solid #D3E8F2;
	color:#09C;
}
.smiliesgroup li a:focus, .imguptype li a:focus {
	outline:none;
}
.smiliesgroup li a.current, .imguptype li a.current {
	border-bottom-color:#FEFEFE;
	font-weight:700;
	color:#444;
}
.manibox_list {
	width:894px;
	border:3px solid #E6E7E1;
	overflow:hidden;
	padding:5px;
	margin-bottom:8px;
}
.leftimgtu {
	float:left;
	width:232px;
}
.leftimgtu img {
	width:220px;
	height:90px;
	border:1px solid #000;
}
.centertitle {
	float:left;
}
.centertitle ul {
	width:430px;
	padding-top:3px;
}
.centertitle ul li {
	float:left;
	width:50%;
	font-family:SimSun;
	line-height:22px;
	color:#0000ff;
}
.centertitle ul li a {
	color:#0000ff;
	text-decoration:underline;
}
.rightimgtu {
	float:right;
}
.rightimgtu img {
	width:220px;
	height:90px;
	border:1px solid #000;
}
.bssbanner_t {
	width:932px;
	margin:0px auto 8px;
}
.floatboxswf {
	margin-left:5px;
}
.floatboxswf div {
	margin-left:10px;
	width:570px;
	height:318px;
	border:1px solid #CCC;
}
.float_postinfo {
	height:22px;
	line-height:22px;
}
.float_postinfo em {
	float:left;
	margin-right:5px;
	padding-left:3px;
	height:20px;
	border:1px solid;
	border-color:#999 #CCC #CCC #999;
	background-color:#FFF;
	cursor:pointer;
}
.float_postinfo em img {
	margin-top:2px;
}
.float_postinfo input {
	float:left;
	margin-right:5px;
}
.float_postinfo #subject {
	width:255px;
}
.specialpost {
	overflow:hidden;
	margin:15px 0 5px;
}
.specialinfo {
	float:left;
	overflow-x:hidden;
	overflow-y:auto;
	padding-right:14px;
	width:370px;
	height:285px;
	border-right:1px dashed #CCC;
}
.specialpost p {
	padding:2px 0;
	height:30px;
	line-height:30px;
}
.specialinfo textarea {
	width:360px;
	height:80px;
}
.optionnum, .optioninfo {
	float:left;
	width:16px;
	margin-right:6px;
}
.optioninfo {
	width:300px;
}
.specialinfo dl, .specialaddons dl {
	margin:5px 0;
}
.specialinfo dl dt, .specialaddons dl dt {
	float:left;
	width:62px;
	font-weight:700;
	clear:left;
}
.specialaddons dl dt {
	font-weight:400;
}
.specialinfo dl dd, .specialaddons dl dd {
	margin:5px 0 15px 65px;
	display:inherit;
}
.specialinfo dl dd strong {
	padding:0 8px;
}
.specialaddons {
	float:left;
	margin-left:10px;
	width:170px;
	overflow:hidden;
}
.spaoptlist p {
	height:20px;
	line-height:20px;
}
.spaoptlist input[type=radio] {
	margin:0 3px 0 0;
}
.spslonginput {
	width:280px;
}
.splonginput {
	width:150px;
}
.spmediuminput {
	width:90px;
}
.specialaddons select.spmediuminput {
	width:96px;
}
.spshortinput {
	width:30px;
}
.sppoll {
	height:247px;
	overflow:auto;
}
.sppoll p {
	clear:both;
*padding:1px 0 2px;
	height:auto;
	line-height:auto !important;
}
.goodsimg {
	margin:0 10px 0 0;
	width:120px;
	height:120px;
	border:1px solid #AAA;
}
.classifieds {
	margin:10px 0;
	height:275px;
	overflow-x:hidden;
	overflow-y:auto;
}
.classifieds .formtable th {
	vertical-align:top;
	width:70px;
}
.classifieds .txt {
	width:600px;
}
.classifieds .txtarea {
	width:600px;
	height:58px;
}
.classifieds .inlinelist {
	float:left;
	width:610px;
}
.classifieds .inlinelist li {
	float:left;
	margin-bottom:5px;
	width:33%;
}
.classifieds_narrow {
	margin:0;
	height:auto;
}
.classifieds_narrow .formtable th {
	width:60px;
}
.classifieds_narrow .txt, .classifieds_narrow .txtarea {
	width:150px;
}
.classifieds_narrow .inlinelist {
	width:160px;
}
.classifieds_narrow .inlinelist li {
	float:left;
	width:50%;
}
.post_tablelist {
}
.post_tablelist table {
*table-layout:fixed;
}
.post_tablelist table td {
	height:28px;
	line-height:28px;
	border-bottom:1px solid #CCC;
}
.attachnum {
	width:16px;
}
.attachctrl {
	width:40px;
}
.attachname {
}
.attachname input {
	margin-top:2px;
}
* html .attachname p {
	margin-top:6px;
}
* html .attachname p input {
	margin-top:-4px;
}
.attachname .txt, .attachname_swf .txt {
	width:300px;
}
.attachname p img, .attachname_swf p img {
	vertical-align:middle;
	height:16px;
}
.attachview, .attachpr {
	width:60px;
	text-align:center;
}
.attachview .txt, .attachpr .txt {
	width:40px;
}
.attachdel {
	width:40px;
}
.upfilelist {
	height:140px;
	overflow:auto;
	overflow-x:hidden;
}
.sim_upfile {
	overflow:hidden;
	margin-left:10px;
*margin-left:15px;
}
.sim_upfile input {
	position:absolute;
	margin-left:-19px;
*margin:3px 0 0 -24px;
	width:70px;
	height:20px;
	filter:alpha(opacity=0);
	opacity:0;
	cursor:pointer;
}
.sim_upfile .sitenote {
	z-index:15;
	bottom:29px !important;
	bottom:21px;
	left:1px;
}
.sim_upfile .sitenote .minicorner {
	background-position:70px 0;
}
.extcreditbox {
	height:350px;
	width:100%;
	overflow:auto;
}
.extname {
	width:100px;
}
.extcredits {
	width:80px;
}
.columntype {
	margin-top:15px;
}
.posttags strong, .columntype strong {
	font-weight:700;
}
.posttags p, .columntype p {
	margin-bottom:5px;
}
.posttags .txt {
	margin-right:8px;
	width:280px;
}
.columntype .txt {
	vertical-align:baseline;
	width:40px;
}
.columntype table {
	margin:5px 0 0 -12px;
	width:85%;
}
.columntype td {
	padding:0 10px;
	vertical-align:top;
	border-left:1px dashed #CCC;
}
.firstlist {
	border:none !important;
}
.editor_cell {
	vertical-align:top;
}
#editor {
	border:solid;
	border-color:#E3EDF5;
	border-width:1px 1px 0;
	background:#F7F7F7;
}
#editor td {
	border:none;
	padding:2px;
}
.editortoolbar table {
	width:auto;
}
.editortoolbar a, .editortoolbar .a {
	display:block;
	cursor:pointer;
}
.editortoolbar a.hover, .editortoolbar a:hover, .editortoolbar .a1 {
background-color:;
	text-decoration:none;
}
.editor_switcher_bar {
	position:relative;
}
.editor_switcher_bar a {
	float:right;
	padding:0 3px;
	margin-right:5px;
}
.editor_switcher_bar button {
	border:1px solid;
	border-color:#E3EDF5 #E3EDF5 #FFF #E3EDF5;
	font-weight:bold;
	height:30px;
	he\ight:28px;
	line-height:28px;
	background:#FFF;
	margin:0 2px;
	position:relative;
	cursor:pointer;
}
*+html .editor_switcher_bar button {
	top:1px;
}
* html .editor_switcher_bar button {
	top:1px;
}
.editor_switcher_bar .editor_switcher {
	border-bottom-color:#E3EDF5;
	font-weight:normal;
}
.editor_text {
	border:1px solid;
	border-color:#E3EDF5 #E3EDF5 #E3EDF5 #E3EDF5;
}
.editor_text textarea {
	border:none;
	width:99%;
	font:14px/1.6em Verdana, Helvetica, Arial, sans-serif;
}
.editor_button {
	background:#F7F7F7;
	border:solid #E3EDF5;
	border-width:0 1px 0;
margin-bottom:;
}
.editor_button button {
	background:transparent;
	border-width:0 0 0 1px;
	color:#09C;
}
.editor_attach {
	border:1px solid #E3EDF5;
}
#wysiwyg {
	background:#FFF !important;
	font:14px/1.6em Verdana, Helvetica, Arial, sans-serif !important;
}
#wysiwyg * {
	line-height:normal;
}
#wysiwyg a {
	text-decoration:underline;
	color:#09C !important;
	color:#09C;
}
#wysiwyg li {
	margin-left:2em;
}
#wysiwyg ul li {
	list-style-type:disc;
}
#wysiwyg ul.litype_1 li {
	list-style-type:decimal;
}
#wysiwyg ul.litype_2 li {
	list-style-type:lower-alpha;
}
#wysiwyg ul.litype_3 li {
	list-style-type:upper-alpha;
}
#wysiwyg strong, #wysiwyg b {
	font-weight:bold;
}
#wysiwyg em, #wysiwyg i {
	font-style:italic;
}
#wysiwyg p {
	margin:0 !important;
}
#wysiwyg table td {
	padding:4px;
	border:1px solid;
}
.fontname_menu {
	width:97px;
}
.fontsize_menu {
	width:27px;
	line-height:normal;
}
.fontsize_menu ul li {
	line-height:normal;
}
#e_popup_table_menu {
	width:220px;
}
.fontname_menu li, .fontsize_menu li {
	cursor:pointer;
}
.editor_colornormal, .editor_colorhover {
	border:none !important;
	padding:2px !important;
}
.editor_colornormal div {
	width:10px;
	height:10px;
	overflow:hidden;
	cursor:pointer;
	border:1px solid #FFF;
}
.editor_colorhover div {
	width:10px;
	height:10px;
	overflow:hidden;
	cursor:pointer;
	border:1px solid #444;
}
.swfwin {
	border:3px solid #7FCAE2;
}
#e_iframe {
	width:100%;
	border:none;
	margin:0;
	padding:0;
}
#e_textarea {
	width:100%;
	padding:0;
}
.editorrow {
	margin-top:5px;
	padding:3px;
	height:21px;
	overflow:hidden;
	line-height:18px;
	border:1px solid;
	border-color:#999 #CCC #CCC #999;
	clear:both;
	background:#F7F7F7;
}
.editor {
	text-align:left;
}
.editorbtn {
	margin-right:50px;
}
.editor em {
	margin:0 5px;
	float:left;
	display:block;
	height:20px;
	width:3px;
	background:url(../../../images/common/editor.gif) no-repeat 0 -701px;
	border:1px solid #F7F7F7;
}
.editor a {
	margin:1px 0;
	float:left;
	text-align:left;
	text-decoration:none;
	display:block;
	height:21px;
	width:20px;
	background:url(../../../images/common/editor.gif) no-repeat 0 30px;
	text-indent:-9999px;
	overflow:hidden;
	border:1px solid #F7F7F7;
}
a.oneditor, .editor a:hover {
	background:#FEFEFE url(../../../images/common/editor.gif) no-repeat 0 21px;
	border:1px solid #7FCAE2;
}
#e_cmd_bold {
	background-position:0 0;
}
#e_popup_simple {
	background:url(../../../images/default/newarow.gif) -7px -2px;
	width:8px;
}
#e_popup_fontname {
	background-position:0 -21px;
}
#e_popup_fontsize {
	background-position:0 -41px;
}
#e_popup_forecolor {
	background-position:0 -81px;
}
#e_popup_justify {
	background-position:0 -61px;
}
#e_cmd_createlink {
	background-position:0 -121px;
}
#e_cmd_email {
	background-position:0 -141px;
}
#e_cmd_insertimage {
	background-position:0 -161px;
}
#e_popup_media {
	background-position:0 -541px;
}
#e_cmd_quote {
	background-position:0 -441px;
}
#e_cmd_code {
	background-position:0 -461px;
}
#e_popup_list {
	background-position:0 -261px;
}
#e_popup_dent {
	background-position:0 -301px;
}
#e_popup_float {
	background-position:0 -341px;
}
#e_cmd_table {
	background-position:0 -381px;
}
#e_cmd_free {
	background-position:0 -401px;
}
#e_cmd_hide {
	background-position:0 -421px;
}
#e_popup_smilies {
	background-position:0 -101px;
}
#e_popup_tools {
	background-position:0 -181px;
}
a.editormode {
	float:right;
	right:20px;
	width:50px;
	background:#F7F7F7;
	text-align:right;
	text-decoration:none !important;
}
*html a.editormode {
	right:50px;
}
a.plugeditor {
	text-indent:0;
	background-position:0 40px;
}
a.editormode:hover {
	background:#FEFEFE;
	border-color:#7FCAE2;
}
a.upmedia {
	width:68px;
}
#e_cmd_bold {
	font-weight:700;
	text-decoration:none;
}
#e_cmd_italic {
	font-style:italic;
	text-decoration:none;
}
#e_cmd_underline {
	text-decoration:underline;
}
.newediter {
	border-style:solid;
	border-color:#999 #CCC #CCC #999;
	border-width:0px 1px 1px;
	padding:0px 0px 0px 4px;
	background:#FFF;
}
.newediter .autosave {
	padding:0 2px;
	width:562px;
	height:87px;
	border-width:1px;
	border:none;
	background:#FFF;
}
.newediter .max {
	height:257px;
}
a.customedit {
	text-indent:0 !important;
}
.popupfix {
	min-width:330px;
	white-space:nowrap;
}
*+html .popupfix {
	min-width:280px;
}
#e_cmd_table_menu {
	width:220px !important;
	min-width:220px !important;
}
#e_cmd_insertimage_menu {
*width:380px;
}
#e_cmd_insertimage_menu li {
	clear:none;
}
#uch_photoes {
	margin:5px;
}
#uch_photoes table {
	border-collapse:separate;
}
#uch_photoes table td {
	padding:2px;
	width:82px;
	height:82px;
	border:1px solid #D3E8F2;
	vertical-align:middle;
	text-align:center;
}
#uch_photoes table td img {
	padding:3px;
	max-width:80px;
	max-height:80px;
}
* html #uch_photoes table td img {
width:expression(this.width > 80 && this.height < this.width ? 80:true);
height:expression(this.height > 80 ? 80:true);
}
.wrapnewnew {
	position:relative;
	padding:0px 0 0px;
}

/*120312*/
.datatable .tzlxg1{ text-align:left; color:#F57835; font-size:12px; font-weight:bold; line-height:30px; height:30px; text-indent:27px; background:#E7F2F9}
.datatable .tzlxg2{ text-align:left; font-size:12px; line-height:30px; height:30px; text-indent:27px; background:#E7F2F9}
.datatable .tzlxg2 .tzlxg2-1{color:#F57835; font-size:12px; font-weight:bold; padding-right:16px;}
.datatable .tzlxg2 .tzlxg2-2{color:#004EA2; font-size:12px;}
.folder2 .official { color:#ED6C00; font-size:12px; padding-left:5px; display:inline-block}

.folder2 .essence{ color:#FF0000; font-size:12px; padding-left:9px}
.folder2 .picture{ color:#0F0CBF; font-size:12px; padding-left:9px}
.datatable .subject2{ height:28px; line-height:28px; background:#fff; color:#004EA2; text-align:left;}
.datatable .folder2{ height:28px; line-height:28px; width:28px; background:#fff; text-align:center; font-family:"宋体";}
.datatable .subject3{ height:28px; line-height:28px;background:#fff; color:#004EA2; text-align:left}
.datatable .subject4{ height:28px; line-height:28px; background:#fff; color:#004EA2; text-align:left;}
.datatable .subject5{ height:28px; line-height:28px; background:#fff; color:#004EA2; text-align:left;}
.datatable .subject {
	width:526px;background:#fff; color:#004EA2; text-align:left; padding:7px 0px;
	color:#333333;
}
.subject span{ font-size:14px;}
.subject span a{ color:#020202;}
.subject span a:hover{ color:#ff0000;}
.subject .threadpages{ font-size:12px; font-family:Arial, Helvetica, sans-serif}
.author{ text-align:left; width:134px;}
.author cite a{ color:#020202;font-family: "宋体";}
.lastpost{ width:114px; margin-right:9px;}
.lastpost cite a{ color:#020202; font-family: "宋体";}
.nums{ width:100px;}
.nums strong{ color:#009900;}
.nums em{ color:#444444;}
/*130722*/
.bm{ margin:0 auto; width:960px; font:12px/1.5 Tahoma,'Microsoft Yahei','Simsun'}
.bm, .bn {
margin-top: 5px;
}

.cl:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

#pgt .pg, #pgt .pgb {
margin-top: 0px;
}

.pg, .pgb {
line-height: 26px;
}

.pg {
float: left;
}
.y {
float: left;
}
.pg a:hover, .pgb a:hover {
border-color: #369;
color: #369; text-decoration:none
}
.pg a, .pg strong, .pgb a, .pg label {
float: left;
display: inline;
margin-left: 4px;
padding: 0 8px;
height: 26px;
border: 1px solid;
border-color: #C2D5E3;
background-color: #FFF;
background-repeat: no-repeat;
color: #333;
overflow: hidden;
text-decoration: none;
}

.pg a.nxt, .pgb a {
padding: 0 10px;
}
.pgb a {
padding-left: 25px;
background-image: url(images/arw_l.gif);
background-position: 10px 50%;
}
.pg a.prev {
background-image: url(images/arw_l.gif);
background-position: 50% 50%;
}

.pg label .px {
padding: 0;
width: 25px;
height: 16px;
line-height: 16px; text-align:center;
}

.px, .pt, .ps, select {
border: 1px solid;
border-color: #848484 #E0E0E0 #E0E0E0 #848484;
background: #FFF url(images/px.png) repeat-x 0 0; vertical-align:baseline;
color: ;
}

.pg a.nxt {
padding-right: 25px;
background-image: url(images/arw_r.gif);
background-position: 90% 50%;
}
.feannok{ float:left}
.pgb a.nomar_l{ margin-left:0px;}


.libi_faie {
float: right;
color: #09C;
cursor: pointer;
width: 88px;
height: 29px;
background: url("http://img.360che.com/style/bbs/club/v2content/images_1/con_bg.png") no-repeat 0 -620px;
font-size: 14px;
font-weight: 700;
line-height: 28px;
text-align: center;
overflow: hidden;
}
.libi_faie a {
display: block;
line-height: 24px;
color: #FFF;
}
.libi_faie a:hover{color:#fff;  text-decoration:none; }
.nof{ float:left}
.pg strong{background:#E5EDF2}

