<extend name="Public/sbase"/>
<block name="main">

    <div class="es_main" style="margin-botton:20px; height:60px ">
        <div class="sift_out">
            <div class="filter">

                <div class="px0904">排序:
                </div>
                <form method="GET" class="sort" name="listform" action="{:U('Sproduct/index')}">
                    <input type="hidden" name="cid" value="{$cid}">
                    <ul>
                        <li style="float:left" id="addtime" data="addtime">

                            <input type="submit"  value='上架时间'
                            <if condition="$_GET['sort'] eq null">class="xzpx_xia"
                            </if>

                            <if condition="$_GET['sort'] eq 'addtime'">
                                <if condition="$_GET['order'] eq  'ASC'">class="xzpx_sh"
                                <else/>class="xzpx_xia"
                                </if>
                            <else/> class="mrzt"
                            </if>

                            />
                        </li>

                        <li style="float:left" id="price" data="price">
                            <input type="submit"  value="价格"
                            <if condition="$_GET['sort'] eq 'price'">
                                <if condition="$_GET['order'] eq  'ASC'">class="xzpx_sh"
                                <else/>class="xzpx_xia"
                                </if>
                            <else/> class="mrzt"
                            </if>
                            />
                        </li>
                        <li style="float:left" id="salenum" data="salenum">
                            <input type="submit" value="销量"
                            <if condition="$_GET['sort'] eq 'salenum'">
                                <if condition="$_GET['order'] eq  'ASC'">class="xzpx_sh"
                                <else/>class="xzpx_xia"
                                </if>
                            <else/> class="mrzt"
                            </if>
                            />
                        </li>

                    </ul>

                    <input name="cid" value="{$cid}" id="cid" type="hidden">
                    <input name="order" id="order" value="DESC" type="hidden">
                    <input name="sort" id="sort" value="addtime" type="hidden">

                    <script type="text/javascript">
                        var cid=$('#cid').attr('value');
                        $(function(){
                            $('#addtime').click(function(){
                              order($(this));
                            })

                            $('#price').click(function(){
                              order($(this));
                            })
                            $('#salenum').click(function(){
                              order($(this));
                            })
                        })

                        function order(obj){
                                var order='DESC';
                                var sort=obj.attr('id');
                                console.log(obj.find('input').attr('class'));
                                if(obj.find('input').attr('class')
                                    !='xzpx_sh') {

                                    obj.find('input').attr('class','xzpx_sh');
                                    order='ASC';

                                }else{
                                    obj.find('input').attr('class','xzpx_xia');
                                }

                               obj.siblings('li').find('input').attr('class','mrzt');
                               $('#sort').attr('value',sort);
                               $('#order').attr('value',order);

                                }
                    </script>

                </form>

            </div>
            <div class="shift">
                <a href="javascript:;" class="datuxz">大图</a>
                <a href="javascript:;" onclick="javascript:display_mode('list')" class="lbwxz">列表</a>
            </div>
        </div>
    </div>
    <div class="es_main">
        <div class="listshow" >
            <foreach name="data" item="vo">
            <div style="margin:8px 20px 20px 8px;width:170px;height:260px;float:left;border:1px solid #ccc">
                <div class="tjtj_pic">
                    <a href="{:U('Sproduct/proDetail',array('id'=>$vo['id']))}" target="_blank">
                        <img src="__PUBLIC__/shop/{$vo['image']}" alt="{$vo['proname']|msubstr=0,30,'utf-8',true}">
                    </a>
                </div>
                <div class="tjtj_bt">
                    <a href="{:U('Sproduct/proDetail',array('id'=>$vo['id']))}" target="_blank">{$vo['proname']|msubstr=0,30,'utf-8',true}

                    </a>
                </div>
                <div class="tjtj_jg">
                    商城价： <font>{$vo['price']}元</font>
                </div>
            </div>
            </foreach>


        </div>

    </div>


    <!--页数-->
    <div class="es_main">
        <div class="ecshop_page" id="pager">


            <span>{$show}</span>



        </div>
    </div>
    <div class="es_main" style="display:none">
        <div class="guanggaowei">
            <div class="ad_left">
                <a href="###">
                    <img src="__PUBLIC__/shop/home/images/ggshifan1.jpg"></a>
            </div>
            <div class="ad_right">
                <a href="###">
                    <img src="__PUBLIC__/shop/home/images/ggshifan2.jpg"/></a>
            </div>
        </div>
    </div>

    <meta http-equiv="content-type" content="text/html; charset=gbk">
</block>