<extend name="Public/sbase"/>

<block name="main">
    <div class="gonndo">
       <img  src="__PUBLIC__/shop/home/images/0f0005lth4dW924OdKxpd0.jpg"/>
    </div>

    <div class="es_main">
        <div class="right_sp_0920">
            <!--<script language="javascript">
    function openPic(){
        window.open($('.bigimg').attr('src'));
    }
</script>-->
            <div id="preview">
                <div onclick="openPic()" id="smallImg" class="jqzoom" style="border:1px solid #ccc;border-right:1px solid #ccc;float:left;">
                    <img data-bd-imgshare-binded="1" jqimg="" src="__PUBLIC__/shop/{$data['image']}" alt=""  id="sImage" width="350">
                </div>

                <!-- <div onclick="openPic()" id="bigImg" class="jqzoom" style="border:1px solid #ccc;border-left:1px solid #ccc;float:left;position:absolute;left:550px;top:233px;z-index:99999999999999;overflow: hidden;width:400px;height:350px">
                <img data-bd-imgshare-binded="1" jqimg="" src="__PUBLIC__/shop/{$data['image']}" alt="" width="1750" >
                </div> -->


                <script type="text/javascript">
                    // 放大镜
                    // 1.获取图片对象
                    var sImage = document.getElementById('sImage');
                    var big = document.getElementById('bigImg');

                    // 2.鼠标移入
                    sImage.onmouseover = function(){
                        big.style.display = 'block';
                    }

                    // 3.鼠标离开
                    sImage.onmouseout = function(){
                        big.style.display = 'none';
                    }

                    // 4.鼠标移动事件
                    sImage.onmousemove = function(ent){
                        // 4.1 获取鼠标的位置
                        // 兼容IE 谷歌火狐
                        var e = ent || event;
                        var mx = e.clientX;
                        var my = e.clientY;
                        console.log(mx);
                        console.log(my);
                        // 4.2 获取图片的位置
                        var ix = this.offsetLeft;
                        var iy = this.offsetTop;
                        console.log(ix);
                        console.log(iy);

                        // 4.3 获取鼠标相对于图片的相对位置
                        var x = 5*(mx - ix);
                        var y = 5*(my - iy);
                         console.log(x+':'+y);

                        // 4.4 图片放大了5倍
                        // div.scrollLeft:将div的内容横向偏移
                        // div.scrollTop:将div的内容纵向偏移
                        big.scrollTop = y-300;
                        big.scrollLeft = x-1100;
                    }
                </script>

            </div>
            <form action="{:U('Scart/add')}" method="post" name="ECS_FORMBUY" id="proDetailForm">
                <input type="hidden" name="pid" value="{$data['id']}">

                <div class="summary" >
                    <a name="A4" id="A4"></a>
                    <div class="sp_title">
                        <h1>{$data['proname']}</h1>

                        <div class="sp_ps">
                            <span>弗列加机油滤芯 锡柴6DN专用</span>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <span class="ess_1">市 场 价：</span>
                            <span class="ess_2">{$data['price']/$data['discount']}</span>

                        </li>
                        <li>
                            <span class="ess_4" >商 城 价：</span> <font class="ess_5" id="price">{$data['price']}</font>
                            <span class="ess_6">元</span>
                            <span class="ess_6">
                                为您节省 <font><span class="ess_8">{$data['price']/$data['discount']-$data['price']}</span>
                                    元
                                    <span class="ess_9">
                                    <if condition="$data['discount'] eq 1">(无折扣)
                                    <else/>
                                    ({$data[discount]*10})折
                                    </if>
                                    </span>
                                    </font>
                            </span>
                        </li>
                        <li>
                            <span class="ess_1">用户评论：</span>
                            <a href="#A0" class="ess_7">
                                已有
                                <font>0</font>
                                人评论
                            </a>
                            <div class="zixun">
                                <span class="ess_4">在线咨询：</span>
                                <div class="qqlink">

                                    <img src="__PUBLIC__/shop/home/images/qqjt.png"/>

                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="sum_xz">

                        <dl class="guige">
                            <dt>购买数量：</dt>
                            <dd>
                                <div class="gwc_bt4">
                                    <a class="sp4" id="decrease" href="javascript:void(0);"style=""></a>
                                    <input  class="sp5" size="4" value="1" name="number" id="number" type="text" style="margin-top:1px">
                                    <a  class="sp6" href="javascript:void(0);" id="increase"></a>
                                </div>
                                <span class="danwei">件</span>
                                <span class="kucun">
                                    (库存
                                    <font id="storage">{$data['storage']}</font>
                                    件)
                                </span>
                            </dd>
                        </dl>
                        <div class="heji">
                            <span class="hejisz">
                                小计：
                                <font id="count">{$data['price']}元</font>
                            </span>
                            <button type="submit" id="submit" class="gwc"></button>
                        </div>
                    </div>
                    <div class="tj_sc">
                        <div data-bd-bind="1452220599179" class="bdsharebuttonbox bdshare-button-style0-16">
                            <a href="#" class="bds_more" data-cmd="more">分享到：</a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="xiuzheng0920" style="margin-left:100px">

        <script type="text/javascript">
            $(function(){
                var reg=/^[0-9]*$/;
                var storage=parseInt($('#storage').html());
                var price=parseInt($('#price').html());



                $('#proDetailForm').submit(function(){
                    if(storage==0){
                        alert('商品卖完，不能添加购物车');
                        return false;
                    }
                     var value=$('#number').val();
                    if(value>storage){
                        alert("超过购买数量！请重新填写!");
                        return false;
                    }
                    return true;
                })
                $('#number').blur(function(){
                    var value=$('#number').val();
                    if(!reg.test(value)){
                        alert('请输入大于0的整数');
                    }

                    if(value>storage){

                        alert("超过购买数量！请重新填写!");



                    }

                })

                $('#decrease').click(function(){
                    var value=parseInt($('#number').val());
                    if(value<=1){
                        value=1;
                    }else{
                        value--;
                    }

                    $('#number').val(value);

                    $('#count').html(parseFloat(value*price).toFixed(2)+'元');

                })

                $('#increase').click(function(){
                    var value=parseInt($('#number').val());
                    console.log(value);

                    if(value<storage){
                        value++;
                    }else{
                        value=storage;
                        alert("超过购买数量！请重新填写!");

                    }

                    $('#number').val(value);
                    $('#count').html(parseFloat(value*price).toFixed(2)+'元');

                })

            })


</script>
            <div class="es_right">


                <div class="es_details">
                    <a name="A1" id="A1"></a>
                    <ul class="es_details1 cwj_es_details1">
                        <li>
                            <span>商品描述</span>
                        </li>
                        <li>
                            <a href="#A2">适用车型</a>
                        </li>
                        <li>
                            <a href="#A0">购买评论</a>
                        </li>
                        <li>
                            <a href="" target="_blank">售后服务</a>
                        </li>
                        <li>
                            <a href="" target="_blank">如何购买</a>
                        </li>
                    </ul>
                    <div class="es_details2">
                        <p>
                            <br></p>
                        <p>
                            <span style="line-height: 23.799999237060547px; font-family: 微软雅黑, 'Microsoft YaHei';">
                                <a href="http://360che.taobao.com/" target="_blank" title="卡车之家淘宝商城" style="white-space: normal; background-color: rgb(255, 255, 255);">
                                    <img data-bd-imgshare-binded="1" src="__PUBLIC__/shop/home/images/1432200872321652.jpg" title="1432200872321652.jpg" alt=""></a>
                            </span>
                        </p>



                    </div>
                    <a name="A2" id="A2"></a>



                    <div class="es_details3" >
                        <div class="wupin" style="word-break: break-all;word-wrap: break-word;">

                            {:htmlspecialchars_decode($data['description'])}

                        </div>
                        <div class="wp_jtpl" id="ECS_COMMENT">
                            <meta http-equiv="content-type" content="text/html; charset=gbk">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </block>