#cnblogs_post_body.cnblogs-markdown code{
padding:1px 5px !important;
background-color:#fff !important;
}
#cnblogs_post_body.cnblogs-markdown pre code{
padding:5px 5px !important;
display:block;
background-color:#fff !important;
}
#cnblogs_post_body h3{
border-bottom:0 !important;
}