body, button, input, select, textarea {
    font: 12px/1.5em "Helvetica Neue","Microsoft YaHei","Simsun","Arial";
}

/*联系我们页头  linkheader start*/
.linkheader{ margin:0 auto; width:1000px; overflow:hidden; height:60px; padding-top:30px;}
.linkheader a, .linkheader span{ float:left;}
.linkheader a.logo{  width:123px; height:40px; margin-right:20px;}
.linkheader span{ font-size:20px; line-height:22px; color:#f60; padding:17px 0px 0px 20px; border-left:solid 1px #e9e9e9;}
.linkheader a.returnnew{ float:right; margin-top:28px; margin-right:10px;}

/*联系我们页头  linkheader end*/



/*框架*/
.main_topx{ border-top:solid 3px #0f5489;margin:0 auto; width:1002px; }
.main_content{margin:0 auto; width:1000px; overflow:hidden;border:solid 1px #e9e9e9; border-top:0;background:url(images/mainbg.gif) repeat-y; }
.nobg{ background:none}
.main_guide{width:210px;overflow: hidden;float: left;}
.main_subject{ width:748px; float:left; overflow:hidden; padding:26px 0px 0px 40px;}
.main_subject h2{ float:left; width:100%; line-height:32px; color:#333; font-size:25px; font-weight:normal; padding:8px 0px 0px; position:relative;}
.main_subject h2 font{ position:absolute; line-height:18px; color:#c4c4c4; right:42px; top:20px; font-size:12px; font-weight:normal}


/*数字营销平台中心内容*/
.cen_sz{ width:920px; padding:30px 40px; float:left;}
.cen_tit{ width:100%; float:left; margin-bottom:35px;}
.censz01{ width:100%; float:left;}
.censz01_lt{ float:left; width:180px; padding-left:10px; padding-right:60px; background: url(images/arrow-bg.png) no-repeat 200px 55px;}
.censz01_lt ul li{ float:left; width:100%; font-size:14px; line-height:24px;color:#666;}
.censz01_lt ul li strong{ color:#ff6600;font-size: 18px;background: url(images/arrow.png) no-repeat 85px 13px;padding-right: 30px;}
.censz01_lt ul li p{ color:#666; float:left; padding:5px 0px;}
.censz01_lt ul li p i{font-style: normal;color: #f60;}
.censz01_lt ul li span{ color:#ff6600;}
.censz01_rt{ float:left; width:650px;}
.censz01_rt01{ width:100%; float:left; color:#666; font-size:14px;}
.censz01_rt01 strong{ color:#666; font-size:14px; line-height:24px;}
.censz01_rt02{ width:100%; float:left;}
.censz01_rt02 table{width:100%; float:left;}
.censz01_rt02 table tr td{ padding-top:15px; padding-bottom: 5px;vertical-align: top; line-height:40px; text-align:right;}
.tab_left { width:85px;padding-right:10px; font-size: 14px; color:#ff6600; }
.tab_left .sign {
font-family: "SimSun";
font-style: normal;
vertical-align: middle;
}
.tab_left em{text-align:right; padding-left: 5px; color:#666;width: 70px;display: inline-block;}
.tab_right{ float:left; width:510px;}

.four1 { float: left; width:500px; height: 40px; background: url(images/sz_put1.png) no-repeat;}
.four1 select { float: left; width:500px; border: none; background: none; padding: 10px 0px 10px 10px; font-size: 14px; height: 40px; color: #666; line-height: 40px; background: transparent; appearance:none; -moz-appearance:none;  -webkit-appearance:none;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.four1 select { float: left; width: 500px; border: none; background: none; padding: 0px 45px 0px 10px; line-height: 40px; height: 40px; -webkit-appearance: none; background: transparent; background: url(images/sz_put1.png) no-repeat; }
}
.four2 { float: left; width:245px; height: 40px; background: url(images/sz_put2.png) no-repeat; margin-right:10px;}
.four2 select { float: left; width:245px; border: none; background: none; padding: 10px 0px 10px 10px; font-size: 14px; height: 40px; color: #666; line-height: 40px; background: transparent; appearance:none; -moz-appearance:none;  -webkit-appearance:none; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
.four2 select { float: left; width: 245px; border: none; background: none; padding: 0px 45px 0px 10px; line-height: 40px; height: 40px; -webkit-appearance: none; background: transparent; background: url(images/sz_put2.png) no-repeat; }
}
select::-ms-expand { display: none; }

.put_tex{ width:100%; float:left; text-align:left;}
.put_tex a{float:left;padding-left: 10px;color:#666; font-size:14px;}
.put_tex a:hover{color:#f60;}
.put_tex span {}
.put_tex .prompt-text{padding-left: 10px;color:#f60; font-size: 14px;}
.put_tex span input.put01{ float:left; width:233px; height:38px; border:1px solid #e9e9e9; line-height:38px; background:#fff; padding-left:10px; font-size:14px;}
.put_tex span label,.censz01_rt02 table tr td .put_tex label{ cursor:pointer; float:left; line-height:40px; color:#999; font-size:14px;}
.put_tex span label{ padding:0px 5px 0px 15px;}
.put_tex span label input.put02,.censz01_rt02 table tr td .put_tex label input.put02{ float:left; width:15px; height:15px; margin:14px 5px 0px 0px;}
.put_tex span i { float:left;}
.put_tex span i img{ margin: 10px 5px 0px 10px; float:left;}
.put_tex span em{ float:left; line-height:40px; color:#d60000; font-size:14px;}

/*表格*/
#wrapper{ width:500px; float:left; text-align:center;}
.list { max-height: 225px; overflow: hidden; line-height:35px; width:498px; float:left; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9;}
.list table{ height: 30px; line-height: 30px;}
.button1{border: 1px solid #e9e9e9; border-top: 0; text-align: left; padding-left:14px; background: #fff url(images/tab_sjx02.png) no-repeat 120px 16px; width:130px; height:35px; line-height: 35px; display:inline-block;font-size: 14px; color: #999; cursor: pointer; }
.button1:hover{ text-decoration:underline; color:#d60000;}
#wrapper.visible .list{ max-height:1000px;}
#wrapper.visible .button1{ display: none;}
.ta_more1 { width:498px; float:left; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9; height: 221px; overflow: hidden; line-height:35px; *height:213px;}
.ta_more3 { width:498px; float:left; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9;}
.ta_more2 { width:498px; float:left; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9; line-height:35px; }
.moreinp1 { padding: 0px 10px 0px; width: 130px; margin: 0 auto; }
.moreinp1 input.hide1 { border: 1px solid #e9e9e9; border-top: 0; text-align: left; padding-left:8px; background: #fff url(images/tab_sjx02.png) no-repeat 112px 16px; width:130px; height:35px; line-height: 35px; float: left; font-size: 14px; color: #999; cursor: pointer; }
.moreinp1 input.hide2{ border:1px solid #e9e9e9; border-top:0; text-align:left; padding-left:8px; background: #fff url(images/tab_sjx01.png) no-repeat 112px 16px;width:130px;height:35px;line-height:35px; float:left;font-size:14px; color:#999; cursor:pointer;}
.moreinp1 input.hide1:hover, .moreinp1 input.hide2:hover{ color:#d60000; text-decoration:underline;}
.tab_cen02{ width:500px;float:left; margin-top:15px;padding-left:95px;}
.tab_cen02_tit{ width:498px; height:38px; line-height:38px; background:#fafafa; border:1px solid #e9e9e9; float:left;}
.tab_cen02_tit h5{ float:left; font-size:14px; color:#666;padding-left:10px;}
.tab_cen02_tit h5 strong{font-weight:normal;}
.tab_cen02_nr{ width:498px; float:left;}
.tab_cen02_nr table{ width:100%; float:left;}
.tab_cen02_nr table tr:hover{ background:#fafafa;}
.tab_cen02_nr table tr td.tab02_lt{ width:98px; text-align:center; overflow:hidden; border-bottom:1px solid #e9e9e9;}
/*.kuandu01*/{ margin:0px auto;width:100%; height:100%; line-height:auto; text-align:center;}
.kuandu01 label{ width:100%; height:100%; display:inline-block;cursor: pointer;}
.tab_cen02_nr table tr td.tab02_lt div input.tab02_ltcen01{ width:13px; height:13px; cursor:pointer;}
.tab_cen02_nr table tr td.tab02_rt{ width:399px;border-left:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;}
.tab02_rtcen01{ width:378px;float:left;height: 44px; padding:15px 0px 15px 20px;}
.tab02_rtcen01 ul li{ float:left; width:100%; font-size:14px; line-height:20px; color:#666;}
.tab02_rtcen01 ul li em{ float:left; padding:0px 5px 0px 0px;}
.tab02_rtcen01 ul li span{ float:left;}
.tab_cen02wz{ width:100%; float:left;}
.tab_cen02wz p{ font-size:14px; float:left; width:100%; line-height:24px;}
.tab_cen02wz p.hong{ color:#d60000;}

.tab_cen03{ float:left; width:100%; padding:10px 0px 5px;}
.tab_cen03_put01{ float:left;padding-left:95px;}
.tab_cen03_put01 span{ width:245px; line-height:50px; height:50px; float:left; font-size:24px; color:#fff; background:#ff6600; text-align:center; cursor:pointer}
.tab_cen03_put01 span:hover{ color:#fff; text-decoration:none;opacity: 0.8;filter: alpha(opacity=80);}


.chabtn{width: 245px;
line-height: 50px;
height: 50px;
float: left;
font-size: 24px;
color: #FFF;
background: #F60 none repeat scroll 0% 0%;
text-align: center;
cursor: pointer;border:0;}