/*页头*/
.autheader { height: 40px; background: #333333; position: relative; z-index: 1000; margin:0 auto }
.autheader .autmain { width: 1000px; margin: 0 auto; text-align: left; position: relative; z-index: 10; background: #333333; }
.autmain_left { float:left; height:40px; z-index:10 }
.autmain_left li { float:left; height:40px; line-height:40px; width: }
.autmain_left li.iconaut { background:#ff6600 }
.autmain_left li a { display:block; padding:0px 18px; height:40px; line-height:40px; color:#fff; font-size:14px; float:left }
.autmain_left li.iconaut a { color:#f7f7f7 }
.autmain_left ul li a:hover { background:#292929; text-decoration:none; color:#fff }
.autline { width:2px; background:url(../images/backline.png) no-repeat; float:left; height:40px; }
.autmain_right { float:right; position:relative; height:40px; }
.aut_login { float:left; height:40px; z-index:10; width:auto;}
.aut_map { float:left; height:40px; z-index:10; width:auto;  }
.aut_login_ma { display:block; float:left; position:relative; padding:0px 28px 0px 10px; font-size:12px; color:#999999; height:40px; line-height:40px; }
.aut_login_ma em { display:block; position:absolute; top:17px; right:10px; background:url(../images/icon_20140820.png) no-repeat -8px -150px; width:8px; height:4px; }
.aut_login_ma:hover em { background:url(../images/icon_20140820.png) no-repeat 0px -150px; }
.aut_login_ma:hover { color:#fff; text-decoration:none }
.nav_w { z-index: 21; position: absolute; display: none; float: left; clear: both; overflow: hidden; }
.aut_login_box { border:1px solid #1d1d1d; width:99px; border-top:none; top: 40px; background: #fff; right: 89px; height:108px; -webkit-box-shadow: 2px 2px 0px #eaeaea; -moz-box-shadow: 2px 2px 0px #eaeaea; box-shadow: 2px 2px 0px #eaeaea; }
.aut_login_box ul { }
.aut_login_box ul li.aut_l_b_a { width:auto; display:block; background:none; float:none; height:35px; overflow:hidden; cursor:pointer; border-bottom:1px solid #e9e9e9 }
.aut_login_box ul li.aut_l_b_a a { display:block; padding:0px 0px 0px 14px; height:35px; line-height:35px; color:#666666; font-size:14px; }
.aut_login_box ul li.aut_l_b_a a:hover { background:#f7f7f7; color:#d60000; text-decoration:none }
.qqicon { display:block; width:24px; height:18px; background:url(../images/icon_20140820.png) no-repeat 0px 0px; float:left; margin-top:8px; }
.wbicon { display:block; width:30px; height:16px; background:url(../images/icon_20140820.png) no-repeat 0px -30px; float:left; margin-top:8px; }
.wxicon { display:block; width:30px; height:19px; background:url(../images/icon_20140820.png) no-repeat 0px -60px; float:left; margin-top:8px; }
.aut_login_box ul li.aut_l_line { height:1px; background:#e9e9e9; overflow:hidden; width:auto; display:block; float:none; }
.aut_map_box { border:1px solid #1d1d1d; width:278px; border-top:none; top: 40px; background: #fff; right: 1px; height:396px; -webkit-box-shadow: 1px 1px 0px #eaeaea; -moz-box-shadow: 1px 1px 0px #eaeaea; box-shadow: 1px 1px 0px #eaeaea; }
.aut_map_a { border-bottom:1px solid #e9e9e9; padding:10px 0px 10px 28px; overflow:hidden }
.aut_m_a_a { color:#999999; height:26px; line-height:26px; }
.aut_m_a_a1 { line-height:26px; }
.aut_m_a_a1 span { padding:0px 12px; color:#e9e9e9; display:block; height:26px; float:left }
.aut_map_mor { height:53px; line-height:53px; text-align:right; padding-right:40px; }
.aut_m_a_a1 a { width:54px; text-align:left; display:block; height:26px; float:left }
.autmain:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.login_che { float:left; height:40px; z-index:10; width:auto; padding-right:0px; }
.loginaq { display:block; float:left; position:relative; padding:0px 15px 0px 15px; font-size:12px; color:#999999; height:40px; line-height:40px; }
.loginaq:hover { color:#fff; text-decoration:none }

/*页头 end*/
/*注册登录页头 registertop start*/
.registertop{ margin:0 auto; width:1000px; overflow:hidden; border-bottom:solid 3px #0f5489; padding:19px 0px 13px; height:60px;}
.registertop_left{ float:left; padding:9px 0px;}
.registertop_right{ float:right; width:630px; height:60px}
.registertop a, .registertop em, .registertop span{ float:left;}
.registertop em{ width:1px; height:30px; background:#e9e9e9; display:inline-block; overflow:hidden; margin:12px 10px 0px 14px;}
.registertop span{ font-size:20px; color:#999; line-height:22px; margin-top:20px;}
.registertop a.return{ float:right; line-height:18px; margin-top:30px;}


/*注册登录页头 registertop end*/

/***/
/*框架*/
.registerfill{margin:0 auto; width:940px; padding:0px 29px 0px; overflow:hidden; border:solid 1px #e9e9e9; padding-bottom:60px;}
.fullwidth{ float:left; width:100%; overflow:hidden;}
.makesure:hover, .makesure2:hover, .makesure4:hover, .makesure5:hover{ background:#ff822f}
.direct_login:hover, .enter2:hover, .makesure3:hover, .makesure6:hover{ background:#105f9b}
/*注册信息填写*/
.registerfill h5{ float:left; color:#666; line-height:40px; font-weight:normal; padding:17px 0px 4px; }
.leftpart{ float:left; width:681px; height:470px; padding-right:32px; border-right:solid 1px #e9e9e9}
.rightpart{float:left; width:194px; overflow:hidden; padding-left:31px; padding-top:26px;}
.part1{ float:left; width:100%; height:40px; margin-bottom:60px;}
.part2{ float:left; width:100%;  height:370px;}
.part2 li{ float:left; line-height:38px; width:100%; padding-bottom:20px;}
.part2 li label{ float:left; width:118px; text-align:right; color:#666; padding-right:4px;}
.part2 li span{ float:left; color:#c4c4c4}
.part2 li font{ float:left; text-indent:20px;}
.part2 li em{ float:left; text-indent:122px; line-height:18px; margin-top:-4px; color:#999}
.part2 li font.correct{ background:url(../images/correct.png) no-repeat 0px 10px; color:#58b850;}
.part2 li font.wrong{ background:url(../images/wrong.png) no-repeat 0px 10px; color:#d60000;}



.enter{ float:left; width:242px; padding:8px 0px 8px 6px; border:solid 1px #e9e9e9; color:#333; margin-right:14px; line-height:20px; }
*html .enter{ float:left; width:242px; padding:10px 0px 10px 6px; border:solid 1px #e9e9e9; color:#333; margin-right:14px; line-height:20px; }
.enter:focus{ border:solid 1px #c4c4c4}
.part2 li span select { border:none; width:104px;  border:1px solid #e9e9e9;  padding:7px 4px 8px 6px; margin:0px; float:left; margin-right:10px; color:#888}
.makesure, .makesure2, .makesure3, .makesure4, .makesure5, .makesure6{ float:left; width:180px; margin-top:20px; font-size:14px; height:38px; background:none; border:none; background:#ff6600; cursor:pointer; line-height:38px; text-align:center; color:#fff; margin-left:122px; margin-right:11px;}
.makesure2{ width:130px; margin-left:0px;margin-top:28px;}
.makesure3{ width:160px; margin-left:0px;margin-top:5px;background:#0f5489; margin-bottom:40px; }
.makesure4{ width:100px; margin-left:0px;margin-top:0px;}
.makesure5{ width:170px;height:50px; margin-left:39px;margin-top:20px;line-height:50px; margin-bottom:12px; }
.makesure6{ width:170px;height:50px; margin-left:39px;margin-top:20px;line-height:50px; margin-bottom:12px;background:#0f5489; }
.rules{ float:left; line-height:18px; margin-top:40px}
.rightpart h4{ float:left; width:100%; line-height:40px; color:#666; font-weight:normal}
.registered{ float:left; width:100%; overflow:hidden; padding-bottom:37px;}
.direct_login{float:left; width:80px; height:25px; background:none; border:none; background:#0f5489; cursor:pointer; line-height:25px; text-align:center; color:#fff;}
.loginqq, .loginweibo, .loginweixin{ float:left; width:69px; padding-left:29px; margin-bottom:15px;  height:28px;border:solid 1px #e9e9e9; line-height:28px; color:#666; text-align:center;}
.loginqq{ background:url(../images/qq.png) no-repeat;}
.loginweibo{ background:url(../images/sina.png) no-repeat;}
.loginweixin{ background:url(../images/weixin08.png) no-repeat;}
.loginqq:hover, .loginweibo:hover, .loginweixin:hover{ border:solid 1px #c4c4c4; text-decoration:none}
.login_express {
    float: left;
    padding-left: 122px;
    color: #666;
    line-height: 18px;
    width: 150px;
}
.login_express input {
    float: left;
}
.login_express input {
    margin-top: 2px;
    height: 14px;
    width: 14px;
    margin-right: 8px;
}
.login_express i {
    float: left;
    white-space: nowrap;
    line-height: 18px;
}
.login_express i {
    font-style: normal;
}
a {
    text-decoration: none;
    color: #03329C;
}
.forget {
    float: right;
    margin-right: 308px;
    line-height: 18px;
}


.part9 {
    float: left;
    width: 100%;
    height: 370px;
}


/*验证手机号*/
.enter2{float:left; width:80px; height:38px; background:none; border:none; background:#0f5489; cursor:pointer; line-height:38px; text-align:center; color:#fff; }
.enter2:disabled{ background:#c4c4c4; color:inherit; color:#666; cursor:default}
.countdown{ float:left; width:250px; clear:both; padding-left:122px; overflow:hidden; line-height:20px; color:#999; margin-top:10px;}
.countdown i{ color:#ff0000; font-style:normal}
/*添加的css*/
.part9{ float:left; width:100%;  height:370px;}
.part9 li{ float:left; line-height:38px; width:100%; padding-bottom:20px;}
.part9 li label{ float:left; width:118px; text-align:right; color:#666; padding-right:4px;}
.part9 li span{ float:left; color:#c4c4c4}
.part9 li font{ float:left; text-indent:20px;}
.part9 li em{ float:left; text-indent:122px; line-height:18px; margin-top:-4px; color:#999999}
.part9 li font.correct{ background:url(../images/correct.png) no-repeat 0px 2px; color:#58b850;}
.part9 li font.wrong{ background:url(../images/wrong.png) no-repeat 0px 2px; color:#d60000;}
/***/

/*页尾*/
.footer_bbs { width: 1000px; margin: 50px auto 0; padding: 10px 0 10px 0; border-top: 3px solid #0f5489; text-align: center; color: #999999; font-size: 12px; }
.footer_bbs p { line-height: 24px; margin: 0; padding: 0; }
.footer_bbs p a { display: inline-block; margin: 0 8px; }
.footer_bbs p .fbbsline { color: #c4c4c4; margin: 0 0px; }
.footios { display: inline-block; background:url(../images/foot_icon.png) no-repeat 0px -8px; width:19px; height:15px; }
.footand { display: inline-block; background:url(../images/foot_icon.png) no-repeat 0px -38px; width:19px; height:15px; }

/**页尾  end*/