.productbox { width: 1000px; margin: 0 auto; overflow: hidden; }
.fn_clear::after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.contan { width: 1000px; margin: 0px auto 30px; float: left; }
.contan_a { border-top: 3px solid #e9e9e9; background: #f7f7f7; height: 57px; }
.conttan_a_l { float: left; line-height: 57px; text-indent: 22px; color: #333333; font-size: 22px; height: 57px; overflow: hidden; font-weight: bold; }
.conttan_a_l a { color: #333 }
.conttan_a_r { float: right; line-height: 30px; padding-top: 15px; padding-right: 10px; color: #666; font-size: 14px; }
.conttan_a_r span { color: #d60000; font-weight: bold; padding: 0px 0px 0px 2px; font-size: 14px; }
.contan_b { background: #02406f; height: 40px; width: 1000px; }
.contan_b ul li { float: left; }
.contan_b ul li a { float: left; display: inline-block; line-height: 40px; font-size: 18px; padding-left: 30px; height: 40px; display: block; color: #fff; border-right: 1px solid #003258; cursor: pointer }
.contan_b ul li a span { float: left; padding-right: 30px; display: block; height: 40px; }
.contan_b ul li.action a { background: #0f5489; color: #fff; }
.contan_b ul li.m_l a { }
.contan_b ul li.no_l a { background: none; }
.contan_b ul li font { color: #fd5004; font-size: 16px; font-weight: normal; }
.contan_b ul li a:hover { background: #0f5489; text-decoration: none }
.contan_b ul li a.wu_rlx1 { border-right: 0; }

.gotop02 { width: 48px; font-size: 12px; text-align: center; text-decoration: none; position: fixed; _position: absolute; left: 50.5%; margin-left: 525px; top: 600px; _top: auto; z-index: 100; font-size: 12px; }
.gotop02 a.gotop02-con { display: inline-block; width: 50px; height: 50px; overflow: hidden; position: relative; color: #888; font-size: 12px; text-decoration: none; line-height: 16px; float: left; }
.gotop02 a.gotop02-con .icon-book { width: 50px; height: 50px; position: relative; left: 0px; top: 0px; overflow: hidden; }
.gotop02 a.gotop02-con .icon-book2 { background: url(../images/iconupfan.png) no-repeat 0px 0px; }
.gotop02 a.gotop02-con .icon-top { width: 50px; height: 50px; background: url(../images/iconupfan.png) no-repeat 0px -58px; position: relative; left: 0px; top: 0px; overflow: hidden; }
.gotop02 a.gotop02-con span { display: inline-block; width: 30px; height: 32px; text-align: center; padding: 3px 10px; line-height: 16px; position: absolute; left: 1px; top: 6px; cursor: pointer; }
.gotop02 a.gotop02-con:hover { color: #fff; background-color: #0f5489; }
.gotop02 a.gotop02-con:hover i, .gotop02 a.gotop02-con span { display: none; }
.gotop02 a.gotop02-con:hover span, .gotop02 a.gotop02-con i { display: inline-block; font-style: normal }
.gotop02 a.gotop03-con { display: inline-block; width: 50px; height: 50px; overflow: hidden; position: relative; color: #fff; font-size: 12px; text-decoration: none; line-height: 16px; float: left; background: #ff6600; margin-bottom: 10px; }
.gotop02 a.gotop03-con span { display: inline-block; width: 30px; height: 32px; text-align: center; padding: 3px 10px; line-height: 16px; position: absolute; left: 1px; top: 6px; cursor: pointer; }
.gotop02 a.gotop03-con:hover { background: #ff761b; text-decoration: none; color: #fff }
/*Ò³½Å*/
.pageboxtom { float: left; clear: both; width: 100%; border-top: 1px solid #e9e9e9; }
.pages { text-align: center; margin: 30px auto 0px; line-height: 15px; font-family: Arial; height: 32px; font-size: 16px; }
.pages a { display: inline-block; margin: 0px 1px 0px 0px; padding: 8px 11px 7px 11px; border: 1px #e9e9e9 solid; background: #fff; border-radius: 1px; color: #666666; text-decoration: none; }
.pages a:hover { border: 1px solid #0f5489; color: #666666; text-decoration: none; }
.pages span { display: inline-block; margin: 0 5px 0px 0px; padding: 8px 11px 7px 11px; border: 1px #0f5489 solid; background: #0f5489; border-radius: 1px; color: #fff; font-weight: bold; }
.pages .pages-wd { padding: 8px 0px 7px 0px; width: 75px; color: #999; }
.pagestip { color: #999999; line-height: 18px; text-align: center; font-size: 12px; height: 20px; padding-bottom: 20px; }
/*ÄÚÈÝÄ£¿é*/
.m_p_boxa { width: 770px; padding-right: 15px; border-right: 1px solid #e9e9e9; }
.m_p_boxb { width: 200px; }
.m_p_rbox { float: left; width: 100%; border-top: 3px solid #0f5489; overflow: hidden; padding-bottom: 20px; }
.cennerh3 { float: left; width: 100%; height: 44px; line-height: 44px; overflow: hidden }
.cennerh3 label { color: #999 }
.cennerh3 h3 { float: left; width: auto; font-size: 16px; font-weight: bold; }
.cennerh3 h3 span { font-size: 14px; font-weight: bold; color: #333; padding-left: 8px; }
.cennerh3 h3 a { color: #333; }
.cennerh3 h3 a label { color: #999; font-size: 12px; font-weight: normal; cursor: pointer }
.cennerh3 h3 a:hover, .cennerh3 h3 a label:hover { color: #d60000; text-decoration: none }
.m_p_jxfw li { height: 26px; line-height: 26px; width: 100%; float: left; clear: both; font-size: 14px; }
.m_p_jxfw label { width: 60px; float: left; }
.m_p_cxxg li { line-height: 18px; width: 188px; float: left; clear: both; background: url(../images/huib.jpg) no-repeat 0px 14px; padding-left: 12px; padding-top: 6px; padding-bottom: 6px; font-size: 14px; }
/*Ö÷ÒªÄÚÈÝ¿ªÊ¼*/
.center_lt { float: left; width: 400px; }
.center_rt { float: right; width: 350px; padding: 0px 0px 0px 20px; }
.cen01 { width: 400px; }
.lt_cen01 { width: 270px; margin-bottom: 20px; }
.lt_cen01 dl dt { width: 270px; height: 180px; overflow: hidden; }
.rt_cen01 { width: 120px; margin-bottom: 20px; }
.rt_cen01 dl dt { width: 120px; height: 80px; overflow: hidden; }
.lt_cen01 dl dt a img:hover, .rt_cen01 dl dt a img:hover { filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; }
.cen02 { width: 400px; }
.top_cen02 { width: 100%; }
.top_cen02_lt { float: left; line-height: 30px; }
.top_cen02_lt strong { float: left; font-size: 16px; color: #333; }
.top_cen02_lt span { float: left; font-size: 16px; color: #d60000; font-weight: bold; }
.top_cen02_lt span a { color: #d60000; }
.top_cen02_lt em { float: left; font-size: 14px; color: #999; }
.top_cen02_rt { float: right; }
.top_cen02_rt span input.input01 { width: 80px; height: 30px; line-height: 30px; float: left; background: #ff6600; font-size: 14px; color: #fff; border: none; cursor: pointer; }
.top_cen02_rt span input.input02 { width: 80px; height: 30px; line-height: 30px; float: left; background: #c4c4c4; font-size: 14px; color: #fff; border: none; }
.bot_cen02 { width: 100%; }
.bot_cen02 ul li { float: left; width: 100%; line-height: 28px; font-size: 14px; }
.bot_cen02 ul li strong { float: left; width: 75px; font-size: 14px; color: #999; font-weight: normal; line-height: 28px; }
.bot_cen02 ul li p { float: left; width: 320px; line-height: 28px; color: #333; font-size: 14px; }
.bot_cen02 ul li p span { float: left; padding-right: 8px; }
.bot_cen02 ul li p span a { color: #333; }
.bot_cen02 ul li p span a:hover { color: #d60000; }
.orange-btn{color: #fff;text-align: center;font-size: 16px;display: block;width: 150px;height:35px;line-height: 35px;background-color: #ff6600;}
.orange-btn:hover{text-decoration: none;color: #fff;}
.bot_cen02 .orange-btn{margin: 10px 0 20px 75px;}
.bot_cen02 .mar-l{margin: 10px 0 20px 0;}

.cen03 { width: 350px; }
.cen03 h4 { width: 100%; overflow: hidden; line-height: 26px; padding-bottom: 5px; }
.cen03 h4 span { color: #d60000;  font-size: 16px; text-align:center; }
.cen03 h4 span a { color: #d60000; }
.cen03 h4 span a:hover { color: #d60000; }
.cen03 h4 strong { color: #999; float: right; font-size: 14px; font-weight: normal; }
.cen03 h4 strong a { color: #999; }
.cen03 h4 strong a:hover { color: #d60000; }
.cen03 h5 { width: 100%; color: #333; line-height: 26px; overflow: hidden; padding-bottom: 5px; padding-top: 15px; }
.cen03 h5 span { color: #999; float: left; font-size: 16px; }
.cen03 h5 span a { color: #333; }
.cen03 h5 span a:hover { color: #d60000; }
.cen03 h5 strong { color: #999; float: right; font-size: 14px; font-weight: normal; }
.cen03 h5 strong a { color: #999; }
.cen03 h5 strong a:hover { color: #d60000; }
.cen03_ul { width: 100%; border-bottom: 1px solid #e9e9e9; overflow: hidden; padding-bottom: 10px; }
.cen03_ul ul li { float: left; width: 340px; line-height: 32px; color: #666; font-size: 14px; background: url(../images/huib.jpg) no-repeat left center; padding-left: 5px; }
.cen03_ul ul li strong { color: #999; font-weight: normal; font-size: 14px; float: left; padding-right: 5px; }
.cen03_ul ul li strong a { color: #999; float: left; }
.cen03_ul ul li strong a:hover { color: #d60000; }
.cen03_ul ul li strong i { float: left; font-family: "ËÎÌå"; font-size: 12px; color: #c4c4c4; padding-left: 3px; font-style: normal; }
.cen03_ul ul li p { float: left; width: 270px; text-align: left; font-size: 14px; color: #333; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; }
.cen03_ul ul li p a { color: #333; }
.cen03_ul ul li p a:hover { color: #d60000; }
.cen03_ul ul li span { float: left; width: 290px; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; font-size: 14px; color: #333; }
.cen03_ul ul li span a { color: #333; }
.cen03_ul ul li span a:hover { color: #d60000; }
.cen03_ul ul li font { float: right; font-size: 12px; color: #999; }


/* 2015.08.27 JSÇÐ»»Ð§¹û ÄÚÈÝ*/
.js_switch1 { width: 770px; float: left; text-align: left; border-top: 3px solid #0f5489; margin-top: 30px; }
.js_switch1 .hd { height: 46px; line-height: 46px; border-bottom: 1px solid #e9e9e9; position: relative; }
.js_switch1 .hd span { float: left; color: #333; font-size: 16px; text-align: left; line-height: 47px; font-weight: bold; border-right: 1px solid #e9e9e9; }
.js_switch1 .hd ul { float: left; position: relative; top: -1px; height: 46px; }
.js_switch1 .hd ul li { float: left; cursor: pointer; color: #333; height: 46px; line-height: 46px; width: 60px; border-right: 1px solid #e9e9e9; text-align: center; color: #333; font-size: 16px; margin-top: 2px; font-weight: bold; }
.js_switch1 .hd ul li.on { height: 47px; line-height: 47px; color: #0f5489; background: url(../images/cx_hovx1.png) repeat-x bottom center; margin-top: 1px; }
.js_switch1 .bd { zoom: 1; }
.cx_table01 { width: 100%; float: left; }
.cxtab_cen1 { width: 100%; }
.cen_a1 { }
.ta_more1 { width: 770px; line-height: 24px; }
.ta_more2 { width: 770px; line-height: 24px; }
.moreinp1 { padding: 0px 10px 0px; width: 85px; margin: 0 auto; }
.moreinp1 input.hide1 { border: 1px solid #e9e9e9; border-top: 0; text-align: left; padding-left:40px; background: #fff url(../images/cx_tg1.png) no-repeat 100px 12px; width: 150px; height: 30px; line-height: 25px; float: left; font-size: 14px; color: #999; cursor: pointer; }
.moreinp1 input.hide2{ border:1px solid #e9e9e9; border-top:0; text-align:left; padding-left:40px; background: #fff url(../images/cx_tg2.png) no-repeat 100px 12px;width:150px;height:30px;line-height:25px; float:left;font-size:14px; color:#999; cursor:pointer;}
.tablecen1 { position: relative;left:0;top:0;width: 100%; }
.tablecen1 table { width: 100%; margin-top: 20px; float: left; }
.tablecen1 table tr th { background: #f7f7f7; height: 30px; line-height: 30px; font-size: 14px; text-align: left; color: #999; font-weight: normal; padding-right: 10px; }
.tablecen1 table tr td { line-height: 22px; font-size: 14px; text-align: left; padding-right: 10px; border-bottom: 1px solid #e9e9e9; }
.tablecen1 table tr td div p a { color: #333; }
.tablecen1 table tr td div p a.red { color: #d60000; }
.tablecen1 table tr td div p a:hover { color: #d60000; }
.tablecen1 table tr.backbj {}
.tablecen1 table tr.backbj:hover td { background: #fffbe2; position: relative; }
.tablecen1 tr.backbj:hover .tabdiv2 input.bot2{background-color: #ff6600;}
.orange-border{position: absolute;left:0;top:0;border: 1px solid #ff6600;width: 768px;height: 60px}


.tablecen1 li{overflow: hidden;}
.tablecen1 .caption,.tablecen1 .caption:hover{background: #f7f7f7; height: 30px; line-height: 30px; font-size: 14px; text-align: left; color: #999; font-weight: normal; padding-right: 10px;}
.tablecen1 .caption .twd1,.tablecen1 .caption .twd2,.tablecen1 .caption .twd3,.tablecen1 .caption .twd4,.tablecen1 .caption .twd5{ padding-left: 5px;height: 30px; line-height: 30px; }
.twd1,.twd2,.twd3,.twd4,.twd5{float: left;line-height: 22px; font-size: 14px; text-align: left; }
.backbj .twd1,.backbj .twd2,.backbj .twd3,.backbj .twd4,.backbj .twd5{padding-left: 5px;}
.backbj .twd2,.backbj .twd3,.backbj .twd4,.backbj .twd5{margin:20px 0 0 0;}
.twd5 a{color: #333;}
.tablecen1 ul { width: 100%; margin-top: 20px;}
.tablecen1 ul li{border-bottom: 1px solid #e9e9e9;position: relative;border-left: 1px solid #fff;border-right: 1px solid #fff;}
.tablecen1 ul li:hover{border:1px solid #ff6600;z-index: 5;margin-top: -1px;background-color: #fffbe2;}
.tablecen1 .backbj:hover .tabdiv2 input.bot2{background-color: #ff6600;}
.tablecen1 ul .caption:hover{border: 1px solid #fff;border-bottom: 1px solid #e9e9e9;}




.twd1 { width: 270px; }
.twd2 { width: 68px; }
.twd3 { width: 80px; }
.twd4 { width: 140px; }
.twd5 { width: 100px; }
.tabdiv1 { width: 100%; float: left; font-size: 14px; }
.tabdiv1 strong { color: #333; border-left: 3px solid #ff6600; float: left; padding-left: 10px; }
.tabdiv1 p { float: left; width: 100%; color: #333; line-height: 22px; height: 44px;overflow: hidden; }
.tabdiv1 p a { color: #333; }
.tabdiv1 p a:hover { color: #d60000; }
.tabdiv1 span {color: #999; line-height: 22px; margin-left: 10px; }
.tabdiv1 span a { color: #999; }
.tabdiv1 span a:hover { color: #d60000; }
.tabdiv2 { width: 100%; float: left; }
.tabdiv2 p { float: left; width: 75px; }
.tabdiv2 input.bot2 { width: 50px; height: 25px; background: #0f5489; line-height: 25px; float: left; color: #fff; font-size: 14px; border: none; cursor: pointer; }
.tabdiv2 input.bot2:hover, .top_cen02_rt span input.input01:hover, .sppic_cen02 dl dt a img:hover { filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; }
.ta2_open1 { width: 770px; text-align: center; float: left; }
.ta2_open1_cen { width: 80px; height: 35px; line-height: 35px; border: 1px solid #e9e9e9; border-top: 0; display: inline-block; }
/*ÊµÅÄÍ¼Æ¬*/
.sppic { width: 770px; float: left; }
.sppic_tit { width: 100%; float: left; border-top: 3px solid #0f5489; margin-top: 30px; height: 44px; line-height: 44px; border-bottom: 1px solid #e9e9e9; }
.sppic_tit h4 { float: left; font-size: 16px; font-weight: bold; color: #333; }
.sppic_tit h4 a { color: #333; }
.sppic_tit h4 a:hover { color: #d60000; text-decoration: none; }
.sppic_tit strong { float: right; font-size: 14px; font-weight: normal; color: #999; }
.sppic_tit strong a.chengse { color: #ff6600; }
.sppic_tit strong a { color: #999; }
.sppic_tit strong a:hover { color: #d60000; }
.sppic_cen { width: 100%; float: left; }
.sppic_centit { width: 100%; float: left; background: #f7f7f7; margin: 20px 0px 0px; }
.sppic_centit h6 { float: left; font-size: 14px; line-height: 30px; height: 30px; padding-left: 10px; border-left: 3px solid #ff6600; }
.sppic_centit h6 strong { color: #333; float: left; }
.sppic_centit h6 font { color: #999; font-weight: normal; float: left; padding-left: 5px; }
.sppic_cen01 { width: 100%; padding-top: 0px; float: left; }
.sppic_cen02 { width: 240px; float: left; padding-right: 25px; padding-top: 15px; }
.sppic_cen02 dl { }
.sppic_cen02 dl dt { width: 240px; height: 160px; overflow: hidden; }
/*¾­ÏúÉÌ*/
.jxs_cen { width: 100%; float: left; }
/*2015.07.29 ÍÆ¼ö¾­ÏúÉÌ - ¾­ÏúÉÌÁÐ±íÄÚÈÝ*/
.cenner_xuan { float: left; width: 100%; font-size: 14px; border-top: 1px solid #e9e9e9; line-height: 50px; }
.cenner_xuanl, .cenner_xuanm { float: left; }
.cenner_xuanl { color: #999; }
.cenner_xuanr { float: right; }
.cenner_xuanm { width: 680px; padding: 0 0 16px 0; }
.cenner_xuanm ul li { float: left; margin: 0 9px 0 9px; }
.cenner_xuanm ul li a { float: left; display: inline-block; color: #333; margin-top: 16px; padding: 0 3px 2px 3px; height: 18px; line-height: 18px; }
.cenner_xuanm ul li a.cenner_on { color: #fff; background: #0F5489; }
.cenner_xuanm ul li a:hover { color: #fff; background: #0F5489; text-decoration: none; height: 18px; line-height: 18px; }
.cenner_xuanr a { padding: 0 15px 0 0; background: url(../images/x_down.png) no-repeat 90% 50%; }
.j_x_d_fr { width: 354px; float: right; padding: 0 0 17px 30px; }
.j_x_d_fl { width: 384px; border-right: 1px solid #e9e9e9; padding-bottom: 17px; }
.sales_newwu { border-bottom: 1px solid #e9e9e9; }
.sales_newwu_box { margin: 88px auto; text-align: center; }
.sales_newwu_box p { color: #c4c4c4; font-size: 24px; margin: 20px 0 0 0; }
.sales_newa { border-top: 1px solid #e9e9e9; }
.j_x_d_1a a { font-size: 16px; font-weight: normal; }
.j_x_d_box_taa { font-size: 14px; }
.box_t_aa { width: 42px; }
.box_t_ba { color: #333; }
.j_x_d_boxa { padding-bottom: 3px; }
.c_mor_ka { font-weight: normal; }
.j_x_d_box_ta table td font { color: #d60000; }
.j_x_xton a { height: 19px; width: 18px; background: url(../images/ruijiannew.png) no-repeat; display: inline-block; }
.sales_new, .c_t_x_2 { float: left; width: 100%; overflow: hidden; }
.cont_ca_bo { float: left; width: 100%; overflow: hidden; height:auto ;}
.j_x_d_f { float: left; width: 360px; padding-bottom: 19px; }
.j_x_d_box { float: left; width: 100%; overflow: hidden; padding: 21px 0px 10px; height: 18px; display: inline-block; overflow: hidden; }
.j_x_d_box_ta table td.box_t_b font { font-size: 14px; font-weight: bold; padding-right: 8px; }
.j_x_d_1 { float: left; padding-right: 5px; line-height: 22px; height: 22px; }
.j_x_d_1 a { font-size: 16px; font-weight: normal; }
.j_x_jian { float: left; color: #969494; width: 38px; height: 22px; line-height: 22px; }
.j_x_d_box_ta { float: left; width: 100%; }
.j_x_d_box_ta table { width: 100%; }
.j_x_d_box_ta table td { vertical-align: top; padding: 2px 0px; }
.j_x_d_box_ta table td font { color: #d60000; padding-right: 5px; }
.no_x_d_f { padding-left: 50px; }
.c_mor_k { float: left; clear: both; width: 100%; text-align: center; height: 54px; line-height: 54px; font-size: 14px; font-weight: nomal; border-bottom: solid 1px #e9e9e9 }
.c_mor_k a i { color: #d60000; padding: 0px 6px; font-style: normal; }
.j_x_xton { background: none; line-height: 18px; font-size: 13px; font-family: Simsun; float: left; height: 16px; width: 15px; color: #fff; text-align: center; margin-right: 5px; margin-top: 1px; }
.j_x_d_box_ta table td.box_t_b label { color: #555; padding-right: 8px; font-size: 14px; }
.j_x_d_box_ta table td.box_t_b strong { color: #d60000; padding-right: 8px; font-size: 14px; }
.box_t_b { font-size: 14px; }
.c_t_x_r { float: right; color: #999; }
.c_t_x_r a { color: #666; }
.c_t_x_r em { color: #c4c4c4; margin: 0px 5px; font-size: 10px; }
.c_t_x_r a:hover { color: #d60000 }
.c_t_x_2 { overflow: hidden; }
.c_t_x_2 table { width: 100%; }
.c_t_x_2 table tr:hover { background: #f7f7f7 }
.c_t_x_2 table tr th { height: 42px; line-height: 42px; border-bottom: solid 1px #e9e9e9; color: #666; }
.c_t_x_2 table tr td { height: 44px; line-height: 44px; border-bottom: solid 1px #e9e9e9; color: #333; }
.ac_a_t { width: 520px; text-align: left; font-size: 14px; }
.ac_b_t { width: 110px; }
.c_t_x_2 table td.ac_b_t, .c_t_x_2 table td.ac_c_t { color: #333; text-align: center; }
.ac_a { font-size: 14px; float: left; display: inline-table; padding-left: 3px; }
.ac_a a { color: #333333; }
.ac_f { float: left; color: #333 }
.ac_f a { color: #333; padding: 0px 2px; }
.c_t_more { overflow: hidden; padding-left: 8px; border-bottom: 1px solid #e9e9e9; height: 44px; line-height: 44px; text-align: right; }
.c_t_more a { font-size: 14px; }
.c_t_more a font { color: #d60000; padding: 0px 5px; }
.ac_time { color: #999 }
.place { float: left; margin-top: 4px; margin-right: 10px; height: 18px; width: 18px; }
.js_b_l_b_xll { border-top: 1px solid #e9e9e9; }
.js_b_l_b { float: left; clear: both; width: 100%; overflow: hidden; line-height: 42px; height: 42px; color: #333; font-weight: 700; font-size: 14px; }
.js_b_l_b1 { width: 360px; float: left; }
.js_b_l_b2 { width: 94px; float: left; text-align: center }
.js_b_l_b3 { width: 208px; float: left; text-align: center }
.js_b_l_b4 { width: 108px; float: left; text-align: center }
.jsd_boxbx { float: left; clear: both; width: 100%; overflow: hidden; }
.jxs_b_ti_box { border-top: 1px solid #e9e9e9; overflow: hidden; float: left; width: 100%; padding: 4px 0px; }
.jxs_b_ti_box_xll { border-top: 0; }
.jxs_b_ti_box:hover { background: #f7f7f7; }
.jxs_b_ti_box.xll_ti_hover { background: #f7f7f7; }
.jxs_b_ti_box.xll_aaa_hover { background: #f7f7f7; }
.jxs_b_ti_box table { width: 100%; }
.jxs_b_ti_box table td { vertical-align: middle }
.jxs_b_t1 { width: 304px; padding-left: 0px; }
.jxs_b_t2 { width: 110px; text-align: center }
.jxs_b_t2 a { color: #d60000; font-size: 14px; }
.jxs_b_t3 { width: 230px; text-align: center; color: #02406f; }
.jxs_b_t3 label { color: #d60000; font-size: 14px; font-weight: bold; }
.jxs_b_t3 strong { font-size: 14px; font-weight: bold; color: #d60000; line-height: 26px; }
.jxs_b_t4 { width: 121px; text-align: center; color: #999999; font-size: 14px; }
.j_x_d_box { float: left; width: 100%; overflow: hidden; padding: 19px 0px 10px; }
.j_x_d_box_ta table td.box_t_b font { font-size: 14px; font-weight: bold; padding-right: 8px; }
.j_x_d_1 { float: left; padding-right: 3px; font-size: 14px; }
.j_x_jian { float: left; color: #969494; width: 58px; height: 22px; line-height: 22px; }
.j_x_d_box_ta { float: left; width: 100%; }
.j_x_d_box_ta table { width: 100%; }
.j_x_d_box_ta table td { vertical-align: top; padding: 2px 0px; }
.box_t_a { color: #999999; font-size: 14px; width: 45px; }
.j_x_xton { float: left; height: 16px; width: 15px; }
.mapmo { background: url(../images/dizix.png) no-repeat 5px 2px; padding-left: 21px; display: inline-block; height: 18px; }
.mapmo:hover { background: url(../images/dizixz.png) no-repeat 5px 2px; }
.dz { line-height: 18px; float: left; margin-right: 3px; font-size: 14px; }
.jxs_b_ti_box table td .j_x_d_box_ta table td { vertical-align: top; }
.dianhua { background: url(../images/telphone.png) no-repeat; display: inline-block; height: 19px; line-height: 19px; padding: 0px 15px 0px 25px; font-weight: 700; font-size: 14px; color: #d60000; }
/*·þÎñÕ¾*/
.wz_cx_baojiatitle h3 span { color: #757575; font-size: 12px; font-weight: normal; padding-left: 8px; }
.areaboxleft a { padding: 3px 1px 2px 2px }
.areaboxleft a span { color: #444 }
.areaboxleft a:hover { text-decoration: none }
.areaboxleft a.jx_ico span { color: #fff }
.jxs_b_p1 { width: 253px; float: left; height: 25px; background: url(../images/jx_x_ln.gif) no-repeat right center }
.jxs_b_p2 { width: 186px; float: left; height: 25px; background: url(../images/jx_x_ln.gif) no-repeat right center }
.jxs_b_p3 { width: 309px; float: left; height: 25px; }
.jxs_b_x1 { padding: 0px; width: 220px; line-height: 52px; }
.jxs_b_x2 { padding: 0px 0px; width: 240px; text-align: center; color: #d60000; line-height: 52px; font-size: 14px; font-weight: bold; }
.jxs_b_x3 { padding: 0; width: 290px; line-height: 52px; font-size: 14px; color: #333; }
.company_b1 { font-weight: bold; font-size: 14px; }
.js_c_l_c { float: left; clear: both; width: 100%; overflow: hidden; line-height: 44px; height: 44px; color: #333; font-weight: 700; border-top: 2px solid #e9e9e9; }
.js_c_l_c1 { width: 227px; float: left; font-size: 14px; color: #333; }
.js_c_l_c2 { width: 220px; float: left; text-align: center; font-size: 14px; color: #333; }
.js_c_l_c3 { width: 300px; float: left; text-align: center; font-size: 14px; color: #333; }
.lis_atboxa { float: left; border-bottom: 1px solid #e8e8e8; height: 48px; width: 100% }
.l_at_ba { float: left; font-size: 16px; background: url(../images/xll_x.jpg) no-repeat right top; height: 49px; line-height: 49px; width: 80px; text-align: center; position: relative; }
.ixou { font-weight: 700; border-bottom: 2px solid #0f5489; position: absolute; top: 45px; left: px; width: 80px; height: 2px; }
.lis_alisbox { float: left; clear: both; width: 100%; padding: 20px 0px; }
/*ÊÓÆµ*/
.video_cen { width: 100%; float: left; }
.video_cen01 { width: 100%; float: left; border-bottom: 1px solid #e9e9e9; }
.video_rt1 { width: 240px; float: left; padding: 20px 25px 15px 0px; }
.video_rt1 dl dt { width: 240px; height: 145px; float: left; overflow: hidden; position: relative; }
.video_rt1 dl dt a img { width: 240px; height: 145px; }
.video_rt1 dl dt a img:hover, .of_note dl dt a img:hover { filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; }
.bofang { width: 50px; height: 50px; position: absolute; background: url(../images/h1.png) no-repeat; top: 35%; left: 38%; }
.bofang:hover { width: 50px; height: 50px; position: absolute; background: url(../images/h2.png) no-repeat; top: 35%; left: 38%; }
.video_rt1 dl dd { width: 100%; float: left; background: #fff; }
.video_rt1 dl dd a:hover { color: #d60000; }
.video_rt1 dl dd span { color: #333; }
.video_rt1 dl dd span a { color: #d60000; font-weight: bold; }
.video_rt1 dl dd span a:hover { text-decoration: underline; }
.video_rt1 dl dd a span i { color: #d60000; font-style: normal; padding: 0px 2px 0px 0px; font-size: 14px; }
.video_rt1 dl dd a span i:hover { text-decoration: underline; }
.one1 { width: 240px; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; float: left; color: #333; font-size: 14px; padding: 8px 0px 3px; line-height: 20px; }
.one2 { width: 240px; float: left; color: #333; font-size: 14px; padding: 8px 0px 3px; line-height: 22px; }
.one1 a, .one2 a { color: #333; }
.one1:hover, .one2 a:hover { text-decoration: underline }
.two { width: 100%; float: left; line-height: 22px; color: #999; font-size: 12px; }
/*ÊÓÆµµ¯³öÄÚÈÝ*/
.xsptcnr { width: 100%; height: 100%; float: left; overflow: hidden; }
.xsptcnra { width: 100%; float: left; }
.round_shade_box { width: 100%; height: 5000px; min-height: 5000px; font-size: 0; display: none; _background: white; background: url(../images/xspbjk.png) repeat; min-width: 100%; float: left; position: absolute; left: 0px; top: 0px; z-index: 10000; }
.round_box_close { background: url(../images/spchacha1.png) no-repeat center; width: 30px; height: 18px; position: absolute; right: 27%; top: 41.1%; }
.round_box_close:hover { background: url(../images/spchacha2.png) no-repeat center; }
.xtknr { width: 750px; float: left; padding: 20px; background: #fff; height: 550px; border: 10px solid #fff; position: absolute; }
.xtknrbt { width: 100%; float: left; line-height: 30px; padding-bottom: 20px; }
.xtknrbt h3 { float: left; font-size: 24px; color: #333; font-weight: normal; line-height: 30px; }
.xtknrbt span { float: right; color: #999; font-size: 24px; line-height: 30px; }
.tc_title1 { width: 850px; }
.close { float: right; background: url(../images/spchacha1.png) no-repeat; width: 18px; height: 18px; }
.close:hover { background: url(../images/spchacha2.png) no-repeat; }
.tc_t_t { float: left; font-size: 24px; color: #333; font-weight: normal; overflow: hidden; width: 100%; }
.tcenle { float: left; height: 650px; width: 750px; }
.tcenri { float: right; padding: 20px 10px 0px 20px; width: 40px; }
.xinspcetnra1 { width: 150px; float: left; border-right: 1px solid #e9e9e9; padding: 20px 13px 17px 12px; border-bottom: 1px solid #e9e9e9; height: 145px; }
.xinspcetnra1 dl dt { width: 150px; height: 100px; float: left; }
.xinspcetnra1 dl dt a img { width: 150px; height: 100px; }
.xinspcetnra1 dl dd { width: 150px; font-size: 14px; line-height: 18px; padding-top: 6px; float: left; }
/*Äú»¹¿ÉÒÔä¯ÀÀ*/
.cenboxtop { float: left; clear: both; width: 100%; border-bottom: 1px solid #e9e9e9; padding: 12px 0px 10px; }
.cenboxtop a { display: inline-block; width: 190px; height: 30px; color: #333; font-size: 14px; line-height: 30px; float: left; }
/*ÓÒ²à - ¹Ø×¢¸Ã³µÏµµÄ»¹¹Ø×¢*/
.of_note { width: 100%; float: left; padding-bottom: 15px; }
.of_note dl { }
.of_note dl dt { width: 200px; float: left; height: 133px; overflow: hidden; }
.of_note dl dd { width: 100%; font-size: 14px; float: left; line-height: 24px; padding-top: 5px; }
.note_cee01 { float: left; color: #333; }
.note_cee01 a { color: #333; }
.note_cee01 a:hover { color: #d60000; }
.note_cee02 { float: right; color: #d60000; font-weight: bold; }
.note_cee02 a { color: #d60000; }
.note_cee02 a:hover { color: #d60000; }
.note-title{color: #333;display: block;}
.clearfix:after {content:"."; display: block; visibility: hidden; clear: both; height:0; font-size:0}
.clearfix {*zoom:1}

/*ÓÒ²à - ¹Ø×¢¸Ã³µÏµµÄ»¹¹Ø×¢*/
.other_cer { width: 100%; float: left; }
.other_cer ul li { width: 188px; float: left; font-size: 14px; background: url(../images/huib.jpg) no-repeat left center; padding-left: 12px; line-height: 32px; }
.other01 { float: left; }
.other03 { float: left; width: 188px; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; }
.other01 a, .other03 a { color: #333; }
.other01 a:hover, .other03 a:hover { color: #d60000; }
.other02 { float: right; }
.other-title{display: block;color: #333;}
.other-title .other02{color: #d60000;}
.other02 a { color: #d60000; }
.other02 a:hover { color: #d60000; }

/* ÓÒ²à - ¾«²Ê»î¶¯ÍÆ¼ö */
.section { width: 200px; overflow: hidden; }
.section ul { width: 200px; }
.section ul li { float: left; margin-right: 14px; margin-bottom: 13px; display: inline; width: 200px; overflow: hidden; position: relative; }
.section ul li .photo { width: 200px; height: 133px; overflow: hidden; }
.section .rsp { width: 200px; height: 100px; overflow: hidden; position: absolute; background: #333; top: 0px; left: 0px; }
.section .text { position: absolute; width: 200px; height: 133px; left: -200px; top: 0px; overflow: hidden; }
.section .text a { text-decoration: none; }
.section .text a:hover { text-decoration: none; }
.section .text a p { width: 165px; line-height: 26px; margin-top: 40px; float: left; text-align: left; padding-left: 20px; font-size: 16px; color: #fff; }
/*¾­ÏúÉÌÎÄÕÂ*/
.list_at_box { float: left; clear: both; width: 100%; overflow: hidden; border-top: 3px solid #0f5489; margin-bottom: 30px; }
.lis_atboxa { float: left; border-bottom: 1px solid #e8e8e8; height: 48px; width: 100% }
.l_at_ba { float: left; font-size: 16px; background: url(../images/xll_x.jpg) no-repeat right top; height: 49px; line-height: 49px; width: 65px; text-align: center; position: relative; color: #333; font-weight: bold; }
.l_at_ba a { color: #333; font-weight: bold; }
.ixou { font-weight: 700; border-bottom: 2px solid #0f5489; position: absolute; top: 45px; left: 0px; width: 65px; height: 2px; }
.l_at_ba a.xll_right_xz { font-weight: bold; color: #0f5489; font-weight: bold; }
.lis_alisbox { float: left; clear: both; width: 100%; padding: 20px 0px; }
.xll_aaa_top { padding: 0px; }
.probox_1 { padding: 20px 0px 11px; margin: 0 auto; overflow: hidden; width: 100%; border-bottom: 1px solid #e9e9e9; }
.probox_1 a { text-decoration: none }
.probox_2 { float: left; width: 240px; margin-right: 20px; }
.probox_3 { float: left; width: 420px; }
.probox_2 dl { float: left; width: 240px; overflow: hidden; margin-bottom: 0px; }
.probox_2 dl dd { float: left; clear: both; width: 160px; line-height: 30px; }
.probox_2 dl dd a { text-decoration: underline; }
.probox_2 dl dd span { color: #d60000; }
.probox_2 dl dt { float: left; width: 240px; height: 160px; position: relative; }
.probox_2 dl dt a { width: 240px; height: 160px; display: table-cell; text-align: center; vertical-align: middle; padding: 0px; }
.probox_2 dl dt a img { vertical-align: middle; z-index: -9; }
.probox_2 dl dt img { max-height: 160px; max-width: 240px; border: medium none; display: block; margin: 0 auto; margin-top:expression((160 - this.height )/2);
padding: 0px; }
.probox_3_1 { float: left; width: 410px; font-weight: bold; padding: 4px 0px 12px; }
.probox_3_2 { float: left; width: 100%; clear: both; color: #333333; }
.probox_3_2 span { color: #888888; width: 60px; display: inline-block }
.probox_3_2 a { color: #333333 }
.probox_3_2 ul li { float: left; line-height: 25px; width: 50%; height: 26px; overflow: hidden; }
.probox_4 { float: right }
.probox_4 .hp-pro-listr-mor, .probox_4 .hp-pro-listr3, .probox_4 .hp-pro-listr2 { width: 120px; color: #333 }
.hp-pro-listr3 { width: 130px; }
.probox_4 .hp-pro-listr3 strong, .probox_4 .hp-pro-listr2 strong { color: #d60000; }
.hp-pro-listr2 strong a, .hp-pro-listr3 strong a { color: #d60000; }
.probox_3_1 a { font-size: 12px; }
.news_dk { float: left; width: 510px; }
.news_dk1 { font-size: 14px; padding-bottom: 10px; line-height: 25px; padding-top: 6px; }
.news_dk1 a { color: #02406f; font-weight: bold; font-size: 16px; }
.news_dk1 a:hover { color: #d60000; text-decoration: none }
.news_dk2 { color: #333; float: left; line-height: 26px; font-size: 14px; position: relative; }
.news_dk2_rl { float: right; position: absolute; bottom: 0px; right: 0px; }
.news_dk2_rl a { color: #999; }
.news_dk3 { color: #999; line-height: 18px; padding-top: 19px; float: left; width:100%;}
.news_dk3a{ float:left;}
.news_dk3a font { float: left; padding-right: 20px; font-size: 12px; }
.news_dk3b a { display: block; height: 30px; color: #c4c4c4; }
.news_dk3b a:hover { color: #0f5489 }
.news_dk3b a .pinglun { background: url(../images/pinglun1.png) no-repeat 0 2px; width: 20px; height: 19px; display: block; float: left; }
.news_dk3b a:hover .pinglun { background: url(../images/pinglun2.png) no-repeat 0 2px; width: 20px; height: 19px; display: block; float: left; }
/*Ã»ÓÐ¾­ÏúÉÌµÄÇé¿öÏÂ*/
.not-found1{width:100%; text-align:center;float:left;padding:90px 0px 70px;border-bottom:1px solid #e9e9e9;}
.not-found1 span{}
.not-found1 p{width: 100%;float:left;text-align:center;font-size: 24px;color:#c4c4c4;line-height: 36px;padding:7px 0px 13px;}
/*ÅÅÐò*/
.jxs_sort { float: right; }
.jxs_sort ul li { float: left; background: url(../images/cx_tg1.png) no-repeat right center; padding: 0px 15px 0px 0px; margin-left: 15px; line-height: 49px; font-size: 14px; }
.jxs_sort ul li a { color: #666; font-size: 14px; }
.jxs_sort ul li a:hover { color: #d60000; }
.jxs_sort ul li a.jxshover { color: #666; font-weight: bold; text-decoration: none; }
.pad_top1 { padding-top: 20px; }
.pad_rt1 { padding-right: 10px; }
.pad_rt2 { padding-right: 0px; }
.pad_bot1 { padding: 8px 0px; }
.pad_bot2 { padding-bottom: 0; }
.pad_bot3 { padding-bottom: 5px; }
.pad_bot4 { padding-bottom: 30px; }
.bor_x3 { border-top: 0; }
.bor_x1 { border-bottom: 0; }
.bor_x2 { border-bottom: 1px solid #e9e9e9; }
.mar_top1 { margin-top: 0; }
.mar_bot1 { margin-bottom: 30px; }
.col_hui1 { color: #666; }

/*½ø¶ÈÌõ¹ý³Ì*/
.process{ width:45px; height:5px; background:#e9e9e9; display:inline-block;vertical-align: middle;}
.process > var{ display:inline-block; vertical-align:top; height:5px; background:#f60;}

/* ¿¨³µÖ®¼ÒÒÆ¶¯APPÏÂÔØ */
.app-down .app,.app-down .wechat-RSS{display: block;color: #d60000;padding: 10px 0 0 110px;height: 100px;line-height: 90px;overflow: hidden;margin-bottom: 10px;}
.app-down img{float: left;}
.app-down .app{background:#f7f7f7;}
.app-down .wechat-RSS{background: url(/images/wechat-RSS.png) no-repeat 10px 10px #f7f7f7;}

/* 微信 */
.app-down a{color: #d60000;}
.weima { float: left; width: 100%; }
.weima dl { width: 284px; float: left; background: #f7f7f7; padding: 10px 0px 10px 10px;}
.weima dl:hover{ background:#f0f0f0;}
.weima dl dt { float: left; width: 100px; }
.weima dl dt img { float: left }
.weima dd { float: left; width: 90px; line-height: 90px; text-align: left }
.weima dl.mar,.weima dl.mar:hover{height:10px;background-color: #fff;padding: 0;margin: 0;}


/*点击获取全部的js*/
.toggle-button{margin:0 auto;padding-left:8px;width: 85px; height: 30px; line-height:30px;font-size: 14px; color: #999; cursor: pointer; border-width:0 1px 1px; border-style:solid;border-color:#e9e9e9;display:block;background:#fff url(../images/cx_tg1.png) no-repeat 70px 50%;}
.toggle-button.colpand{ background-image:url(../images/cx_tg2.png);}

/*20151118 报价提示文案*/
.describe{padding: 15px 0px 0px;color: #ff6600;background: #fff;width: 100%;overflow: hidden;margin-bottom: -10px;}

/* 2016.01.06 新增样式 */
.no-charge .j_x_d_1 a{color:#333;}
.no-charge .j_x_d_1 a:hover{color:#d60000;}
.no-charge .quote .red{color:#666;}
.no-charge .pad_lt1{color:#666;}
.no-charge .box_t_b a{color:#666;}
.no-charge .box_t_b a:hover{color:#d60000;}

.no-charge .j_x_d_1 a{color:#333;}
.no-charge .jxs_b_t2 a,.no-charge .jxs_b_t3 a,.no-charge .box_t_b a,.no-charge .dz{color:#666;}
.no-charge .j_x_d_1 a:hover,.no-charge .jxs_b_t2 a:hover,.no-charge .jxs_b_t3 a:hover,.no-charge .box_t_b a:hover{color:#d60000;}




.contan{margin:0px;}
.contan_xll2{margin-bottom:1px;}
.m_p_boxb{margin-top:28px;}



.contan_b ul li{width:90px;}
.contan_b ul li a{width:90px;padding-left:0px;}
.contan_b ul li a span{padding-right:0px;}
.video_rt1{padding: 20px 16px 15px 0px;}
