<!-- <extend name="Public/base"/> -->
<block name="main">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">修改文章</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form class="form-horizontal" action="{:U('Xarticle/update')}" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">标题：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" value="{$data['title']}" style="width:50%" id="title" placeholder="标题" name="title">
										<input type="hidden" class="form-control" value="{$data['id']}" style="width:50%" id="id" placeholder="" name="id">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">作者：</label>
									<div class="col-sm-10">
										<input type="text" value="{$data['author']}" class="form-control" style="width:50%" id="author" placeholder="作者" name="author"></div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">编辑：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="editor" placeholder="编辑" name="editor" value="{$data['editor']}"></div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">文章分类:</label>
									<div class="col-sm-10">
										<select style="width:50%" class="form-control" name="atype">
                                                <option value="1" {$data['atype']==1?"selected":""}>原创</option>
                                                <option value="2" {$data['atype']==2?"selected":""}>转载</option>
                                        </select>
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">来源：</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" style="width:50%" id="origin" placeholder="来源" value="{$data['origin']}" name="origin"></div>
								</div>

									<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">热点新闻：</label>
									<div class="col-sm-10">

										<label class="radio-inline">
											<input type="radio" name="hot" {$data['hot']==1?"checked":""} id="hot" value="1" />普通新闻
										</label>
										<label class="radio-inline">
											<input type="radio" name="hot" id="hot" value="2" {$data['hot']==2?"checked":""}/>热点新闻
										</label>
									</div>
								</div>

								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">文章分类:</label>
									<div class="col-sm-10">
										<select style="width:50%" class="form-control" name="acid">
                                                <volist name="list" id="vo">
                                                <option value="{$vo['id']}" {$vo['id']==$data['acid']?"selected":""}>{:str_repeat("&nbsp;",$vo['level']*5)}|--{$vo['name']}</option>
                                                </volist>
                                        </select>
									</div>
								</div>

								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">车型分类:</label>
									<div class="col-sm-10">

										<select style="width:50%" class="form-control" name="vid">
											<volist name="listc" id="vo" >
												<if condition="in_array($vo['id'],$pidc)">
												<option value="{$vo['id']}" {$vo['id']==$data['vid']?"selected":""} disabled style="padding-left:{$vo['level']*50}px;">
													{:str_repeat("&nbsp;",$vo['level']*5)}|--{$vo['name']}
												</option>
												<else />
												<option value="{$vo['id']}" {$vo['id']==$data['vid']?"selected":""} style="padding-left:{$vo['level']*50}px;">
													{:str_repeat("&nbsp;",$vo['level']*5)}|--{$vo['name']}
												</option>
											</if>
											</volist>
                                        </select>


									</div>
								</div>
								<div class="form-group">
    								<label for="exampleInputFile" class="col-sm-2 control-label">上传图片：</label>
    								<div class="col-sm-10">
    									<input type="file" name="picname"  class="">
										<img src="{$data['picname']}"  height="60px"/>
    								</div>
  								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">内容：</label>
									<div class="col-sm-10">


										<script id="container" name="content" type="text/plain">
       										{$data['content']}
    									</script>
										<script type="text/javascript">
									        var ue = UE.getEditor('container');
									    </script>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-primary">修改</button>

										<button onclick="javascript:location.href='{:U('Xarticle/index')}';" class="btn btn-primary" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>