<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <script type="text/javascript" src="__PUBLIC__/UEditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/UEditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/admin/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="__PUBLIC__/admin/oneself/css/oneself.css" rel="stylesheet"> -->
    <!-- MetisMenu CSS -->
    <link href="__PUBLIC__/admin/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="__PUBLIC__/admin/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="__PUBLIC__/admin/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__PUBLIC__/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/home/news/js/jquery-1.8.3.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

            <!-- /.navbar-header -->
			<include file="Public/header"/>
           <include file="Public/sidebar"/>

            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">

			<block name="main">主要内容</block>


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="__PUBLIC__/admin/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/admin/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/admin/dist/js/tinymce.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="__PUBLIC__/admin/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="__PUBLIC__/admin/raphael/raphael-min.js"></script>
    <script src="__PUBLIC__/admin/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="__PUBLIC__/admin/dist/js/sb-admin-2.js"></script>

</body>

</html>
